data/templates/*metaphacts*.html
data/repositories/
config/repositories/
/updatecontainer.sh
fielddefinitions.xlsx
ldp/assets/http%3A%2F%2Fwww.metaphacts.com%2Fontologies%2Fplatform%23queryContainer.trig
