body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 1.6em;
  font-weight: 400;
}
h2 {
  margin: 0.25em 0 0.1em 0;
}
h5 {
  font-size: 1em;
  font-weight: 500;
}
a {
  color: #0e619e;
}
a.unidentified {
  color: black;
}
a:hover,
a:focus {
  color: #158ce4;
}
.page__header-description {
  padding-left: 1em;
  margin-bottom: 1.2em;
}
.page__header-description p {
  margin: 0.4em 0;
}
.knowledgeGraphBar--expanded .knowledgeGraphBar__content {
  min-height: 8em !important;
}
.knowledgeGraphBar__summary {
  margin-top: 1em;
  margin-left: 0.9em;
  margin-bottom: 1.2em;
}
.knowledgeGraphBar__summaryTitle h1 {
  font-size: 2em !important;
  margin: 0 !important;
}
.knowledgeGraphBar__bottomRow {
  padding-left: 0.2em !important;
}
.knowledgeGraphBar__graphInfos p {
  font-size: 1em ;
  margin: 0 0 0.2em 0 !important;
}
.knowledgeGraphBar__uriRow {
  font-size: 0.8em ;
}
.knowledgeGraphBar__toggle {
  display: none;
}
.knowledgeGraphBar__description {
  display: none;
}
.knowledgeGraphBar__content {
  border-bottom-width: 0 !important;
}
.container-fluid {
  padding-left: 24px;
}
#application .metaphacts-header-navbar li a {
  font-weight: normal;
}
.navbar-inverse {
  background-color: #083658;
}
.navbar-brand {
  float: none;
  font-weight: 500;
}
.navbar-inverse .dropdown-menu {
  background-color: #083658 !important;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand {
  color: #cccccc;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
}
.navbar-inverse .dropdown-menu > .active > a,
.navbar-inverse .dropdown-menu > .active > a:hover,
.navbar-inverse .dropdown-menu > li > a:hover {
  background-color: #062b45 !important;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #062b45 !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: #cccccc;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
}
.dropdown-menu {
  background-color: #083658;
}
.dropdown > .dropdown-menu > li > a {
  color: #cccccc;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #083658;
}
#record-tabs > .nav-tabs > li > a,
#tabs > .nav-tabs > li > a,
.page__body-navtabs > .nav-tabs > li > a,
.open-sidebar__tabs > .nav-tabs > li > a {
  color: black;
}
#tabs > .nav-tabs > li > a:hover {
  color: #158ce4;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #e6e6e6;
}
#tabs > .nav-tabs > li > a:hover {
  color: black;
}
.table {
  font-size: 1em;
}
.table > tbody + tbody {
  border-top: 1px solid #DDD;
}
.checkbox,
.control-label,
.help-block,
.radio,
label {
  font-size: 0.9em !important;
}
.pagination {
  margin: 0px;
}
.btn {
  padding: 6px 10px;
}
span.Tree--leafNode {
  margin-left: 0;
}
div.tree-view_children span.Tree--leafNode {
  margin-left: 20px;
}
div.facet-relations {
  margin-top: 0;
}
div.facet__category-selector-holder {
  display: none;
}
div.facet__relation__values__filter {
  display: none;
}
div.SemanticTreeInput--inputAndButtons {
  margin-bottom: 1em;
}
#application > div > .footer {
  background-color: #083658;
}
.ReorderableList--item-handle {
  z-index: 1000000;
}
.footer > .footer__pixel-groove {
  margin-top: 0;
  border-width: 0;
}
.footer > .footer__outer-flex-row {
  padding: 16px 20px 16px 20px;
  background-color: #083658;
}
.footer__links-col {
  font-size: 0.7em;
}
