/*body {
    background-color: lightblue;
}*/

a.unidentified {
    color: black;
}

span.Tree--leafNode {
    margin-left: 0;
}

div.tree-view_children span.Tree--leafNode {
    margin-left: 20px;
}
