// out: custom-style.css

// LESS Variables
@sapa-blue: rgb(8, 54, 88);
@sapa-red: rgb(230, 55, 92);

@base-color: @sapa-blue;
@mp-blue: #0e619e;
@bs-blue: #008cba;

@link: lighten(@sapa-blue, 15%);
@link-hover: lighten(@sapa-blue, 30%);

@navbar-link: hsl(0, 0%, 80%);
@navbar-link-hover: hsl(0, 0%, 100%);
@navbar-back: @base-color;
@navbar-back-hover: darken(@base-color, 4%);

@font: 'Roboto';

body, h1, h2, h3, h4, h5, h6 {
    font-family: @font, sans-serif;
}

body {
    font-size: 1.1em;
    font-weight: 400;
}

h2 {
    margin: 0.25em 0 0.1em 0;
}

h5 {
    font-size: 1em;
    font-weight: 500;
}

a {
    color: @link;
}

a.unidentified {
    color: black;
}

a:hover, a:focus {
    color: @link-hover;
}


div.semantic-form hr {
    border: 1px solid black;
}

div.form-section {
    font-weight: bold;
    font-size: 1.2em;
}

#sapa-parts-module {
  background-color: rgba(220, 216, 230, 0.575); 
  padding-left: 2%; padding-right:2%;
}

.sapa-component {
    &.font-bold {
        font-weight: bold;
    }
    &.form-field- {
        &deprecated {
            span.semantic-form-input-decorator__label::after {
                content: " (deprecated)";
            }
        }
    }
    &.domain-cards-tabs {
        .nav {
            display: block;
            .nav-link {
                padding: 0;
                &.active {
                    background: none;
                    border: none;
                    button {
                        background-color: @bs-blue;
                    }
                }
            }
        }
    }
    &.panel-home-browse {
        padding-top: 3rem;
    }
    &.panel-home-search {
        padding: 3rem 0 1rem 0;
    }
    &.search-types {
        .nav-link {
            padding: 0;
            color: black;
            &.active {
                background: none;
                border: none;
                font-weight: bold;
            }
        }
    }
}

.semantic-form-input-decorator__label {
    font-weight: 500 !important;

}
.page-holder {
    padding-bottom: 4em ;
}

.page__header-description {
    padding-left: 1em;
    margin-bottom: 1.2em;
}
.page__header-description p {
    margin: 0.4em 0;
}

.knowledgeGraphBar--expanded .knowledgeGraphBar__content {
    min-height: 8em !important;
}

.knowledgeGraphBar__summary {
    margin-top: 1em;
    margin-left: 0.9em;
    margin-bottom: 1.2em;
}

.knowledgeGraphBar__summaryTitle h1 {
    font-size: 1.8em !important;
    line-height: 1.1em !important;
    margin: 0 !important;
}

.knowledgeGraphBar__bottomRow {
    padding-left: 0.2em !important; 
}

.knowledgeGraphBar__graphInfos p {
    font-size: 1em ;
    margin: 0 0 0.2em 0 !important;
}

.knowledgeGraphBar__uriRow {
    font-size: 0.8em ;    
}

.knowledgeGraphBar__toggle {
    display: none;
}

.knowledgeGraphBar__description {
    display: none;
}

.knowledgeGraphBar__content {
    border-bottom-width: 0 !important;
}

.domainCard h4 {
    font-size: 1.3em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.domainItems a.domainItem, .domainItems a.domainRemove, .domainItems a.clearSearch {
    color: black;
}

.domainItems a.domainItem:hover, .domainItems a.domainRemove:hover, .domainItems a.clearSearch:hover {
    color: black;
}

.container-fluid {
    padding-left: 24px; // brand distance left
}

#application .metaphacts-header-navbar li a {
    font-weight: normal;
}

.bg-primary  {
    background-color: @navbar-back !important; // navigation background
}

.bg-primary .dropdown-menu {
    background-color: @navbar-back !important;
}

.bg-primary .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: @navbar-link;
}

.bg-primary .dropdown-menu .dropdown-item.active, .bg-primary .dropdown-menu .dropdown-item:focus, .bg-primary .dropdown-menu .dropdown-item:hover {
    color: @navbar-link-hover;
    background-color: @navbar-back-hover !important;
}

.bg-primary .navbar-brand:hover, .bg-primary .navbar-brand:focus {
    color: @navbar-link-hover;
}

.bg-primary .dropdown-menu > .active > a, .bg-primary .dropdown-menu > .active > a:hover, .bg-primary .dropdown-menu > li > a:hover {
    background-color: @navbar-back-hover !important;
}

.bg-primary .navbar-nav > li > a:hover, .bg-primary .navbar-nav > li > a:focus {
    background-color: @navbar-back-hover !important;   
}

.bg-primary .navbar-nav > li > a {
    color: @navbar-link; // navigation link color
}

.bg-primary .navbar-nav > li > a:hover, .bg-primary .navbar-nav > li > a:focus {
    color: @navbar-link-hover; // navigation link hover color
}

.nav-tabs > .nav-link, #tabs > .nav-tabs > li > a, .page__body-navtabs > .nav-tabs > li > a, .open-sidebar__tabs > .nav-tabs > li > a {
    color: black !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: hsl(0, 0%, 90%);
}

#tabs > .nav-tabs > li > a:hover {
    color: black;
}

.table {
    font-size: 1em;
}

.table > tbody + tbody {
    border-top: 1px solid #DDD;
}

.checkbox, .control-label, .help-block, .radio, label {
    font-size: 0.9em !important;
}

.DataTable--table-grid-layout {
    margin-bottom: 30px;
}

.pagination {
    margin: 0px;
}

.btn {
    padding: 6px 10px;
}

span.Tree--leafNode {
    margin-left: 0;
}

div.tree-view_children span.Tree--leafNode {
    margin-left: 20px;
}

div.facet-relations {
    margin-top: 0;
}

div.facet__category-selector-holder {
    display: none;
}

div.facet__relation__values__filter {
    display: none;
}

div.SemanticTreeInput--inputAndButtons {
    margin-bottom: 1em;
}

.text-item {
    margin-bottom: 1rem;
}

#application > div > .footer {
    background-color: @navbar-back;
}

.ReorderableList--item-handle {
    z-index: 1000000;
}

.footer > .footer__pixel-groove {
    margin-top: 0;
    border-width: 0;
}

.footer > .footer__outer-flex-row {
    padding: 16px 20px 16px 20px;
    background-color: @navbar-back;
}

.footer__links-col {
    font-size: 0.7em;
}

.page__body-navtabs {
    a {
        border-radius: 4px 4px 0px 0px !important;
    }
    a[data-rb-event-key="ontodia"][aria-selected="false"],
    a[data-rb-event-key="statements"][aria-selected="false"],
    a[data-rb-event-key*="editing"][aria-selected="false"],
    a[data-rb-event-key="delete"][aria-selected="false"] {
        color: #999 !important;
    }
    a[data-rb-event-key="about"][aria-selected="false"],
    a[data-rb-event-key="productions"][aria-selected="false"],
    a[data-rb-event-key="video"][aria-selected="false"]
    {
        border: 1px solid #ccc;
        border-bottom: 1px solid #ddd;
        background-color: #efefef;
    }
}

#sapa-parts-module {
    background-color: rgba(220, 216, 230, 0.575); 
    padding-left: 2%; padding-right:2%;
  }
  
// Overrides

nav.metaphacts-header-navbar.DEVELOPMENT, nav.metaphacts-header-navbar.dev\.performing-arts\.ch {
    background: @sapa-red;
    background: repeating-linear-gradient(
      45deg,
      #c83535,
      #c83535 10px,
      #872828 10px,
      #87283d 20px) !important
}

nav.metaphacts-header-navbar.LOCAL {
    background: @sapa-red;
    background: repeating-linear-gradient(
      45deg,
      #35c8ad,
      #35adc8 10px,
      #35c8ad 10px,
      #35adc8 20px) !important
}

div[data-radix-popper-content-wrapper] {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0,0) !important;
}