  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/o/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='instantiaton'
      fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
        record="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationRecord"
        identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
        archival_status="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationArchivalStatus"
        representation_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationRepresentationType"
        carrier_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationCarrierType"
        history="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationHistory"
        copy="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationDerived"
        copy_path="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationCopyPath"
        condition="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationCondition"
        location="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingLocation"
        file="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RepresentationFile"
        responsible="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceResponsible"
        preparation_date="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationPreparationDate"
        accessibility="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingAccessability"
        permission="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingPermission"
        physical_usability="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingPhysicalUsability"
        protection_duration="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceProtectionDuration"
        terms_of_protection="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingTermsProtection"
        see_also="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingSeeAlso"
        note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingNote"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
          <!-- TODO: Not all Instantiations are ebucore:MediaResource ! -->
          <semantic-form-hidden-input for='rdf_type' default-values='["[[resolvePrefix "rico:Instantiation"]]", "[[resolvePrefix "ebucore:MediaResource"]]"]'></semantic-form-hidden-input>
        </div>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-text-input for="identifier"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-select-input for="representation_type"></semantic-form-select-input>
            <semantic-form-tree-picker-input for="carrier_type"></semantic-form-tree-picker-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-select-input for="archival_status"></semantic-form-select-input>
            <semantic-form-autocomplete-input for='record'></semantic-form-autocomplete-input>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-text-input for="history" multiline=true></semantic-form-text-input>
            <semantic-form-autocomplete-input for='copy'></semantic-form-autocomplete-input>
            <semantic-form-text-input for="copy_path" multiline=true></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-select-input for="condition"></semantic-form-select-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-tree-picker-input for="location"></semantic-form-tree-picker-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="responsible"></semantic-form-text-input>
          </bs-col>          
          <bs-col sm='6'>
            <semantic-form-switch for='preparation_date' switch-on-field='date_type'>
              <semantic-form-switch-case label='Single Date'>
                <semantic-form-composite-input for='preparation_date' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions
                  date_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateType"
                  date_value="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateValue"
                  date_qualifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateQualifier"
                  date_certainty="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateCertainty"
                ]]'>
                  <semantic-form-hidden-input for="date_type" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                  <semantic-form-text-input for="date_value"></semantic-form-text-input>
                  <semantic-form-checklist-input row=true for="date_qualifier"></semantic-form-checklist-input>
                  <semantic-form-checklist-input row=true for="date_certainty"></semantic-form-checklist-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              <semantic-form-switch-case label='Date Range'>
                <semantic-form-composite-input for='preparation_date' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions
                  date_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateType"
                  date_beginning="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateBeginning"
                  date_end="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateEnd"
                ]]'>
                  <semantic-form-hidden-input for="date_type" default-value='[[resolvePrefix "rico:DateRange"]]'></semantic-form-hidden-input>
                  <semantic-form-composite-input for='date_beginning' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions
                    date_beginning_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateType"
                    date_beginning_value="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateValue"
                    date_beginning_qualifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateQualifier"
                    date_beginning_certainty="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateCertainty"
                  ]]'>
                    <semantic-form-hidden-input for="date_beginning_type" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="date_beginning_value"></semantic-form-text-input>
                    <semantic-form-checklist-input row=true for="date_beginning_qualifier"></semantic-form-checklist-input>
                    <semantic-form-checklist-input row=true for="date_beginning_certainty"></semantic-form-checklist-input>
                  </semantic-form-composite-input>   

                  <semantic-form-composite-input for='date_end' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions
                    date_end_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateType"
                    date_end_value="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateValue"
                    date_end_qualifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateQualifier"
                    date_end_certainty="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateCertainty"
                  ]]'>
                    <semantic-form-hidden-input for="date_end_type" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="date_end_value"></semantic-form-text-input>
                    <semantic-form-checklist-input row=true for="date_end_qualifier"></semantic-form-checklist-input>
                    <semantic-form-checklist-input row=true for="date_end_certainty"></semantic-form-checklist-input>
                  </semantic-form-composite-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              <semantic-form-switch-case label='No Date'>
                <semantic-form-composite-input for='preparation_date' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions
                  date_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateType"
                  date_no_value="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDateNoValue"
                ]]'>
                  <semantic-form-hidden-input for='date_type' default-value='[[resolvePrefix "rico:Date"]]'></semantic-form-hidden-input>
                  <semantic-form-checklist-input for='date_no_value' type='radio' row=true default-value='[[resolvePrefix "spav:ndsd"]]'></semantic-form-checklist-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
            </semantic-form-switch>
          </bs-col>          
        </bs-row>        <bs-row>
          <bs-col sm='4'>
            <semantic-form-text-input for="protection_duration"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' for='terms_of_protection'></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' for='permission'></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' for='physical_usability'></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' for='accessibility'></semantic-form-checklist-input>
          </bs-col>
        </bs-row>
        <hr />

        <bs-row>
          <bs-col sm='12'>
            <semantic-form-composite-input for='file' new-subject-template='http://data.performing-arts.ch/0/{{UUID}}' fields='[[fieldDefinitions
              file_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
              file_original_name="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/FileOriginalName"
              file_composition_level="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/FileCompositionLevel"
              file_size="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/FileSize"
              file_fixity="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/FileFixity"
              file_duration="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SchemaDuration"
              file_format_container="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceFormatContainer"
              file_format_video="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceFormatVideo"
              file_format_audio="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceFormatAudio"
              file_standard="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceStandard"
              file_color="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceColor"
              file_aspect_ratio="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceAspectRatio"
              file_video_damage="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceVideoDamage"
              file_width="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceWidth"
              file_height="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceHeight"
              file_channels="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceChannels"
              file_sampling_rate="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceSamplingRate"
              file_video_damage="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceVideoDamage"
              file_scannig_format="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceScanningFormat"
              file_scannig_order="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceScanningOrder"
              file_history="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationHistory"
              file_integrity="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationIntegrity"
              file_last_control="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/MediaResourceLastControl"
              file_see_also="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingSeeAlso"
              ]]'>
              <!-- http://ontology.performing-arts.ch/lastControl -->
              <div style='display: none;'>
                <semantic-form-hidden-input for='file_rdf_type' default-values='["[[resolvePrefix "premis:File"]]", "[[resolvePrefix "ebucore:MediaResource"]]"]'></semantic-form-hidden-input>
              </div>
              <bs-row>
                <bs-col sm='2'>
                  <semantic-form-text-input for="file_original_name"></semantic-form-text-input>                  
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-text-input for="file_composition_level"></semantic-form-text-input>                  
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-text-input for="file_size"></semantic-form-text-input>                  
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-text-input for="file_fixity"></semantic-form-text-input>                  
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-text-input for="file_duration"></semantic-form-text-input>
                </bs-col>
              </bs-row>

              <bs-row>
                <bs-col sm='2'>
                  <semantic-form-select-input for="file_format_container"></semantic-form-select-input>
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-select-input for="file_format_video"></semantic-form-select-input>
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-select-input for="file_format_audio"></semantic-form-select-input>
                </bs-col>
                <bs-col sm='2'>
                </bs-col>
                <bs-col sm='2'>
                </bs-col>
                <bs-col sm='2'>
                </bs-col>
              </bs-row>
              <bs-row>
                <bs-col sm='2'>
                  <semantic-form-select-input for="file_color"></semantic-form-select-input>
                  <semantic-form-checklist-input type='radio' row=false for='file_standard'></semantic-form-checklist-input>
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-text-input for="file_width"></semantic-form-text-input>
                  <semantic-form-text-input for="file_height"></semantic-form-text-input>
                  <semantic-form-select-input for="file_aspect_ratio"></semantic-form-select-input>
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-checklist-input type='radio' row=false for='file_scannig_format'></semantic-form-checklist-input>
                  <semantic-form-checklist-input type='radio' row=false for='file_scannig_order'></semantic-form-checklist-input>
                </bs-col>
                <bs-col sm='2'>
                  <semantic-form-text-input for="file_channels"></semantic-form-text-input>
                  <semantic-form-text-input for="file_sampling_rate"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-tree-picker-input for="file_video_damage"></semantic-form-tree-picker-input>
                </bs-col>
              </bs-row>
              <bs-row>
                <bs-col sm='4'>
                  <semantic-form-text-input for="file_history" multiline=true></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-text-input for="file_integrity" multiline=true></semantic-form-text-input>
                  <semantic-form-text-input for="file_last_control"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-autocomplete-input for="file_see_also"></semantic-form-autocomplete-input>                  
                </bs-col>
              </bs-row>        

        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-secondary">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-secondary">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>