  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/r/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='recordsets'
      fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
        identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetIdentifier"
        label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetLabel"
        level="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetLevel"
        parent="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetParent"
        description="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetDescription"
        date="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetDate"
        extent="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetExtent"
        comment="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFSComment"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
            <semantic-form-hidden-input for='rdf_type' default-value='[[resolvePrefix "ric:E3_Record_Set"]]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="identifier"></semantic-form-text-input>
        <semantic-form-text-input for="label"></semantic-form-text-input>
        <semantic-form-checklist-input type='radio' row=true for="level"></semantic-form-checklist-input>
        <semantic-form-tree-picker-input for="parent" >
          <semantic-form new-subject-template="http://data.performing-arts.ch/r/{{UUID}}" fields='[[fieldDefinitions
              parent_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
              parent_identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetIdentifier"
              parent_label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetLabel"
              parent_level="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetLevel"
            ]]'>
            <div style="display: none;">
                <semantic-form-hidden-input for='parent_rdf_type' default-value='[[resolvePrefix "ric:E3_Record_Set"]]'></semantic-form-hidden-input>
            </div>
            <semantic-form-text-input for="parent_identifier"></semantic-form-text-input>
            <semantic-form-text-input for="parent_label"></semantic-form-text-input>
            <semantic-form-checklist-input type='radio' row=true for="parent_level"></semantic-form-checklist-input>
            <button name="submit" class="btn btn-default">Create Record Set</button>
          </semantic-form>
        </semantic-form-tree-picker-input>
        <semantic-form-text-input for="description"></semantic-form-text-input>
        <semantic-form-text-input for="date"></semantic-form-text-input>
        <semantic-form-text-input for="extent"></semantic-form-text-input>
        <semantic-form-text-input for="comment"></semantic-form-text-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button
          name="submit"
          class="btn btn-default"
        >Save</button>
        <button
          name="reset"
          class="btn btn-default"
        >Reset</button>
      </bs-panel>
    </semantic-form>
  </div>