<semantic-query
query="SELECT ?parent WHERE {
    ?? rico:hasOrHadLocation ?parent .
}"
template="{{> template-location-parent }}"
>
<template id="template-location-parent">
    <div>
        <h5>[[i18n "field_location" bundle="sapa-fields"]]</h5>
        {{#each bindings}}
            <semantic-query
                query='SELECT ?location (COUNT(?mid) as ?depth) {
                {
                    SELECT ?root {
                        ?root a spao:ArchivalPlace .
                        FILTER NOT EXISTS {
                            ?root rico:containedBy ?superRoot .
                            FILTER (?root != ?superRoot)
                        }
                    }
                }
                <{{parent.value}}> rico:containedBy* ?location .
                ?location rico:containedBy* ?mid .
                ?mid rico:containedBy* ?root .
            } GROUP BY ?location
            ORDER BY ?depth'
            template="{{> template-location }}"
            >
                <template id="template-location">
                    <p>
                        {{#each bindings}}
                            <semantic-link iri="{{location.value}}"></semantic-link>{{#if @last}}{{else}} / {{/if}}
                        {{/each}}
                    </p>
                </template>
            </semantic-query>
        {{/each}}
    </div>
</template>
</semantic-query>