<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
    <div class='page__body' style="padding-top:6em;">

      <bs-tabs id="tabs" unmount-on-exit=true>
        <bs-tab event-key="1" title="[[i18n "SearchGeneric" bundle="performing-arts-ch"]]">
          [[> sapa:GenericSearch]]
        </bs-tab>
        <bs-tab event-key="2" title="[[i18n "SearchProductions" bundle="performing-arts-ch"]]">
          [[> sapa:ProductionSearch]]
        </bs-tab>
        <bs-tab event-key="3" title="[[i18n "SearchPersons" bundle="performing-arts-ch"]]">
          [[> sapa:PersonSearch]]
        </bs-tab>
        <bs-tab event-key="4" title="[[i18n "SearchGroups" bundle="performing-arts-ch"]]">
          [[> sapa:GroupSearch]]
        </bs-tab>
        <bs-tab event-key="5" title="[[i18n "SearchVenues" bundle="performing-arts-ch"]]">
          [[> sapa:VenueSearch]]
        </bs-tab>
        <bs-tab event-key="6" title="[[i18n "SearchPlaces" bundle="performing-arts-ch"]]">
          [[> sapa:PlaceSearch]]
        </bs-tab>
      </bs-tabs>
   
  </div>
</div>