<div class='page__header-navtabs'>
    <div class='page__header-thumbnail'>
        <mp-resource-thumbnail no-image-uri='[[defaultImage]]' iri='[[this]]'></mp-resource-thumbnail>
    </div>
    <div class='page__header-body'>
        <div class="page__header-draggable-title" style="padding-left: 0;">
            <mp-draggable iri='[[this]]'>
                <h2 data-flex-layout='row center-left'>
                    <span class="page__header-gripper"></span>
                    [[> sapaModule:RecordLabel ]]
                </h2>
            </mp-draggable>
        </div>

        <div class="page__header-description">

        <!-- description -->
        <semantic-query 
            query="SELECT ?description
            WHERE {
              ?? a ?class .
              FILTER(CONTAINS(STR(?class), 'crm'))
              OPTIONAL { ?? crm:P2_has_type ?crmtype . }
              OPTIONAL { ?? crm:P4_has_time-span ?timespan . }
              OPTIONAL {
                ?work frbroo:R12_is_realised_in ?? ;
                    crm:P2_has_type ?genre .
              }
              OPTIONAL { ?? rico:hasRecordSetType ?record_set_type . }
              BIND(IF(BOUND(?timespan), ?timespan, IF(BOUND(?genre), ?genre, IF(BOUND(?crmtype), ?crmtype, IF(BOUND(?record_set_type), ?record_set_type, ?class)))) AS ?description)
            }"
            template="<p>{{#each bindings}}{{#if @first}}<mp-label iri='{{description.value}}'></mp-label>{{else}}, <mp-label iri='{{description.value}}'></mp-label>{{/if}}{{/each}}</p>">
        </semantic-query>

        <!-- uri -->
        <semantic-query 
            query="SELECT ?uri WHERE { BIND(IF(REGEX(STR(??), '/[aoprs]/'), STR(??), 'not yet permanent') AS ?uri) } LIMIT 1"
            template="<p style='font-size: 0.8em;'>{{#each bindings}}<b>URI</b>: <i>{{uri.value}}</i>{{/each}}</p>">
        </semantic-query>
        </div>

    </div>
</div>