<semantic-query 
query='SELECT ?field ?order (GROUP_CONCAT(?value; SEPARATOR=", ") AS ?values) WHERE {
        VALUES (?order ?field ?property) {
            ( 0 <http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceExtent> rico:recordResourceExtent )
            ( 1 <http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceAmount> spao:recordResourceAmount )
            ( 2 <http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceWeight> spao:recordResourceWeight )
            ( 3 <http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceLinearMeters> spao:recordResourceLinearMeters )
        }
        ?? ?property ?value . 
    } GROUP BY ?field ?order
    ORDER BY ASC (?order)'
template='{{#each bindings}}
        <h5><semantic-context repository="assets"><mp-label iri="{{field.value}}"></mp-label></semantic-context></h5>
        <p>{{values.value}}</p>
    {{/each}}'>
</semantic-query>
