<div class="page">
  <div class='page__body'>
    <div data-flex-layout='row top-stretch'>
    <semantic-form 
     
      new-subject-template='http://data.performing-arts.ch/a/{{UUID}}'
      post-action='redirect'
      browser-persistence=true
      persistence='ldp'
      form-id='newGroup'
      fields="[[fieldDefinitions
        Official_Name="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Official_Name"
        Alternative_Name="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Alternative_Name"
        Acronym="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Acronym"
       E39_Actor_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_type"
       E1_Entity_has_current_or_former_residence="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_Entity_has_current_or_former_residence"
        Website="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website"
        E1_Entity_is_association_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_Entity_is_association_member"
        Subject_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Subject_of"
        E1_CRM_Entity_sameAs="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs"
        typeset="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/typeset" 
      ]]">
      <bs-panel>
        
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">  
          <semantic-form-hidden-input for="typeset" default-values='["http://www.cidoc-crm.org/cidoc-crm/E74_Group","http://www.w3.org/ns/prov#Agent"]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="Official_Name"></semantic-form-text-input>
        <semantic-form-text-input for="Alternative_Name"></semantic-form-text-input>
        <semantic-form-text-input for="Acronym"></semantic-form-text-input>
        <semantic-form-select-input for="E39_Actor_type"></semantic-form-select-input>
         <semantic-form-tree-picker-input for="E1_Entity_has_current_or_former_residence">
           <semantic-form new-subject-template="http://data.performing-arts.ch/p/{{UUID}}"   
                          fields="[[fieldDefinitions
       E53_Place_P87_is_identified_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E53_Place_P87_is_identified_by"                  
        E53_Place_falls_within="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E53_Place_falls_within"
        E1_CRM_Entity_sameAs="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs"
        E1_CRM_Entity_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_rdf_type"
        typeset="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/typeset" 
      ]]">
             
                <semantic-form-recover-notification></semantic-form-recover-notification>
         <semantic-form-hidden-input for="typeset" default-value='http://www.cidoc-crm.org/cidoc-crm/E53_Place'></semantic-form-hidden-input>
        <semantic-form-text-input for="E53_Place_P87_is_identified_by" languages='["en","de","fr","it"]'></semantic-form-text-input>
        <semantic-form-text-input for="E1_CRM_Entity_sameAs"></semantic-form-text-input>
        <semantic-form-tree-picker-input for="E53_Place_falls_within" ></semantic-form-tree-picker-input>
        <semantic-form-hidden-input for='E1_CRM_Entity_rdf_type' default-value='[[resolvePrefix "crm:E53_Place"]]'></semantic-form-hidden-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button
          name="submit"
          class="btn btn-default"
        >Save</button>
        <button
          name="reset"
          class="btn btn-default"
        >Reset</button>
      
             </semantic-form>
        
        </semantic-form-tree-picker-input>
        <semantic-form-text-input for="Website"></semantic-form-text-input>
       <semantic-form-select-input for="E1_Entity_is_association_member"></semantic-form-select-input>
        <semantic-form-text-input for="Subject_of"></semantic-form-text-input>
        <semantic-form-text-input for="E1_CRM_Entity_sameAs"></semantic-form-text-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button
          name="submit"
          class="btn btn-default"
        >Save</button>
        <button
          name="reset"
          class="btn btn-default"
        >Reset</button>
      </bs-panel>
    </semantic-form>
  </div>
    </div>
  </div>
