<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
  <div class='page__body' style="padding-top:6em;">

    <bs-tab-container default-active-key="search">
      <bs-nav variant="pills">
        <!-- TODO: recycle buttons with icons-->
        <bs-nav-item>
          <bs-nav-link event-key="search">[[i18n "SearchGeneric" bundle="performing-arts-ch"]]</bs-nav-link>
        </bs-nav-item>
        <bs-nav-item>
          <bs-nav-link event-key="productions">[[i18n "BrowseProductions" bundle="performing-arts-ch"]]</bs-nav-link>
        </bs-nav-item>
        <bs-nav-item>
          <bs-nav-link event-key="persons">[[i18n "BrowsePersons" bundle="performing-arts-ch"]]</bs-nav-link>
        </bs-nav-item>
        <bs-nav-item>
          <bs-nav-link event-key="groups">[[i18n "BrowseGroups" bundle="performing-arts-ch"]]</bs-nav-link>
        </bs-nav-item>
        <bs-nav-item>
          <bs-nav-link event-key="venues">[[i18n "BrowseVenues" bundle="performing-arts-ch"]]</bs-nav-link>
        </bs-nav-item>
        <bs-nav-item>
          <bs-nav-link event-key="places">[[i18n "BrowsePlaces" bundle="performing-arts-ch"]]</bs-nav-link>
        </bs-nav-item>
      </bs-nav>
      <bs-tab-content>
        <bs-tab-pane event-key="search">
          [[> component-search]]
        </bs-tab-pane>
        <bs-tab-pane event-key="productions">
          [[> component-browse domain="frbroo:F25_Performance_Plan" id="browse-productions"]]
        </bs-tab-pane>
        <bs-tab-pane event-key="persons">
          [[> component-browse domain="crm:E21_Person" id="browse-persons"]]
        </bs-tab-pane>
        <bs-tab-pane event-key="groups">
          <!-- TODO: Groups also include E40-->
          [[> component-browse domain="crm:E74_Group" id="browse-groups"]]
        </bs-tab-pane>
        <bs-tab-pane event-key="venues">
          <!-- TODO: E22 has a specifier in query-->
          [[> component-browse domain="crm:E22_Man-Made_Object" id="browse-venues"]]
        </bs-tab-pane>
        <bs-tab-pane event-key="places">
          [[> component-browse domain="crm:E53_Place" id="browse-places"]]
        </bs-tab-pane>
      </bs-tab-content>
    </bs-tab-container>
  </div>
</div>

[[#*inline "component-browse"]]

    [[#> sapaModule:baseSearch id=id]] 

      [[> component-keyword-search domain=domain]]
      
      <semantic-search-query-constant
        query="SELECT DISTINCT ?subject WHERE {
          ?subject a [[domain]] .
        }"
        domain='<[[resolvePrefix domain]]>'>
        </semantic-search-query-constant>
    [[/ sapaModule:baseSearch]]

[[/inline]]

[[#*inline "component-search"]]

[[#> sapaModule:baseSearch searchAllDomains="true"]]    
    [[> component-keyword-search]]
[[/ sapaModule:BaseSearch]]

[[/inline]]

[[#*inline "component-keyword-search"]]

<semantic-search-query-keyword 
id='keywordQuery-[[#if domain]][[domain]][[else]]global[[/if]]'
domain="[[#if domain]]<[[resolvePrefix domain]]>[[else]]<http://www.cidoc-crm.org/cidoc-crm/E1_CRM_Entity>[[/if]]"
query='SELECT DISTINCT ?subject WHERE {
  [[#if domain]]
    BIND([[domain]] as ?__domain__)
  [[else]]
    VALUES(?__domain__) {
      (frbroo:F25_Performance_Plan)
      (crm:E21_Person)
      (crm:E74_Group)
      (crm:E22_Man-Made_Object)
      (crm:E53_Place)
    }
  [[/if]]
  ?subject rdf:type|rdf:type/rdfs:subClassOf ?__domain__ . 
  FILTER(!CONTAINS(STR(?subject), "/u/") && !CONTAINS(STR(?subject), "/x/"))
  OPTIONAL { 
    ?subject crm:P2_has_type ?crmtype . 
    FILTER(?__domain__ != crm:E22_Man-Made_Object || ?crmtype = spav:dwmkn )
  }
  ?subject rdfs:label|(crm:P131_is_identified_by/rdf:value)|(crm:P102_has_title/rdf:value) ?label .
  SERVICE <http://www.bigdata.com/rdf/search#search> {
    ?label bds:search ?__token__ ;
    bds:minRelevance "0.1" ;
    bds:relevance ?score ; 
    bds:matchAllTerms "true" .
  }
}'
placeholder='[[i18n "SearchPrompt" bundle="performing-arts-ch" escapeHTML=false]]'
min-search-term-length='1'
debounce='600'
>

</semantic-search-query-keyword>
[[/inline]]