[[> sapaModule:FieldDefinitions]]

  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/r/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='recordsets'
      fields='[
        [[> RDFtype]],
        [[> ThingIdentifier]],
        [[> ThingTypedIdentifier]],
        [[> ThingLegacyIdentifier]],
        [[> ScopeID]],
        [[> RecordResourceNameSingle]],
        [[> RecordResourceIndex]],
        [[> RecordResourceParent]],
        [[> RecordResourceCreator]],
        [[> RecordResourceProvenance]],
        [[> RecordResourceAcquisition]],
        [[> DeliveryNumber]],
        [[> RecordResourceHistory]],
        [[> RecordDocumentaryForm]],
        [[> RecordResourceDescription]],
        [[> RecordAnnotationRecto]],
        [[> RecordAnnotationVerso]],
        [[> RecordResourceLanguage]],
        [[> RecordResourcePhotoType]],
        [[> RecordParts]],
        [[> RecordResourceSubject]],
        [[> RecordResourcePlace]],
        [[> RecordResourceDate]],
        [[> RecordResourceExtent]],
        [[> RecordResourceExtentDepricated]],
        [[> ThingConditionsAccess]],
        [[> ThingTermsProtection]],
        [[> RecordResourceProtectionDuration]],
        [[> ThingPermission]],
        [[> ThingPhysicalUsability]],
        [[> ThingAccessability]],
        [[> RecordResourceCopyrightNotice]],
        [[> RecordResourceCopyrightDeclaration]],
        [[> RecordResourceConditionsUse]],
        [[> RecordResourceUsageRightsStill]],
        [[> RecordResourceUsageRightsStreaming]],
        [[> RecordResourceCredit]],
        [[> ThingLocation]],
        [[> RecordResourcePackingDepricated]],
        [[> RecordResourceDoublets]],
        [[> RecordResourceRelated]],
        [[> ThingSeeAlso]],
        [[> ThingNote]],
        [[> ThingNoteInternal]],
        [[> RecordResourceProcessingConvention]],
        [[> RecordResourceProcessingDate]],
        [[> RecordResourceResponsible]],
        [[> RecordResourceIIIF]],
        [[> RecordResourceIIIFManifest]],
        [[> RecordResourcePDFCloudResource]],
        [[> RecordResourceVimeo]],
        [[> RDFSComment]]
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
          <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "rico:Record"]]'></semantic-form-hidden-input>
          <semantic-form-hidden-input for="ScopeID"></semantic-form-hidden-input>
          <semantic-form-hidden-input for="RecordResourceIndex"></semantic-form-hidden-input>
        </div>
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionIdentification" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-composite-input 
              for="ThingTypedIdentifier"
              new-subject-template="http://data.performing-arts.ch/x/{{UUID}}"
              fields='[
                [[> RDFtype]],
                [[> IdentifierType]],
                [[> IdentifierValue]]
              ]'>
              <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "rico:Identifier"]]'></semantic-form-hidden-input>
              <semantic-form-text-input for="IdentifierValue"></semantic-form-text-input>
              <semantic-form-select-input for="IdentifierType"></semantic-form-select-input>
            </semantic-form-composite-input>
            <div class="sapa-component form-field-deprecated"><semantic-form-text-input for="ThingIdentifier"></semantic-form-text-input></div>
            <div class="sapa-component form-field-deprecated"><semantic-form-text-input for="ThingLegacyIdentifier"></semantic-form-text-input></div>
          </bs-col>
          <bs-col sm='8'>
            <semantic-form-text-input for="RecordResourceNameSingle"></semantic-form-text-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-text-input for="DeliveryNumber"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-switch for="RecordResourceDate" switch-on-field='RecordResourceDateType'>
              <semantic-form-switch-case label='Single Date'>
                <semantic-form-composite-input for="RecordResourceDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                  [[> RecordResourceDateType]],
                  [[> RecordResourceDateValue]],
                  [[> RecordResourceDateQualifier]],
                  [[> RecordResourceDateCertainty]]
                ]'>
                  <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                  <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                  <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                  <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              <semantic-form-switch-case label='Date Range'>
                <semantic-form-composite-input for="RecordResourceDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                  [[> RecordResourceDateType]],
                  [[> RecordResourceDateBeginning]],
                  [[> RecordResourceDateEnd]]
                ]'>
                  <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:DateRange"]]'></semantic-form-hidden-input>
                  <semantic-form-composite-input for="RecordResourceDateBeginning" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                    [[> RecordResourceDateType]],
                    [[> RecordResourceDateValue]],
                    [[> RecordResourceDateQualifier]],
                    [[> RecordResourceDateCertainty]]
                  ]'>
                    <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                  </semantic-form-composite-input>   
                  <semantic-form-composite-input for="RecordResourceDateEnd" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                    [[> RecordResourceDateType]],
                    [[> RecordResourceDateValue]],
                    [[> RecordResourceDateQualifier]],
                    [[> RecordResourceDateCertainty]]
                  ]'>
                    <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                  </semantic-form-composite-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              <semantic-form-switch-case label='No Date'>
                <semantic-form-composite-input for="RecordResourceDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                  [[> RecordResourceDateType]],
                  [[> RecordResourceDateNoValue]]
                ]'>
                  <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:Date"]]'></semantic-form-hidden-input>
                  <semantic-form-checklist-input for="RecordResourceDateNoValue" type='radio' row=true default-value='[[resolvePrefix "spav:ndsd"]]'></semantic-form-checklist-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
            </semantic-form-switch>
          </bs-col>
          <bs-col sm='4'>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='8'>
            <semantic-form-tree-picker-input for="RecordResourceParent" >
              <semantic-form new-subject-template="http://data.performing-arts.ch/r/{{UUID}}" fields='[
                  [[> RDFtype]],
                  [[> ThingIdentifier]],
                  [[> ThingName]],
                  [[> RecordSetType]]
                ]'>
                <div style="display: none;">
                    <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "rico:RecordSet"]]'></semantic-form-hidden-input>
                </div>
                <semantic-form-text-input for="ThingIdentifier"></semantic-form-text-input>
                <semantic-form-text-input for="ThingName"></semantic-form-text-input>
                <semantic-form-select-input for="RecordSetType"></semantic-form-select-input>
                <button name="submit" class="btn btn-secondary">[[i18n "FormCreateRecordSet" bundle="performing-arts-ch"]]</button>
              </semantic-form>    
            </semantic-form-tree-picker-input>
          </bs-col>
          <bs-col sm='4'>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-tree-picker-input for="ThingLocation"></semantic-form-tree-picker-input>
          </bs-col>
          <bs-col sm='8'>
            <semantic-form-checklist-input row=true for="RecordResourcePackingDepricated"></semantic-form-checklist-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-composite-input for="RecordResourceExtent" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
              [[> RecordResourceExtentValue]],
              [[> RecordResourceExtentUnit]]
            ]'>
              <bs-row>
                <bs-col sm='4'><semantic-form-text-input for="RecordResourceExtentValue"></semantic-form-text-input></bs-col>
                <bs-col sm='8'><semantic-form-select-input for="RecordResourceExtentUnit"></semantic-form-select-input></bs-col>
              </bs-row>
            </semantic-form-composite-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-text-input for="RecordResourceExtentDepricated"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-text-input for="RecordResourceDoublets"></semantic-form-text-input>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionContext" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='8'>
            <semantic-form-text-input for="RecordResourceHistory" multiline=true></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-select-input for="RecordResourceAcquisition"></semantic-form-select-input>
            <semantic-form-autocomplete-input for="RecordResourceCreator"></semantic-form-autocomplete-input>
            <semantic-form-autocomplete-input for="RecordResourceProvenance"></semantic-form-autocomplete-input>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionContent" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='8'>
            <semantic-form-text-input for="RecordResourceDescription" multiline=true></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-autocomplete-input for="RecordResourceSubject"></semantic-form-autocomplete-input>
            <semantic-form-tree-picker-input for="RecordResourcePlace"></semantic-form-tree-picker-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-tree-picker-input for="RecordDocumentaryForm"></semantic-form-tree-picker-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-tree-picker-input for="RecordResourceLanguage"></semantic-form-tree-picker-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="RecordAnnotationRecto" multiline=true></semantic-form-text-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-text-input for="RecordAnnotationVerso" multiline=true></semantic-form-text-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-select-input for="RecordResourcePhotoType"></semantic-form-select-input>
          </bs-col>
          <bs-col sm='6'>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionAccess" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-text-input multiline=true for="ThingConditionsAccess"></semantic-form-text-input>
            <semantic-form-text-input for="RecordResourceProtectionDuration"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' clearable=true for="ThingTermsProtection"></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' clearable=true for="ThingPermission"></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' clearable=true for="ThingPhysicalUsability"></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' clearable=true for="ThingAccessability"></semantic-form-checklist-input>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionRights" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='4'>
            <semantic-form-text-input for="RecordResourceCopyrightNotice"></semantic-form-text-input>
            <semantic-form-text-input for="RecordResourceCredit"></semantic-form-text-input>
          </bs-col>          
          <bs-col sm='4'>
            <semantic-form-text-input for="RecordResourceConditionsUse"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' clearable=true for="RecordResourceCopyrightDeclaration"></semantic-form-checklist-input>
          </bs-col>
          <bs-col sm='2'>
            <semantic-form-checklist-input type='radio' clearable=true for="RecordResourceUsageRightsStill"></semantic-form-checklist-input>
            <semantic-form-checklist-input type='radio' clearable=true for="RecordResourceUsageRightsStreaming"></semantic-form-checklist-input>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionAddSources" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="RecordResourceRelated"></semantic-form-text-input>
          </bs-col>          
          <bs-col sm='6'>
            <semantic-form-autocomplete-input for="ThingSeeAlso"></semantic-form-autocomplete-input>
          </bs-col>          
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionNotes" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input multiline=true for="ThingNote"></semantic-form-text-input>
          </bs-col>          
          <bs-col sm='6'>
            <semantic-form-text-input multiline=true for="ThingNoteInternal"></semantic-form-text-input>
          </bs-col>          
        </bs-row>
        <hr />
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionControlDescription" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input multiline=true for="RecordResourceProcessingConvention"></semantic-form-text-input>
          </bs-col>          
          <bs-col sm='6'>
            <semantic-form-switch for="RecordResourceProcessingDate" switch-on-field='RecordResourceDateType'>
              <semantic-form-switch-case label='Single Date'>
                <semantic-form-composite-input for="RecordResourceProcessingDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                  [[> RecordResourceDateType]],
                  [[> RecordResourceDateValue]],
                  [[> RecordResourceDateQualifier]],
                  [[> RecordResourceDateCertainty]]
                ]'>
                  <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                  <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                  <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                  <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              <semantic-form-switch-case label='Date Range'>
                <semantic-form-composite-input for="RecordResourceProcessingDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                  [[> RecordResourceDateType]],
                  [[> RecordResourceDateBeginning]],
                  [[> RecordResourceDateEnd]]
                ]'>
                  <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:DateRange"]]'></semantic-form-hidden-input>
                  <semantic-form-composite-input for="RecordResourceDateBeginning" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                    [[> RecordResourceDateType]],
                    [[> RecordResourceDateValue]],
                    [[> RecordResourceDateQualifier]],
                    [[> RecordResourceDateCertainty]]
                  ]'>
                    <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                  </semantic-form-composite-input>   

                  <semantic-form-composite-input for="RecordResourceDateEnd" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                    [[> RecordResourceDateType]],
                    [[> RecordResourceDateValue]],
                    [[> RecordResourceDateQualifier]],
                    [[> RecordResourceDateCertainty]]
                  ]'>
                    <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                    <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                  </semantic-form-composite-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
              <semantic-form-switch-case label='No Date'>
                <semantic-form-composite-input for="RecordResourceProcessingDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                  [[> RecordResourceDateType]],
                  [[> RecordResourceDateNoValue]]
                ]'>
                  <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:Date"]]'></semantic-form-hidden-input>
                  <semantic-form-checklist-input for="RecordResourceDateNoValue" type='radio' row=true default-value='[[resolvePrefix "spav:ndsd"]]'></semantic-form-checklist-input>
                </semantic-form-composite-input>
              </semantic-form-switch-case>
            </semantic-form-switch>
            <semantic-form-text-input for="RecordResourceResponsible"></semantic-form-text-input>
          </bs-col>          
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="RecordResourceIIIF"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-text-input for="RecordResourceVimeo"></semantic-form-text-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="RecordResourceIIIFManifest"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='6'>
            <style>
              .semantic-form-subject-input__suggest-label {
                display: none;
              }
            </style>
            <semantic-form-composite-input 
              for="RecordResourcePDFCloudResource"
              new-subject-template="{{RecordResourcePDFCloudURL}}"
              new-subject-template-settings='{
                "placeholders": {
                  "RecordResourcePDFCloudURL": {
                    "transform": "none"
                  }
                }
              }'
              default-edit-subject="true"
              default-suggest-subject="false"
              fields='[
                [[> RecordResourcePDFCloudDescription]],
                {
                  "id" : "RecordResourcePDFCloudURL",
                  "label": "[[i18n "field_url" bundle="sapa-fields"]]",
                  "minOccurs" : "1",
                  "maxOccurs" : "1",
                  "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
                  "askPattern" : "ASK { FILTER(REGEX(STR($value), \"https://cloud.sapa.swiss/s/[A-Za-z0-9]+\")) }"
              }
              ]'
            >
              <semantic-form-subject-input></semantic-form-subject-input>
              <semantic-form-text-input for="RecordResourcePDFCloudDescription"></semantic-form-text-input>

            </semantic-form-composite-input>
          </bs-col>
        </bs-row>
        <hr>
        <bs-row>
          <bs-col sm='12'>
            <semantic-form-composite-input for="RecordParts" new-subject-template='http://data.performing-arts.ch/r/{{UUID}}' fields='[
              [[> RDFtype]],
              [[> ThingIdentifier]],
              [[> ThingTypedIdentifier]],
              [[> ThingLegacyIdentifier]],
              [[> RecordResourceNameSingle]],
              [[> RecordResourceDate]],
              [[> RecordResourceSubject]],
              [[> RecordDocumentaryForm]],
              [[> RecordResourceDescription]],
              [[> ThingNote]],
              [[> ThingNoteInternal]],
              [[> RecordResourceProcessingConvention]],
              [[> RecordResourceResponsible]],
              [[> RecordResourceProcessingDate]],
              [[> RecordResourceCopyrightDeclaration]],
              [[> RecordResourceUsageRightsStill]],
              [[> RecordResourceUsageRightsStreaming]],
              [[> ThingLocation]],
              [[> ThingSeeAlso]],
              [[> RecordResourceVimeo]],
              [[> RecordResourceIIIF]],
              [[> RecordResourceIIIFManifest]],
              [[> RecordResourcePDFCloudResource]]
              ]'>
              <div style='display: none;'>
                <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "rico:RecordPart"]]'></semantic-form-hidden-input>
              </div>
              <bs-row>
                <bs-col sm='4'>
                  <semantic-form-composite-input 
                    for="ThingTypedIdentifier"
                    new-subject-template="http://data.performing-arts.ch/x/{{UUID}}"
                    fields='[
                      [[> RDFtype]],
                      [[> IdentifierType]],
                      [[> IdentifierValue]]
                    ]'>
                    
                    <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "rico:Identifier"]]'></semantic-form-hidden-input>
                    <semantic-form-text-input for="IdentifierValue"></semantic-form-text-input>
                    <semantic-form-select-input for="IdentifierType"></semantic-form-select-input>
                  </semantic-form-composite-input>
                  <semantic-form-text-input for="ThingIdentifier"></semantic-form-text-input>
                  <semantic-form-text-input for="ThingLegacyIdentifier"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='8'>
                  <semantic-form-text-input for="RecordResourceNameSingle"></semantic-form-text-input>
                  <semantic-form-switch for="RecordResourceDate" switch-on-field='RecordResourceDateType'>
                    <semantic-form-switch-case label='Single Date'>
                      <semantic-form-composite-input for="RecordResourceDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                        [[> RecordResourceDateType]],
                        [[> RecordResourceDateValue]],
                        [[> RecordResourceDateQualifier]],
                        [[> RecordResourceDateCertainty]]
                      ]'>
                        <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                        <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                        <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                        <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                      </semantic-form-composite-input>
                    </semantic-form-switch-case>
                    <semantic-form-switch-case label='Date Range'>
                      <semantic-form-composite-input for="RecordResourceDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                        [[> RecordResourceDateType]],
                        [[> RecordResourceDateBeginning]],
                        [[> RecordResourceDateEnd]]
                      ]'>
                        <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:DateRange"]]'></semantic-form-hidden-input>
                        <semantic-form-composite-input for="RecordResourceDateBeginning" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                          [[> RecordResourceDateType]],
                          [[> RecordResourceDateValue]],
                          [[> RecordResourceDateQualifier]],
                          [[> RecordResourceDateCertainty]]
                        ]'>
                          <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                          <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                        </semantic-form-composite-input>   
      
                        <semantic-form-composite-input for="RecordResourceDateEnd" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                          [[> RecordResourceDateType]],
                          [[> RecordResourceDateValue]],
                          [[> RecordResourceDateQualifier]],
                          [[> RecordResourceDateCertainty]]
                        ]'>
                          <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                          <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                        </semantic-form-composite-input>
                      </semantic-form-composite-input>
                    </semantic-form-switch-case>
                    <semantic-form-switch-case label='No Date'>
                      <semantic-form-composite-input for="RecordResourceDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                        [[> RecordResourceDateType]],
                        [[> RecordResourceDateNoValue]]
                      ]'>
                        <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:Date"]]'></semantic-form-hidden-input>
                        <semantic-form-checklist-input for="RecordResourceDateNoValue" type='radio' row=true default-value='[[resolvePrefix "spav:ndsd"]]'></semantic-form-checklist-input>
                      </semantic-form-composite-input>
                    </semantic-form-switch-case>
                  </semantic-form-switch>                  
                </bs-col>
              </bs-row>
              <hr />
              <bs-row>
                <bs-col sm='8'>
                  <semantic-form-text-input for="RecordResourceDescription" multiline=true></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-autocomplete-input for="RecordResourceSubject"></semantic-form-autocomplete-input>
                </bs-col>
              </bs-row>
              <bs-row>
                <bs-col sm='6'>
                  <semantic-form-tree-picker-input for="RecordDocumentaryForm"></semantic-form-tree-picker-input>
                </bs-col>
                <bs-col sm='6'>
                </bs-col>
              </bs-row>
              <hr />
              <bs-row>
                <bs-col sm='4'>
                  <semantic-form-checklist-input type='radio' clearable=true for="RecordResourceCopyrightDeclaration"></semantic-form-checklist-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-checklist-input type='radio' clearable=true for="RecordResourceUsageRightsStill"></semantic-form-checklist-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-checklist-input type='radio' clearable=true for="RecordResourceUsageRightsStreaming"></semantic-form-checklist-input>
                </bs-col>
              </bs-row>
              <hr />
              <bs-row>
                <bs-col sm='6'>
                  <semantic-form-text-input for="RecordResourceIIIF"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='6'>
                  <semantic-form-text-input for="RecordResourceIIIFManifest"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='6'>
                  <semantic-form-text-input for="RecordResourceVimeo"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='6'>      
                  <semantic-form-composite-input 
                    for="RecordResourcePDFCloudResource"
                    new-subject-template="{{RecordResourcePDFCloudURL}}"
                    new-subject-template-settings='{
                      "placeholders": {
                        "RecordResourcePDFCloudURL": {
                          "transform": "none"
                        }
                      }
                    }'
                    default-edit-subject="true"
                    default-suggest-subject="false"
                    fields='[
                      [[> RecordResourcePDFCloudDescription]],
                      {
                        "id" : "RecordResourcePDFCloudURL",
                        "label": "[[i18n "field_url" bundle="sapa-fields"]]",
                        "minOccurs" : "1",
                        "maxOccurs" : "1",
                        "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
                        "askPattern" : "ASK { FILTER(REGEX(STR($value), \"https://cloud.sapa.swiss/s/[A-Za-z0-9]+\")) }"
                    }
                    ]'
                  >
                    <semantic-form-subject-input></semantic-form-subject-input>
                    <semantic-form-text-input for="RecordResourcePDFCloudDescription"></semantic-form-text-input>

                  </semantic-form-composite-input>
                </bs-col>
              </bs-row>
              <hr />
              <bs-row>
                <bs-col sm='6'>
                  <semantic-form-text-input for="ThingNote" multiline=true></semantic-form-text-input>
                </bs-col>
                <bs-col sm='6'>
                  <semantic-form-text-input for="ThingNoteInternal" multiline=true></semantic-form-text-input>
                </bs-col>
              </bs-row>
              <hr />
              <bs-row>
                <bs-col sm='4'>
                  <semantic-form-text-input multiline=true for="RecordResourceProcessingConvention"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-switch for="RecordResourceProcessingDate" switch-on-field='RecordResourceDateType'>
                    <semantic-form-switch-case label='Single Date'>
                      <semantic-form-composite-input for="RecordResourceProcessingDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                        [[> RecordResourceDateType]],
                        [[> RecordResourceDateValue]],
                        [[> RecordResourceDateQualifier]],
                        [[> RecordResourceDateCertainty]]
                      ]'>
                        <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                        <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                        <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                        <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                      </semantic-form-composite-input>
                    </semantic-form-switch-case>
                    <semantic-form-switch-case label='Date Range'>
                      <semantic-form-composite-input for="RecordResourceProcessingDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                        [[> RecordResourceDateType]],
                        [[> RecordResourceDateBeginning]],
                        [[> RecordResourceDateEnd]]
                      ]'>
                        <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:DateRange"]]'></semantic-form-hidden-input>
                        <semantic-form-composite-input for="RecordResourceDateBeginning" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                          [[> RecordResourceDateType]],
                          [[> RecordResourceDateValue]],
                          [[> RecordResourceDateQualifier]],
                          [[> RecordResourceDateCertainty]]
                        ]'>
                          <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                          <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                        </semantic-form-composite-input>   
      
                        <semantic-form-composite-input for="RecordResourceDateEnd" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                          [[> RecordResourceDateType]],
                          [[> RecordResourceDateValue]],
                          [[> RecordResourceDateQualifier]],
                          [[> RecordResourceDateCertainty]]
                        ]'>
                          <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:SingleDate"]]'></semantic-form-hidden-input>
                          <semantic-form-text-input for="RecordResourceDateValue"></semantic-form-text-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateQualifier"></semantic-form-checklist-input>
                          <semantic-form-checklist-input row=true for="RecordResourceDateCertainty"></semantic-form-checklist-input>
                        </semantic-form-composite-input>
                      </semantic-form-composite-input>
                    </semantic-form-switch-case>
                    <semantic-form-switch-case label='No Date'>
                      <semantic-form-composite-input for="RecordResourceProcessingDate" new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[
                        [[> RecordResourceDateType]],
                        [[> RecordResourceDateNoValue]]
                      ]'>
                        <semantic-form-hidden-input for="RecordResourceDateType" default-value='[[resolvePrefix "rico:Date"]]'></semantic-form-hidden-input>
                        <semantic-form-checklist-input for="RecordResourceDateNoValue" type='radio' row=true default-value='[[resolvePrefix "spav:ndsd"]]'></semantic-form-checklist-input>
                      </semantic-form-composite-input>
                    </semantic-form-switch-case>
                  </semantic-form-switch>
                </bs-col>
                <bs-col sm='4'>
                  <semantic-form-text-input for="RecordResourceResponsible"></semantic-form-text-input>
                </bs-col>
              </bs-row>
              <hr />
              <bs-row>
                <bs-col sm='6'>
                  <div>Depricated</div>
                  <semantic-form-tree-picker-input for="ThingLocation"></semantic-form-tree-picker-input>
                </bs-col>
                <bs-col sm='6'>
                </bs-col>
              </bs-row>
            </semantic-form-composite-input>
          </bs-col>
        </bs-row>
        <hr />
        <bs-row>
          <bs-col sm='12'>
            <semantic-form-text-input for="RDFSComment" multiline=true></semantic-form-text-input>
          </bs-col>
        </bs-row>
        <hr>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name='submit' class='btn btn-secondary'>[[i18n 'FormSubmit' bundle='performing-arts-ch']]</button>
        <button name='reset' class='btn btn-secondary'>[[i18n 'FormReset' bundle='performing-arts-ch']]</button>
      </bs-panel>
    </semantic-form>
  </div>