[[#> sapaModule:BaseSearchPartial limit=500 showTable="true" defaultTabView="table"]]
  <semantic-search-query-keyword
    domain='<[[resolvePrefix "frbr:F25_Performance_Plan"]]>'
    query='
              SELECT ?subject WHERE {
       ?subject a frbr:F25_Performance_Plan .

      ?subject rdfs:label ?name .
     
      FILTER(CONTAINS(STR(?subject), "/w/"))
   SERVICE <http://www.bigdata.com/rdf/search#search>
           {
      ?name bds:search ?__token__ ;
        bds:minRelevance "0.2" ;
        bds:relevance ?score ; 
        bds:matchAllTerms "true" .
     }
      BIND(STRLEN(?name) as ?length)
    } ORDER BY DESC(?score) ?length'
    _default-query='SELECT DISTINCT ?subject WHERE {
      ?subject a frbr:F25_Performance_Plan .
      FILTER(CONTAINS(STR(?subject), "/w/"))
    } '
  >
 </semantic-search-query-keyword>
[[/sapaModule:BaseSearchPartial]]