  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/c/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='places'
      fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
        common_appellation="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ConceptCommonAppellation"
        description="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Description"
        same_as="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SameAs"
        subject_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SubjectOf"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
        <semantic-form-hidden-input for='rdf_type' default-values='["[[resolvePrefix "crm:E28_Conceptual_Object"]]", "[[resolvePrefix "rico:Concept"]]"]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for='common_appellation' languages='["en","de","fr","it"]'></semantic-form-text-input>
        <semantic-form-text-input for="description"></semantic-form-text-input>
        <semantic-form-text-input for="same_as"></semantic-form-text-input>
        [[#if create]]
          <div class="semantic-form-input-decorator--with-header">
            <div class="semantic-form-input-decorator__header">
              [[i18n "GeneralFormRecordLater" bundle="performing-arts-ch"]]
            </div>
          </div>
        [[else]]
          <semantic-form-autocomplete-input for='subject_of'>
            <semantic-form new-subject-template='http://data.performing-arts.ch/r/{{UUID}}' fields='[[fieldDefinitions
              record_set_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
              record_set_identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
              record_set_name="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingName"
              record_set_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetType"
              record_set_subject="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSubject"
              record_set_parent="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceParent"
            ]]'>
              <div style='display: none;'>
                  <semantic-form-hidden-input for='record_set_rdf_type' default-value='[[resolvePrefix "rico:RecordSet"]]'></semantic-form-hidden-input>
              </div>
              <semantic-form-text-input for='record_set_identifier'></semantic-form-text-input>
              <semantic-form-text-input for='record_set_name'></semantic-form-text-input>
              <semantic-form-checklist-input type='radio' row=true for='record_set_type'></semantic-form-checklist-input>
              <semantic-form-autocomplete-input for="record_set_subject" default-value='[[this]]'></semantic-form-autocomplete-input>
              <!-- TODO: automatically add correct parent? -->
              <semantic-form-tree-picker-input for='record_set_parent' ></semantic-form-tree-picker-input>
              <button name='submit' class='btn btn-default'>[[i18n "FormCreateRecordSet" bundle="performing-arts-ch"]]</button>
            </semantic-form>
          </semantic-form-autocomplete-input>
        [[/if]]
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-default">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-default">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>