[[> sapaModule:FieldDefinitions]]

  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/p/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='places'
      fields='[
        [[> RDFtype]],
        [[> PlaceName]],
        [[> PlaceFallsWithin]],
        [[> SameAs]]
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
        <semantic-form-hidden-input for="RDFtype" default-values='["[[resolvePrefix "crm:E53_Place"]]", "[[resolvePrefix "rico:Place"]]"]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="PlaceName" languages='["en", "de", "fr", "it"]'></semantic-form-text-input>
        <semantic-form-tree-picker-input for="PlaceFallsWithin" ></semantic-form-tree-picker-input>
        <semantic-form-text-input for="SameAs"></semantic-form-text-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-secondary">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-secondary">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>