    <semantic-query 
    query='SELECT ?fieldlabel ?value ?label WHERE {
        ?? owl:sameAs ?value
        BIND (REPLACE(STR(?value), ".*\\/c*b*", "") as ?localname)
        BIND (STRBEFORE(STR(?value), ?localname) as ?prefix)
        VALUES (?fieldlabel) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SameAs>) }
        VALUES (?prefix ?source ?order)
        {
          ("http://www.wikidata.org/entity/" "Wikidata" 0)
          ("http://www.isni.org/" "ISNI" 1)
          ("http://viaf.org/viaf/" "VIAF" 2)
          ("http://d-nb.info/gnd/" "GND" 3)
          ("https://catalogue.bnf.fr/ark:/12148/cb" "BnF" 4)
          ("http://geonames.org/" "Geonames" 5)
          ("http://classifications.data.admin.ch/municipality/" "Swiss Municipality" 6)
          ("http://classifications.data.admin.ch/canton/" "Swiss Municipality" 7)
          ("http://tls.theaterwissenschaft.ch/wiki/" "Theaterlexikon der Schweiz" 8)
        }
        BIND (IF(?order<8,
        CONCAT(?source,": ",?localname) ,
        ?source) as ?label)
    } ORDER BY ASC(?order)'
    template='<div>{{#each bindings}}
        {{#if @first}}<h5><mp-label iri="{{fieldlabel.value}}"></mp-label></h5><ul class="list-unstyled">{{/if}}
        <li><a target="_blank" href="{{value.value}}"> {{label.value}} </a></li>
      {{/each}}
    </ul></div>'>
    </semantic-query>