 <bs-tab event-key='internal-data' title='Summary'>
  <div class='table-responsive'>
    <table class='table'>
      <thead role='header'>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <mp-field-visualization
      subject='[[this]]'
      fields='[[fieldDefinitions
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_contact_point="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_contact_point"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_has_current_or_former_residence="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_has_current_or_former_residence"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by_timespan="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by_timespan"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_is_referred_to_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_is_referred_to_by"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E21_Person_is_current_or_former_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E21_Person_is_current_or_former_member"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_dissolved_by_timespan="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_dissolved_by_timespan"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_performed_activity="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_performed_activity"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_is_predecessor_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_is_predecessor_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_is_successor_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_is_successor_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_activity_carried_out_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_activity_carried_out_by"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_is_identified_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_is_identified_by"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_has_current_or_former_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E4_Agent_has_current_or_former_member"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs"
      ]]'
      template='{{> sapaModule:FieldBasedVisualization subject="[[this]]"}}' 
      [[!-- show in include [[> sapaModule:FieldBasedVisualization ]] --]]
      >
    </mp-field-visualization> 
  </table>
</div>
</bs-tab>
