<div data-flex-layout='row top-stretch'>
<semantic-form 
 [[#if create]]
    new-subject-template='http://data.performing-arts.ch/a/{{UUID}}'
    post-action="redirect"
  [[else]]
    subject='[[this]]'
    post-action="reload"
 [[/if]]
      browser-persistence=true
      form-id='groups'
       persistence='ldp'             
       fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_rdf_type"
        official_name="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Official_Name"
        alternative_name="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Alternative_Name"
        acronym="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Acronym"
        actor_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_type"
        residence="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_current_or_former_residence"
        predecessor="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_successor_of"
        formation_year="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by_timespan"
        dissolution_year="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_dissolved_by_timespan"
        website="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website"
        venues="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_manages_venue"
        members="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_current_or_former_member"
        associations="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_association_member"
        record_sets="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Subject_of"
        sameAs="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs"
        note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
        <semantic-form-hidden-input for='rdf_type' default-values='["http://www.cidoc-crm.org/cidoc-crm/E74_Group","http://www.w3.org/ns/prov#Agent"]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="official_name"></semantic-form-text-input>
        <semantic-form-text-input for="alternative_name"></semantic-form-text-input>
        <semantic-form-text-input for="acronym"></semantic-form-text-input>
        <semantic-form-tree-picker-input for="actor_type"></semantic-form-tree-picker-input>
        <semantic-form-tree-picker-input for="residence"></semantic-form-tree-picker-input>
        <semantic-form-autocomplete-input for="predecessor"></semantic-form-autocomplete-input>
        <semantic-form-text-input for="formation_year"></semantic-form-text-input>
        <semantic-form-text-input for="dissolution_year"></semantic-form-text-input>
        <semantic-form-text-input for="website"></semantic-form-text-input>
        <semantic-form-autocomplete-input for="venues"></semantic-form-autocomplete-input>
        <semantic-form-autocomplete-input for="members"></semantic-form-autocomplete-input>
        <semantic-form-autocomplete-input for="associations"></semantic-form-autocomplete-input>
        <semantic-form-autocomplete-input for="record_sets"></semantic-form-autocomplete-input>
        <semantic-form-text-input for="sameAs"></semantic-form-text-input>
        <semantic-form-text-input for="note"></semantic-form-text-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button
          name="submit"
          class="btn btn-default"
        >Save</button>
        <button
          name="reset"
          class="btn btn-default"
        >Reset</button>
      </bs-panel>
    </semantic-form>
  </div>