[[> sapaModule:FieldDefinitions]]

 <div data-flex-layout='row top-stretch'>
 <semantic-form 
 [[#if create]]
   new-subject-template='http://data.performing-arts.ch/w/{{UUID}}'
  [[else]]
  subject='[[this]]'
 [[/if]]
       post-action="reload"
       browser-persistence=true
       form-id='Productions'
       persistence='ldp'             
       fields='[
        [[> Performance_Title]],
        [[> E1_CRM_Entity_rdf_type]],
        [[> Activity]],
        genre [[> Genre]],
        [[> Performance_Language]],
        [[> Performance_Venue]],
        [[> Subtitle_Language]]
      ]'>
      <bs-panel>
    
        <div style="display: none;">  
        
          <semantic-form-hidden-input for="E1_CRM_Entity_rdf_type" default-values="http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan"></semantic-form-hidden-input>
        </div>
        
        <semantic-form-text-input for="Performance_Title"></semantic-form-text-input>
         <semantic-form-autocomplete-input for="Performance_Language"></semantic-form-autocomplete-input>
        <semantic-form-autocomplete-input for='genre'></semantic-form-autocomplete-input>
         <semantic-form-autocomplete-input for="Performance_Venue"></semantic-form-autocomplete-input>
         <semantic-form-autocomplete-input for="Subtitle_Language"></semantic-form-autocomplete-input>
  
                                                       
        	  <semantic-form-composite-input for="Activity" new-subject-template="http://data.performing-arts.ch/x/{{UUID}}"

           fields='[
           [[> typeset]],
           [[> Performed_By]],
           [[> Activity_Type]]
       			        		]'>
           <div style="display: none;">  
			<semantic-form-hidden-input for="E1_CRM_Entity_rdf_type" default-value='http://www.cidoc-crm.org/cidoc-crm/E7_Activity'>     </semantic-form-hidden-input></div>   
 <semantic-form-autocomplete-input for="Performed_By"  placeholder='Search persons...'></semantic-form-autocomplete-input>
  <semantic-form-autocomplete-input for="Activity_Type"></semantic-form-autocomplete-input>
              
          </semantic-form-composite-input>

              <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-secondary">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-secondary">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>