<semantic-map 
	query='SELECT ?wkt ?description (?wikiMatch as ?link) WHERE {
		hint:Query hint:optimizer "None" .
		?? owl:sameAs ?wikiMatch .
		SERVICE <https://wikidata.metaphacts.com/sparql> {
		  ?wikiMatch  <http://www.wikidata.org/prop/direct/P625> ?wkt .
		  ?wikiMatch   <http://schema.org/description> ?description .
		}
	} ' 
	no-result-template='<div> 
		<i class="fa fa-map-o" style="font-size:70px;color:#e8e6e6;" aria-hidden="true"></i><br><br>
		<span style="font-weight:700;color:#e8e6e6;">No spatial information from WikiData available.</span>
	</div>'>
</semantic-map>