<!-- date -->

<semantic-query 
    query="SELECT ?label ?date  WHERE {
            VALUES (?label) { ( '[[i18n "field_date" bundle="sapa-fields"]]') }
        
        ?? spao:legacyDate ?date .
    }"
    template='<div>
        {{#ifCond bindings.length ">" 0}}<h5>{{bindings.0.label.value}}</h5>{{/ifCond}}
        <ul class="list-unstyled">{{#each bindings}}
            <li>{{date.value}}</li>
        {{/each}}</ul></div>'
    >
</semantic-query>


<semantic-query 
    query="SELECT DISTINCT ?label ?single_date ?single_qualifier ?single_certainty ?beginning_date ?beginning_qualifier ?beginning_certainty ?end_date ?end_qualifier ?end_certainty WHERE {
            VALUES (?label) { ( '[[i18n "field_date" bundle="sapa-fields"]]') }
        
        ?? rico:isAssociatedWithDate ?date .
        {
            OPTIONAL { ?date rico:normalizedDateValue ?normalized_date. }
            OPTIONAL { ?date rico:expressedDate ?expressed_date. }
            BIND(IF(BOUND(?expressed_date), ?expressed_date, ?normalized_date) AS ?single_date)
            OPTIONAL { ?date rico:dateQualifier ?single_qualifier . }
            OPTIONAL { ?date rico:certainty ?single_certainty . }
        } UNION {
            ?date a rico:DateRange .
            MINUS { ?date rico:expressedDate ?expressed_date . }
            MINUS { ?date rico:normalizedDateValue ?expressed_date . }
            OPTIONAL {
                ?date rico:hasBeginningDate ?b .
                ?b rico:expressedDate ?beginning_date .
                OPTIONAL { ?b rico:dateQualifier ?beginning_qualifier . }
                OPTIONAL { ?b rico:certainty ?beginning_certainty . }
            }
            OPTIONAL {
                ?date rico:hasEndDate ?e .
                ?e rico:expressedDate ?end_date .
                OPTIONAL { ?e rico:dateQualifier ?end_qualifier . }
                OPTIONAL { ?e rico:certainty ?end_certainty . }
            }
        }
    }"
    template='<div>
        {{#ifCond bindings.length ">" 0}}<h5>{{bindings.0.label.value}}</h5>{{/ifCond}}
        <ul class="list-unstyled">{{#each bindings}}
            <li>
                {{#if single_date.value}}
                    {{#if single_qualifier.value}}<mp-label iri="{{single_qualifier.value}}"></mp-label> {{/if}}
                    {{single_date.value}}
                    {{#if single_certainty.value}}<span> (<mp-label iri="{{single_certainty.value}}"></mp-label>)</span>{{/if}}
                {{else}}
                    {{#if beginning_date.value}}
                        {{#if beginning_qualifier.value}}<mp-label iri="{{beginning_qualifier.value}}"></mp-label> {{/if}}
                        {{beginning_date.value}}
                        {{#if beginning_certainty.value}}<span> (<mp-label iri="{{beginning_certainty.value}}"></mp-label>)</span>{{/if}}
                    {{/if}}
                    <span> - </span>
                    {{#if end_date.value}}
                        {{#if end_qualifier.value}}<mp-label iri="{{end_qualifier.value}}"></mp-label> {{/if}}
                        {{end_date.value}}
                        {{#if end_certainty.value}}<span> (<mp-label iri="{{end_certainty.value}}"></mp-label>)</span>{{/if}}
                    {{/if}}
                {{/if}}
            </li>
        {{/each}}</ul></div>'
    >
</semantic-query>
