[[> sapaModule:FieldDefinitions]]

  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/w/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='sparql' 
      form-id='performancePlan'
      fields='[
        [[> RDFtype_SPARQLMode]],
        [[> Performance_Genre_SPARQLMode]],
        [[> Performance_Note_Entity_Typed_SPARQLMode]],
        [[> Performance_Label_SPARQLMode]],
        [[> TitleEntity_SPARQLMode]]
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
          <semantic-form-hidden-input for="RDFtype_SPARQLMode" default-value='[[resolvePrefix "frbroo:F25_Performance_Plan"]]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="Performance_Label_SPARQLMode" languages='["en","de","it","fr"]' ></semantic-form-text-input>
        <semantic-form-composite-input for="TitleEntity_SPARQLMode"
          new-subject-template='/title/{{UUID}}'
          fields='[
            [[> TitleType_SPARQLMode]]
          ]'
        >
          <semantic-form-select-input for="TitleType_SPARQLMode"></semantic-form-select-input>
        </semantic-form-composite-input>
        <semantic-form-select-input for="Performance_Genre_SPARQLMode" ></semantic-form-select-input>
        <semantic-form-composite-input for="Performance_Note_Entity_Typed_SPARQLMode"
          new-subject-template='/note/{{UUID}}'
          fields='[
            [[> Performance_Note_Type_SPARQLMode]],
            [[> Performance_Note_Value_SPARQLMode]]
          ]'
        >
          <semantic-form-text-input for="Performance_Note_Value_SPARQLMode" languages='["en","de","it","fr"]' ></semantic-form-text-input>
          <semantic-form-select-input for="Performance_Note_Type_SPARQLMode"></semantic-form-select-input>
        </semantic-form-composite-input>
        <semantic-form-errors></semantic-form-errors>
        <button name="submit" class="btn btn-secondary">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-secondary">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>
