<semantic-query
  query="SELECT ?performance WHERE {
    ?performance frbroo:R25_performed ?? .
  }" 
  template='{{> template-performances }}'>
>
  <template id='template-performances'>
    <div id='sapa-parts-module'>
      <h5>Performances</h5>
      {{#each bindings}}
        <h6><semantic-link iri="{{performance.value}}"></semantic-link></h6>

        <!-- additional type -->
        <semantic-query
          query="SELECT ?type WHERE {
            BIND(<{{performance.value}}> AS ?performance)
            {
              ?performance schema:additionalType ?type .
              BIND('1' as ?order)
            } UNION {
              ?performance crm:P2_has_type ?type .
              ?type skos:inScheme spav:hl .
              BIND('2' as ?order)
            }
          } ORDER BY ?order"
          template="{{> template-type}}">
          <template id="template-type">
            <ul class="list-unstyled">
            {{#each bindings}}
              <li>
                <mp-label iri="{{type.value}}"></mp-label>
              </li>
            {{/each}}
            </ul>
          </template>>
        </semantic-query>
      
        <!-- season -->
        <semantic-query
          query="SELECT ?season WHERE {
            BIND(<{{performance.value}}> AS ?performance)
            ?performance crm:P10_falls_within ?season .
          }"
          template="{{> template-season}}"
          >
            <template id="template-season">
              <ul class="list-unstyled">
              {{#each bindings}}
                <li>
                  <semantic-link iri="{{season.value}}"></semantic-link>
                </li>
              {{/each}}
              </ul>
            </template>
          </semantic-query>

        <!-- organiser -->
         <semantic-query
          query="SELECT ?group WHERE {
            BIND(<{{performance.value}}> AS ?PerfSerie)
            ?PerfSerie a frbroo:F31_Performance ;
                        frbroo:R25_performed ?PerfPlan;
                      schema:additionalType spav:hlser ; 
                      crm:P9_consists_of ?Activity. 
            ?Activity a crm:E7_Activity; 
                        crm:P2_has_type <http://vocab.performing-arts.ch/mupro>;#programmation 
                        crm:P14_carried_out_by ?group.
          }"
          template="{{> template-organiser}}"
        >
          <template id="template-organiser">
            <h5>[[i18n "field_organised_by" bundle="sapa-fields"]]</h5>
            <ul class="list-unstyled">
              {{#each bindings}}
                <li>
                  <mp-label iri="{{group.value}}"></mp-label>
                </li>
              {{/each}}
              </ul>
          </template>
      </semantic-query>

        <!-- venue -->
        <semantic-query 
          query='SELECT ?type ?venue ?unidentified
          WHERE {
              VALUES (?type) {
                  (spav:dwmkn) # venue
              }
              BIND(<{{performance.value}}> AS ?performance)
              ?performance crm:P8_took_place_on_or_within ?venue .
              BIND(IF(CONTAINS(STR($venue), "/u/"), "true", "") AS ?unidentified)
          }'
          template="{{> template-venue}}"
        >
          <template id="template-venue">
            <h5><mp-label iri="[[resolvePrefix "spav:dwmkn"]]"></mp-label></h5>
            <ul class="list-unstyled">
            {{#each bindings}}
              <li>
                {{#if unidentified.value}}<mp-label iri="{{venue.value}}"></mp-label>{{else}}<semantic-link iri="{{venue.value}}"></semantic-link>{{/if}}
              </li>
            {{/each}}
            </ul>
          </template>
        </semantic-query>

        <!-- dates and type -->
        <semantic-query
          query="SELECT ?date_begin ?date_end ?subPerformance ?premiereType WHERE {
            BIND(<{{performance.value}}> AS ?performance)
            ?subPerformance crm:P9i_forms_part_of ?performance .
            ?subPerformance crm:P4_has_time-span ?timespan .
            ?timespan crm:P82a_begin_of_the_begin ?date_begin ;
              crm:P82b_end_of_the_end ?date_end .
            OPTIONAL {
              ?subPerformance crm:P2_has_type ?premiereType .
              ?premiereType skos:inScheme spav:hl .
            }
          }"
          template="{{> template-dates}}"
          >
            <template id="template-dates">
              <h5>Dates</h5>
              <ul class="list-unstyled">
              {{#each bindings}}
                <li>
                  <semantic-link iri="{{subPerformance.value}}">{{dateTimeFormat date_begin.value "DD.MM.YYYY"}}{{#ifCond date_begin.value "==" date_end.value}}{{else}} - {{dateTimeFormat date_end.value "DD.MM.YYYY"}}{{/ifCond}}</semantic-link>
                  {{#if premiereType.value}}<br><mp-label iri="{{premiereType.value}}"></mp-label>{{/if}}
                </li>
              {{/each}}
              </ul>
            </template>
          </semantic-query>

        <!-- creation functions - direction -->
        {{> sapaModule:ShowActivities function="spav:mucbq" resource=performance.value}}

        <!-- creation functions - stage direction -->
        {{> sapaModule:ShowActivities function="spav:mutnt" resource=performance.value}}

        <!-- creation functions - assistant stage direction -->
        {{> sapaModule:ShowActivities function="spav:mugkn" resource=performance.value}}

        <!-- creation functions - film direction -->
        {{> sapaModule:ShowActivities function="spav:muctj" resource=performance.value}}

        <!-- creation functions - dramaturgy -->
        {{> sapaModule:ShowActivities function="spav:musim" resource=performance.value}}

        <!-- creation functions - choreography -->
        {{> sapaModule:ShowActivities function="spav:mubbv" resource=performance.value}}

        <!-- creation functions - conductor -->
        {{> sapaModule:ShowActivities function="spav:muqfg" resource=performance.value}}

        <!-- creation functions - choral conductor -->
        {{> sapaModule:ShowActivities function="spav:mufcc" resource=performance.value}}

        <!-- creation functions - stage design -->
        {{> sapaModule:ShowActivities function="spav:mulga" resource=performance.value}}

        <!-- creation functions - light -->
        {{> sapaModule:ShowActivities function="spav:murni" resource=performance.value}}

        <!-- creation functions - costume design -->
        {{> sapaModule:ShowActivities function="spav:muecs" resource=performance.value}}

        <!-- creation functions - video -->
        {{> sapaModule:ShowActivities function="spav:muqju" resource=performance.value}}

        <!-- creation functions - camera -->
        {{> sapaModule:ShowActivities function="spav:mujig" resource=performance.value}}

        <!-- creation functions - projection -->
        {{> sapaModule:ShowActivities function="spav:mufwk" resource=performance.value}}

        <!-- creation functions - sound -->
        {{> sapaModule:ShowActivities function="spav:muxzh" resource=performance.value}}

        <!-- reference functions - authorship -->
        {{> sapaModule:ShowActivities function="spav:muiuk" resource=performance.value}}

        <!-- reference functions - libretto -->
        {{> sapaModule:ShowActivities function="spav:mujmh" resource=performance.value}}

        <!-- reference functions - lyrics -->
        {{> sapaModule:ShowActivities function="spav:muvhj" resource=performance.value}}

        <!-- reference functions - adaption -->
        {{> sapaModule:ShowActivities function="spav:mudcw" resource=performance.value}}

        <!-- reference functions - translation -->
        {{> sapaModule:ShowActivities function="spav:muwyo" resource=performance.value}}

        <!-- reference functions - added text -->
        {{> sapaModule:ShowActivities function="spav:mupvk" resource=performance.value}}

        <!-- reference functions - added lyrics -->
        {{> sapaModule:ShowActivities function="spav:muzua" resource=performance.value}}

        <!-- reference functions - screenplay -->
        {{> sapaModule:ShowActivities function="spav:mupot" resource=performance.value}}

        <!-- reference functions - composition -->
        {{> sapaModule:ShowActivities function="spav:mufbo" resource=performance.value}}

        <!-- performance functions - acting -->
        {{> sapaModule:ShowActivities function="spav:munib" resource=performance.value}}

        <!-- performance functions - dance -->
        {{> sapaModule:ShowActivities function="spav:mulcp" resource=performance.value}}

        <!-- performance functions - performance -->
        {{> sapaModule:ShowActivities function="spav:muawx" resource=performance.value}}

        <!-- performance functions - pantomine -->
        {{> sapaModule:ShowActivities function="spav:mujhq" resource=performance.value}}

        <!-- performance functions - puppet show -->
        {{> sapaModule:ShowActivities function="spav:muhkf" resource=performance.value}}

        <!-- performance functions - music performance -->
        {{> sapaModule:ShowActivities function="spav:muiim" resource=performance.value}}

        <!-- performance functions - singing -->
        {{> sapaModule:ShowActivities function="spav:muygg" resource=performance.value}}

        <!-- performance functions - intrumental performance -->
        {{> sapaModule:ShowActivities function="spav:mupah" resource=performance.value}}

        <!-- performance functions - oeil extérieure -->
        {{> sapaModule:ShowActivities function="spav:mudat" resource=performance.value}}

        <!-- performance functions - narration -->
        {{> sapaModule:ShowActivities function="spav:muacs" resource=performance.value}}

        <!-- performance functions - host -->
        {{> sapaModule:ShowActivities function="spav:mupfz" resource=performance.value}}

        <!-- performance functions - moderation -->
        {{> sapaModule:ShowActivities function="spav:mumnc" resource=performance.value}}

        <!-- performance functions - contribution -->
        {{> sapaModule:ShowActivities function="spav:munuj" resource=performance.value}}
          <hr />
        {{/each}}
      </div>
  </template>
</semantic-query>