            <bs-col sm="4">

                <!-- official name -->
                <semantic-query 
            query='SELECT ?typelabel ?value
                    WHERE {
                        ?? crm:P1_is_identified_by ?app .
                        ?app a crm:E41_Appellation ; 
                            crm:P2_has_type spav:yanuj ;
                            rdf:value ?value .
                    } LIMIT 1'
            template='<div><h3>{{#each bindings}}{{value.value}}{{/each}}</h3></div>'>
            </semantic-query>

            <!-- alternative names -->
                <semantic-query 
            query='SELECT ?value ?type ?typesort
                    WHERE {
                        VALUES (?type ?typesort) { (spav:yamqk 1) (spav:yavtx 2) }
                        ?? crm:P1_is_identified_by ?appellation .
                        ?appellation a crm:E41_Appellation ; 
                            crm:P2_has_type ?type ;
                            rdf:value ?value .
                        { ?appellation crm:P2_has_type spav:yamqk . }
                        UNION
                        { ?appellation crm:P2_has_type spav:yavtx . }
                    } ORDER BY ?typesort'
            template='<div>({{#each bindings}}{{#if @first}}{{value.value}}{{else}}, {{value.value}}{{/if}}{{/each}})</div>'>
            </semantic-query>

            <hr/>

            <!-- agent type -->
            <semantic-query 
            query='SELECT ?type ?label
                    WHERE {
                        ?? crm:P2_has_type ?type .
                        ?type skos:prefLabel ?label .
                        FILTER(LANG(?label)="en")
                    }'
            template='<p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{type.value}}">{{label.value}}</semantic-link>{{else}}, <semantic-link uri="{{type.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- place -->
            <semantic-query 
            query='SELECT ?place ?label
                    WHERE {
                        ?? crm:P74_has_current_or_former_residence ?p .
                        ?p crm:P89_falls_within ?place .
                        ?place rdfs:label ?label .
                        FILTER(LANG(?label)="en")
                    }'
            template='<p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{place.value}}">{{label.value}}</semantic-link>{{else}}, <semantic-link uri="{{place.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- dates -->
            <semantic-query 
            query='SELECT ?dates
                    WHERE {
                        OPTIONAL {
                            ?? crm:P95i_was_formed_by ?formation .
                            ?formation a crm:E66_Formation ;
                                crm:P4_has_time-span ?formationtime .
                            ?formationtime rdfs:label ?formationlabel .
                        }
                        OPTIONAL {
                            ?? crm:P99i_was_dissolved_by ?dissolution .
                            ?dissolution a crm:E68_Dissolution ;
                                crm:P4_has_time-span ?dissolutiontime .
                            ?dissolutiontime rdfs:label ?dissolutionlabel .
                        }
                        BIND(CONCAT(COALESCE(?formationlabel, ""), "-", COALESCE(?dissolutionlabel, "")) as ?dates)
                    }'
            template='{{#each bindings}}<p>{{dates.value}}</p>{{/each}}'>
            </semantic-query>
            <!-- TODO: filter for no dates -->

            <!-- predecessor -->
            <!-- TODO: don't link to unidentified groups -->
            <semantic-query 
            query='SELECT ?predecessor ?label
                    WHERE {
                        ?? rdau:P60683 ?predecessor .
                        ?predecessor rdfs:label ?label .
                    }'
            template='<div><h5>predecessor(s)</h5><p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{predecessor.value}}">{{label.value}}</semantic-link>{{else}}<br/> <semantic-link uri="{{predecessor.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p></div>'>
            </semantic-query>

            <!-- successor -->
            <!-- TODO: don't link to unidentified groups -->
            <semantic-query 
            query='SELECT ?successor ?label
                    WHERE {
                        ?? rdaa:P50016 ?successor .
                        ?successor rdfs:label ?label .
                    }'
            template='<div><h5>successor(s)</h5><p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{successor.value}}">{{label.value}}</semantic-link>{{else}}<br/> <semantic-link uri="{{successor.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p></div>'>
            </semantic-query>

            <!-- memberships -->
            <!-- TODO: don't link to unidentified groups -->
            <semantic-query 
            query='SELECT ?association ?label
                    WHERE {
                        ?? crm:P107i_is_current_or_former_member_of ?association .
                        ?association rdfs:label ?label .
                    }'
            template='<div><h5>memberships</h5><p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{association.value}}">{{label.value}}</semantic-link>{{else}}<br/> <semantic-link uri="{{association.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p></div>'>
            </semantic-query>

            <!-- members -->
            <!-- TODO: don't link to unidentified members -->
            <semantic-query 
            query='SELECT ?member ?label
                    WHERE {
                        ?? crm:P107_has_current_or_former_member ?member .
                        ?member rdfs:label ?label .
                    }'
            template='<div><h5>members</h5><p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{member.value}}">{{label.value}}</semantic-link>{{else}}<br/> <semantic-link uri="{{member.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p></div>'>
            </semantic-query>


            </bs-col>

            <bs-col sm="4">
            </bs-col>

            <bs-col sm="4">
                <semantic-query 
                query='SELECT ?value ?label WHERE {
                    ?? owl:sameAs ?value
                    BIND (replace(str(?value), ".*\\/", "") as ?localname)
                    BIND (strbefore(str(?value), ?localname) as ?prefix)

                    VALUES (?prefix ?source)
                    {
                      ("http://www.wikidata.org/entity/" "Wikidata")
                      ("https://www.wikidata.org/wiki/" "Wikidata")
                      ("http://geonames.org/" "Geonames")
                      ("http://viaf.org/viaf/" "VIAF")
                      ("http://d-nb.info/gnd/" "GND")
                      ("http://classifications.data.admin.ch/municipality/" "Swiss Municipality")
                      ("http://classifications.data.admin.ch/canton/" "Swiss Municipality")
                    }
                    BIND (CONCAT(?source," [",?localname,"]") as ?label)
                }'
                template='<div><h5>External Databases</h5>
                <ul>{{#each bindings}}<li><a target="_blank" href="{{value.value}}"> {{label.value}} </a></li>
                  {{/each}}
                </ul></div>'>
                </semantic-query>
            </bs-col>
