<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
  <div class='page__body'>
    <h2>Musterformular</h2>
    <ul style="padding-top: 12px; padding-bottom: 12px; ">
        <li>Für alle Felder kann definert werden, wie oft sie mindestens und maximal verwendet werden sollen.</li>
        <li>Mindestens eine Eingabe ist ein Pflichtfeld mit Sternchen.</li>
        <li>Wenn die Maximalverwendung nicht beschränkt ist, erscheint unten rechts eine Option, um ein weiteres Feld anzulegen.</li>
    </ul>
    <div data-flex-layout='row top-stretch'>
        <semantic-form 
            new-subject-template='http://data.performing-arts.ch/sample/{{UUID}}'
            post-action="redirect"
            browser-persistence=true
            persistence='ldp' 
            form-id='sample'
            fields='[[fieldDefinitions
                rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
                identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
                label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceName"
                birth_date="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonBirthDate"
                misc_appellation="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonMiscAppellation"
                history="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceHistory"
                type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetType"
                physical_usability="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingPhysicalUsability"
                website="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website"
                terms_of_protection="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingTermsProtection"
                packing="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourcePacking"
                members="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/GroupMember"
                place="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourcePlace"
                falls_within="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PlaceFallsWithin"
                same_as="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SameAs"
            ]]'>
          <bs-panel>
            <semantic-form-recover-notification></semantic-form-recover-notification>
            <bs-row>
                <bs-col sm='12'>
                    <h3>Freitexteingabe</H3>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Einzeilige Texteingabe mit und ohne Sprachwahl</p>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-text-input for="identifier"></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-text-input for="label" languages='["en", "de", "fr", "it"]'></semantic-form-text-input>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Einzeilige Texteingabe mit Formatbeschränkungen und Tooltips</p>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-text-input for='birth_date'></semantic-form-text-input>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-text-input for="website"></semantic-form-text-input>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Mehrzeilige Texteingabe</p>
                </bs-col>
                <bs-col sm='8'>
                    <semantic-form-text-input for="history" multiline=true></semantic-form-text-input>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='12'>
                    <h3>Auswahlfelder</H3>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Einfachauswahl per Dropdown für Felder mit beschränkten Optionen, von denen nur eine ausgewählt werden kann</p>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-select-input for="type"></semantic-form-select-input>
                </bs-col>
                <bs-col sm='4'>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Einfachauswahl per Radio Buttons für Felder mit beschränkten Optionen</p>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-checklist-input type='radio' row=true for='terms_of_protection'></semantic-form-checklist-input>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-checklist-input type='radio' for='physical_usability'></semantic-form-checklist-input>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Mehrfachauswahl per Check Boxes für Felder mit beschränkten Optionen</p>
                </bs-col>
                <bs-col sm='8'>
                    <semantic-form-checklist-input row=true for="packing"></semantic-form-checklist-input row=true>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Verknüpfung mit anderen Datensätzen über Suche, optional mit der Möglichkeit einen Datensatz (wie hier eine Person) direkt nue anzulegen.</p>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-autocomplete-input for="members"></semantic-form-autocomplete-input>            
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-autocomplete-input for="members">
                        <semantic-form new-subject-template="http://data.performing-arts.ch/a/{{UUID}}" fields='[[fieldDefinitions
                        member_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
                        member_label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonCommonAppellation"
                        ]]'>
                            <div style="display: none;">
                                <semantic-form-hidden-input for='member_type' default-values='["[[resolvePrefix "crm:E21_Person"]]", "[[resolvePrefix "rico:Person"]]"]'></semantic-form-hidden-input>
                            </div>
                            <semantic-form-text-input for="member_label" languages='["en","de","fr","it"]'></semantic-form-text-input>
                            <button name="submit" class="btn btn-secondary">Create Person</button>
                        </semantic-form>
                    </semantic-form-autocomplete-input>            
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;">Verknüpfung mit anderen, hierarchisch aufgebauten Datensätzen über Suche und Baumnavigation</p>
                </bs-col>
                <bs-col sm='4'>
                    <semantic-form-tree-picker-input for="place"></semantic-form-tree-picker-input>
                </bs-col>
                <bs-col sm='4'>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='12'>
                    <h3>Kombinationsfelder</H3>
                </bs-col>
            </bs-row>
            <bs-row>
                <bs-col sm='4'>
                    <p style="margin-top: 16px;"></p>
                </bs-col>
                <bs-col sm='8'>
                    <semantic-form-composite-input for='misc_appellation' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions
                    misc_appellation_value="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonMiscAppellationValue"
                    misc_appellation_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonMiscAppellationType"
                    ]]'>
                        <bs-row>
                            <bs-col sm='8'>
                                <semantic-form-text-input for='misc_appellation_value' languages='["en","de","fr","it"]'></semantic-form-text-input>
                            </bs-col>
                            <bs-col sm='4'>
                                <semantic-form-checklist-input type='checkbox' for='misc_appellation_type'></semantic-form-checklist-input>
                            </bs-col>
                        </bs-row>
                    </semantic-form-composite-input>
                </bs-col>
            </bs-row>
        </bs-panel>
        </semantic-form>
      </div>    
  </div>
</div>
