<bs-row>
    <bs-col md="4">
        <h5>Provenance</h5>
        <semantic-query
            query="SELECT ?item WHERE {
                ?item rico:hasProvenance ?? .
            }"
            no-result-template="No data found"
        >
        </semantic-query>
    </bs-col>
    <bs-col md="4">
        <h5>Subject of</h5>
        <semantic-tree
            query='SELECT DISTINCT ?node ?parent ?identifier ?level ?idTecValue WHERE {
                {
                    ?record rico:hasOrHadSubject ?? ;
                        rico:isOrWasIncludedIn* ?node .
                    MINUS { ?record a rico:RecordPart . }
                } UNION {
                    ?recordpart rico:hasOrHadSubject ?? ;
                        a rico:RecordPart ;
                        rico:isOrWasConstituentOf ?record .
                    ?record rico:isOrWasIncludedIn* ?node .
                }
                FILTER(ISIRI(?node))
                FILTER(CONTAINS(STR(?node), "/r/"))
                OPTIONAL { ?node rico:isOrWasIncludedIn ?parent. FILTER(ISIRI(?parent)) }
                OPTIONAL { ?node rico:identifier ?identifier }
                OPTIONAL {
                    ?node rico:hasOrHadIdentifier ?identifierTec .
                    ?identifierTec a rico:Identifier ;
                        crm:P2_has_type spav:idtec ;
                        rdf:value ?idTecValue
                    BIND(xsd:integer(STRAFTER(?idTecValue, "-")) AS ?idTecPart2)
                    BIND(xsd:integer(STRBEFORE(?idTecValue, "-")) AS ?idTecPart1)
                }
                OPTIONAL { ?node rico:hasRecordSetType ?rslevel . }
                BIND(IF(BOUND(?rslevel), ?rslevel, spav:rsitm) AS ?level)
            } ORDER BY ?idTecPart1 ?idTecPart2 ?identifier'
            tuple-template='{{>node}}'> 
            <template id='node'>
                <span>
                {{#if identifier}}{{identifier.value}}: {{/if}}<semantic-link uri="{{node.value}}">{{label}}</semantic-link>{{#if level}} (<mp-label iri="{{level.value}}"></mp-label>){{/if}}
                </span>
            </template>
        </semantic-tree>
    </bs-col>
    <bs-col md="4">
        <h5>Creator of</h5>
        <semantic-query
            query='SELECT ?item  WHERE {
                ?item rico:hasCreator ?? .
            }'
            no-result-template="No data found"
        ></semantic-query>
    </bs-col>
</bs-row>
