<ol class="page-breadcrumb">
  <li>
      <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
      Archive Plan
  </li>
</ol>

<div class="page rs-page">
  <div class='page__body'>
    <h3 style="margin-top: 2em; margin-bottom: 1em;">Archive Plan</h3>
    <div style="height: 1000px">
    <semantic-lazy-tree
        roots-query='
          SELECT DISTINCT ?item ?index ?label ?hasChildren WHERE {
            ?item a rico:RecordSet .
            FILTER NOT EXISTS { ?item rico:includedIn ?parent }
            OPTIONAL { ?child rico:includedIn ?item }
            BIND(IF(BOUND(?child), true, false) AS ?hasChildren)
            ?item rico:name ?name .
            OPTIONAL { ?item rico:identifier ?identifier }
            BIND(IF(BOUND(?identifier), CONCAT(?identifier, ": ", ?name), ?name) AS ?label)
            OPTIONAL { ?item olo:index ?index }
          } ORDER BY ASC(?index) ASC(?label)
        '
        children-query='
          SELECT DISTINCT ?item ?index ?label ?hasChildren WHERE {
            ?item rico:includedIn ?parent .
            OPTIONAL { ?child rico:includedIn ?item }
            BIND(IF(BOUND(?child), true, false) AS ?hasChildren)
            ?item rico:name ?name .
            OPTIONAL { ?item rico:identifier ?identifier }
            BIND(IF(BOUND(?identifier), CONCAT(?identifier, ": ", ?name), ?name) AS ?label)
            OPTIONAL { ?item olo:index ?index }
          } ORDER BY ASC(?index) ASC(?label)
        '
        parents-query='
          SELECT ?item ?parent WHERE {
            ?item rico:includedIn ?parent .
          }
        '
        search-query='
          SELECT DISTINCT ?item ?label ?score ?hasChildren WHERE {
            { ?item a rico:RecordSet } UNION { ?item a rico:Record }
            { ?item rico:name ?label } UNION { ?item rico:identifier ?label }
            FILTER REGEX(LCASE(?label), LCASE(?__token__), "i")
            BIND(false AS ?hasChildren)
          } ORDER BY DESC (?score) (?label) LIMIT 500
        '
        node-data-query='
          SELECT ?item ?rslevel {
            ?item rico:hasRecordSetType ?rslevel .
          }
        '
        placeholder='Select or search for a name or signature ...'
        tokenize-lucene-query='false'
        node-template='{{>node}}'
        >
        <template id='node'>
          <span>
            <semantic-link uri="{{iri}}">{{label}}</semantic-link>{{#if data.rslevel}} (<mp-label iri="{{data.rslevel.value}}"></mp-label>){{/if}}
          </span>
        </template>
      </semantic-lazy-tree>
    </div>
  </div>
</div>