<div class="page">
  <div class='page__body'>
    [[#if (hasPermission "forms:ldp:*")]]

    <h2 style="margin-bottom: 0.8em;">To Do</h2>

    <bs-tabs id='todo-tabs' default-active-key='1' unmount-on-exit=true>

        <bs-tab event-key='1' title='Group Venues'>
            <bs-col sm="4">
                <semantic-chart type='donut' types='["pie", "donut"]'
                      query='
                      SELECT ?status (COUNT(?venue) AS ?venuecount)
                      WHERE {
                        ?group rdf:type/rdfs:subClassOf* crm:E74_Group; 
                            crm:P14i_performed [
                            crm:P2_has_type spav:mujfv ;
                            crm:P16_used_specific_object ?venue ] .
                        ?venue crm:P2_has_type spav:dwmkn .
                        BIND(IF(CONTAINS(STR(?venue), "/u/"), "unmatched", "matched") AS ?status)
                      } GROUP BY ?status
                      ORDER BY ?status
                      '
                      sets='[{"dataSetName": "Venues", "category": "status", "value": "venuecount"}]'
                      styles='[{
                        "provider": "chartjs",
                        "style": {
                            "data": {
                                "datasets": [
                                    { "backgroundColor": ["rgba(18, 64, 98, 0.7)", "rgba(220, 20, 20, 0.7)"],
                                    "borderColor": "rgb(255, 255, 255, 1)",
                                    "borderWidth": "4"
                                    }
                                ]
                            },
                            "options": {
                                "layout": {
                                    "padding": {
                                        "top": "20"
                                    }
                                },
                                "legend": {
                                    "position": "bottom",
                                    "labels": {
                                        "fontSize": 14,
                                        "padding": 20
                                    }
                                }
                            }
                        }
                       }]'
                    ></semantic-chart>
          
            </bs-col>
            <bs-col sm="8">

                <bs-tabs id='group-venues' default-active-key='1.1' unmount-on-exit=true>

                    <bs-tab event-key='1.1' title='Unmatched Venues'>

                        <semantic-table 
                        query='SELECT DISTINCT ?group ?grouplabel ?unmatchedvenue 
                            WHERE {
                            ?venue crm:P2_has_type spav:dwmkn ;
                                    rdfs:label ?unmatchedvenue .
                            FILTER (CONTAINS(STR(?venue), "/u/"))
                            ?group rdfs:label ?grouplabel ;
                                crm:P14i_performed [
                                        crm:P2_has_type spav:mujfv ;
                                    crm:P16_used_specific_object ?venue ]
                            } ORDER BY ASC(UCASE(STR(?grouplabel))) ASC(UCASE(STR(?unmatchedvenue))) ' 
                        column-configuration='[
                            {"variableName": "group", "displayName": "Group"}, 
                            {"variableName": "unmatchedvenue", "displayName": "Venue"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>
            
                    </bs-tab>
                </bs-tabs>

            </bs-col>
        </bs-tab>

        <bs-tab event-key='Group Members' title='Group Members'>
            <bs-col sm="4">
                <semantic-chart type='donut' types='["pie", "donut"]'
                      query='SELECT ?status_order ?status (COUNT(?member) AS ?membercount)
                      WHERE {
                          ?group rdf:type/rdfs:subClassOf* crm:E74_Group ;
                              crm:P107_has_current_or_former_member ?member.
                          FILTER(CONTAINS(STR(?group), "/a/"))
                          FILTER(?member != <http://data.performing-arts.ch/a/9e1a6aff-7181-4931-bb72-219947dfe1fc>) # exclude "et al."
                          ?member rdfs:label ?memberlabel .
                          OPTIONAL {
                              ?person rdfs:label ?memberlabel; 
                                  a crm:E21_Person.
                              FILTER(?person != ?member)
                              FILTER(CONTAINS(STR(?person), "/a/"))
                            }
                        BIND(IF(CONTAINS(STR(?member), "/a/"), "matched", IF(BOUND(?person), "matchable?", "unmatched")) AS ?status)
                        VALUES (?status ?status_order) {
                          ("matched" 1)
                          ("matchable?" 2)
                          ("unmatched" 3)
                        }
                      } GROUP BY ?status_order ?status
                      ORDER BY ?status_order'
                      sets='[{"dataSetName": "Members", "category": "status", "value": "membercount"}]'
                      styles='[{
                        "provider": "chartjs",
                        "style": {
                            "data": {
                                "datasets": [
                                    { "backgroundColor": ["rgba(18, 64, 98, 0.7)", "rgba(58, 54, 78, 0.5)", "rgba(220, 20, 20, 0.7)"],
                                    "borderColor": "rgb(255, 255, 255, 1)",
                                    "borderWidth": "4"
                                    }
                                ]
                            },
                            "options": {
                                "layout": {
                                    "padding": {
                                        "top": "20"
                                    }
                                },
                                "legend": {
                                    "position": "bottom",
                                    "labels": {
                                        "fontSize": 14,
                                        "padding": 20
                                    }
                                }
                            }
                        }
                       }]'
                    ></semantic-chart>
          
            </bs-col>
            <bs-col sm="8">

                <bs-tabs id='group-members' default-active-key='2.1' unmount-on-exit=true>

                    <bs-tab event-key='2.1' title='Matched Members'>
                        <semantic-table 
                        query='SELECT DISTINCT ?group ?member
                          WHERE {
                            ?group rdf:type/rdfs:subClassOf* crm:E74_Group ;
                                crm:P107_has_current_or_former_member ?member.
                            FILTER(CONTAINS(STR(?group), "/a/"))
                            FILTER(?member != <http://data.performing-arts.ch/a/9e1a6aff-7181-4931-bb72-219947dfe1fc>) # exclude "et al."
                            FILTER(CONTAINS(STR(?member), "/a/"))
                          }'
                        column-configuration='[
                            {"variableName": "group", "displayName": "Group"}, 
                            {"variableName": "member", "displayName": "Member"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>          
                    </bs-tab>

                    <bs-tab event-key='2.2' title='Matchable with Persons?'>
                        <semantic-table 
                        query='SELECT DISTINCT ?group ?person
                        WHERE {
                            ?group rdf:type/rdfs:subClassOf* crm:E74_Group ;
                                crm:P107_has_current_or_former_member ?member.
                            FILTER(CONTAINS(STR(?group), "/a/"))
                            FILTER(CONTAINS(STR(?member), "/u/"))
                            ?member rdfs:label ?memberlabel.
                            ?person rdfs:label ?memberlabel ;
                                a crm:E21_Person.
                                FILTER(CONTAINS(STR(?person), "/a/"))
                        }'
                        column-configuration='[
                            {"variableName": "group", "displayName": "Group"}, 
                            {"variableName": "person", "displayName": "Member/Person"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>          
                    </bs-tab>

                    <bs-tab event-key='2.3' title='Unmatched Members'>
                        <semantic-table 
                        query='SELECT DISTINCT ?group ?grouplabel ?memberlabel 
                            WHERE {
                                ?group rdf:type/rdfs:subClassOf* crm:E74_Group ;
                                    crm:P107_has_current_or_former_member ?member.
                                FILTER (CONTAINS(STR(?group), "/a/"))
                                FILTER (CONTAINS(STR(?member), "/u/"))
                                ?member rdfs:label ?memberlabel .
                            }'
                        column-configuration='[
                            {"variableName": "group", "displayName": "Group"}, 
                            {"variableName": "memberlabel", "displayName": "Member"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>          
                    </bs-tab>

                </bs-tabsid='group-venues' default-active-key='1.1' unmount-on-exit=true>
              
            </bs-col>          
        </bs-tab>

        <bs-tab event-key='2' title='Producers'>
            <bs-col sm="4">
                <semantic-chart type='donut' types='["pie", "donut"]'
                      query='
                      SELECT ?status (COUNT(?producer) AS ?producercount)
                      WHERE {
                        ?production crm:P2_has_type spav:muwgo ;
                            crm:P14_carried_out_by ?producer .
                        BIND(IF(CONTAINS(STR(?producer), "/u/"), "unmatched", "matched") AS ?status)
                      } GROUP BY ?status
                      ORDER BY ?status
                      '
                      sets='[{"dataSetName": "Producers", "category": "status", "value": "producercount"}]'
                      styles='[{
                        "provider": "chartjs",
                        "style": {
                            "data": {
                                "datasets": [
                                    { "backgroundColor": ["rgba(18, 64, 98, 0.7)", "rgba(220, 20, 20, 0.7)"],
                                    "borderColor": "rgb(255, 255, 255, 1)",
                                    "borderWidth": "4"
                                    }
                                ]
                            },
                            "options": {
                                "layout": {
                                    "padding": {
                                        "top": "20"
                                    }
                                },
                                "legend": {
                                    "position": "bottom",
                                    "labels": {
                                        "fontSize": 14,
                                        "padding": 20
                                    }
                                }
                            }
                        }
                       }]'
                    ></semantic-chart>
          
                    </bs-col>
                    <bs-col sm="8">

                        <bs-tabs id='producers' default-active-key='2.1' unmount-on-exit=true>

                            <bs-tab event-key='2.1' title='Unmatched Producers'>

                                <semantic-table 
                                query='SELECT DISTINCT ?plan ?producer_label 
                                    WHERE {
                                        ?production crm:P2_has_type spav:muwgo ;
                                            crm:P14_carried_out_by ?producer .
                                        FILTER(CONTAINS(STR(?producer), "/u/"))
                                        ?producer rdfs:label ?producer_label .
                                        ?expression_creation crm:P9_consists_of ?production ;
                                            frbr:R17_created ?plan .
                                    }' 
                                column-configuration='[
                                    {"variableName": "plan", "displayName": "Production"}, 
                                    {"variableName": "producer_label", "displayName": "Producer"}
                                ]'
                                number-of-displayed-rows=20
                                no-result-template='No results found.'
                                options='{"showFilter": false}'>
                                </semantic-table>
        
                            </bs-tab>

                            <bs-tab event-key='2.2' title='Ranking CH'>

                                <semantic-table 
                                query='SELECT ?producer_label (COUNT(?producer) AS ?producer_count)
                                WHERE {
                                    ?production crm:P2_has_type spav:muwgo ;
                                        crm:P14_carried_out_by ?producer .
                                    FILTER(CONTAINS(STR(?producer), "/u/"))
                                        ?producer rdfs:label ?producer_label .
                                    FILTER(STRSTARTS(?producer_label, "CH:"))
                                } GROUP BY ?producer_label
                                ORDER BY DESC(?producer_count)' 
                                column-configuration='[
                                    {"variableName": "producer_label", "displayName": "Producer"}, 
                                    {"variableName": "producer_count", "displayName": "Count"}
                                ]'
                                number-of-displayed-rows=20
                                options='{"showFilter": false}'>
                                </semantic-table>
                                    
                            </bs-tab>

                            <bs-tab event-key='2.3' title='Ranking International'>

                                <semantic-table 
                                query='SELECT ?producer_label (COUNT(?producer) AS ?producer_count)
                                WHERE {
                                    ?production crm:P2_has_type spav:muwgo ;
                                        crm:P14_carried_out_by ?producer .
                                    FILTER(CONTAINS(STR(?producer), "/u/"))
                                        ?producer rdfs:label ?producer_label .
                                    FILTER(!STRSTARTS(?producer_label, "CH:"))
                                    FILTER(!STRSTARTS(?producer_label, "00:"))
                                    } GROUP BY ?producer_label
                                ORDER BY DESC(?producer_count)' 
                                column-configuration='[
                                    {"variableName": "producer_label", "displayName": "Producer"}, 
                                    {"variableName": "producer_count", "displayName": "Count"}
                                ]'
                                number-of-displayed-rows=20
                                options='{"showFilter": false}'>
                                </semantic-table>
                                    
                            </bs-tab>

                            <bs-tab event-key='2.4' title='Ranking 00'>

                                <semantic-table 
                                query='SELECT ?producer_label (COUNT(?producer) AS ?producer_count)
                                WHERE {
                                    ?production crm:P2_has_type spav:muwgo ;
                                        crm:P14_carried_out_by ?producer .
                                    FILTER(CONTAINS(STR(?producer), "/u/"))
                                        ?producer rdfs:label ?producer_label .
                                    FILTER(STRSTARTS(?producer_label, "00:"))
                                } GROUP BY ?producer_label
                                ORDER BY DESC(?producer_count)' 
                                column-configuration='[
                                    {"variableName": "producer_label", "displayName": "Producer"}, 
                                    {"variableName": "producer_count", "displayName": "Count"}
                                ]'
                                number-of-displayed-rows=20
                                options='{"showFilter": false}'>
                                </semantic-table>
                                    
                            </bs-tab>
                </bs-col>          
        </bs-tab>

        <bs-tab event-key='4' title='Production Venues'>
            <bs-col sm="4">
                <semantic-chart type='donut' types='["pie", "donut"]'
                      query='
                      SELECT ?status (COUNT(?venue) AS ?venuecount)
                      WHERE {
                        ?performance a frbr:F31_Performance ;
                                       crm:P8_took_place_on_or_within ?venue ;
                                       frbr:R25_performed ?plan .
                        BIND(IF(CONTAINS(STR(?venue), "/u/"), "unmatched", "matched") AS ?status)
                      } GROUP BY ?status
                      ORDER BY ?status
                      '
                      sets='[{"dataSetName": "Venues", "category": "status", "value": "venuecount"}]'
                      styles='[{
                        "provider": "chartjs",
                        "style": {
                            "data": {
                                "datasets": [
                                    { "backgroundColor": ["rgba(18, 64, 98, 0.7)", "rgba(220, 20, 20, 0.7)"],
                                    "borderColor": "rgb(255, 255, 255, 1)",
                                    "borderWidth": "4"
                                    }
                                ]
                            },
                            "options": {
                                "layout": {
                                    "padding": {
                                        "top": "20"
                                    }
                                },
                                "legend": {
                                    "position": "bottom",
                                    "labels": {
                                        "fontSize": 14,
                                        "padding": 20
                                    }
                                }
                            }
                        }
                       }]'
                    ></semantic-chart>
            </bs-col>
            <bs-col sm="8">

                <bs-tabs id='producer_venues' default-active-key='4.1' unmount-on-exit=true>

                    <bs-tab event-key='4.1' title='Matched Venues'>

                        <semantic-table 
                        query='SELECT ?plan ?venue
                        WHERE {
                          ?performance a frbr:F31_Performance ;
                                       crm:P8_took_place_on_or_within ?venue ;
                                       frbr:R25_performed ?plan .
                            FILTER(CONTAINS(STR(?venue), "/o/"))
                        }' 
                        column-configuration='[
                            {"variableName": "plan", "displayName": "Production"}, 
                            {"variableName": "venue", "displayName": "Venue"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>

                    </bs-tab>
                    <bs-tab event-key='4.2' title='Unmatched Venues'>

                        <semantic-table 
                        query='SELECT ?plan ?venuelabel
                        WHERE {
                          ?performance a frbr:F31_Performance ;
                                       crm:P8_took_place_on_or_within ?venue ;
                                       frbr:R25_performed ?plan .
                            FILTER(CONTAINS(STR(?venue), "/u/"))
                            ?venue rdfs:label ?venuelabel .
                        }' 
                        column-configuration='[
                            {"variableName": "plan", "displayName": "Production"}, 
                            {"variableName": "venuelabel", "displayName": "Venue"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>

                    </bs-tab>
                    <bs-tab event-key='4.3' title='Unmatched Venues Ranking'>

                        <semantic-table 
                        query='SELECT ?venuelabel ?group (COUNT(?venue) AS ?venuecount)
                        WHERE {
                          ?venue rdfs:label ?venuelabel ;
                              a crm:E22_Man-Made_Object .
                          FILTER(CONTAINS(STR(?venue), "/u/"))
                          ?performance crm:P8_took_place_on_or_within ?venue ;
                                       frbr:R25_performed ?plan .
                          ?expressioncreation frbr:R17_created ?plan ;
                                              crm:P10_falls_within ?directorship.
                          ?directorship crm:P14_carried_out_by ?group .
                          ?group rdf:type/rdfs:subClassOf* crm:E74_Group .
                        } GROUP BY ?venuelabel ?group 
                        ORDER BY DESC(?venuecount) ' 
                        column-configuration='[
                        {"variableName": "venuelabel", "displayName": "Venue"}, 
                        {"variableName": "group", "displayName": "Group"}, 
                        {"variableName": "venuecount", "displayName": "Count"}
                        ]'
                        number-of-displayed-rows=20
                        no-result-template='No results found.'
                        options='{"showFilter": false}'>
                        </semantic-table>

                    </bs-tab>
                </bs-tabs>

            </bs-col>
        </bs-tab>

    </bs-tabs>

  [[/if]]
  </div>
</div>