<semantic-search-result-holder domains-include='["http://www.cidoc-crm.org/cidoc-crm/E21_Person"]'>

  <div data-flex-self="md-full">

    <semantic-search-result>
      <mp-sparql-result-counts id='search-result-count' query="SELECT DISTINCT ?subject {}" template='{{> template}}'>
        <template id='template'>
          {{#if hasLimit}}
          <bs-alert variant="warning" class="search-results__alert pull-left">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
            <span class="num-results">[[i18n "SearchLimitReached" bundle="performing-arts-ch" escapeHTML=false]]</span>
          </bs-alert>
          {{else}}
          <bs-alert variant="warning" class="search-results__alert pull-left">
            <span class="num-results" class="search-results__alert">[[i18n "SearchResults" bundle="performing-arts-ch"]]</span>
          </bs-alert>
          {{/if}}
        </template>
      </mp-sparql-result-counts>
    </semantic-search-result>

    <semantic-search-result>
      <semantic-table 
        query='SELECT DISTINCT ?subject ?dob ?description
        WHERE {
          OPTIONAL {
            ?subject rico:birthDate [ rico:normalizedDateValue ?dob ]
          }
          OPTIONAL {
            ?subject crm:P3_has_note [
              crm:P2_has_type spav:eoept ;
              rdf:value ?description 
            ]
          }
        } ORDER BY DESC(?score)'
        id="person-table" 
        options='{"showFilter": false, "showTableHeading": true}'
        column-configuration='[
          {"displayName": "[[i18n "PersonsTableName" bundle="performing-arts-ch"]]", "variableName": "subject"} ,
          {"displayName": "[[i18n "PersonsTableAdditionalNames" bundle="performing-arts-ch"]]", "cellTemplate": "{{> additional-names}}"} ,
          {"displayName": "[[i18n "PersonsTableLiveDates" bundle="performing-arts-ch"]]", "cellTemplate": "{{> live-dates}}", "variableName": "dob"} ,
          {"displayName": "[[i18n "PersonsTableDescription" bundle="performing-arts-ch"]]", "variableName": "description"}
        ]'>

        <template id='additional-names'>
          <semantic-query 
            query='SELECT ?appellation WHERE {
                <{{subject.value}}> rdfs:label ?label ;
                  crm:P131_is_identified_by ?appellation .
                ?appellation crm:P2_has_type ?appellationtype ;
                  rdf:value ?appellationvalue .
                MINUS { ?appellation crm:P2_has_type spav:yatcx . }
                FILTER(?label != ?appellationvalue)
              }'
            template = '{{> additional-names-list}} '>
            <template id='additional-names-list'>
              <div>{{#each bindings}}{{#if @first}}<mp-label iri="{{appellation.value}}"></mp-label>{{else}}, <mp-label iri="{{appellation.value}}"></mp-label>{{/if}}{{/each}}</div>
            </template>
          </semantic-query> 
        </template>

        <template id='live-dates'>                     
          <semantic-query 
            query='SELECT ?lifedates WHERE {
                OPTIONAL {
                  <{{subject.value}}> rico:birthDate [ rico:normalizedDateValue ?dob ] .
                  BIND(CONCAT("* ", SUBSTR(?dob, 0, 4)) as ?birthyear)
                }
                OPTIONAL {
                  <{{subject.value}}> rico:deathDate [ rico:normalizedDateValue ?dod ] .
                  BIND(CONCAT("† ", SUBSTR(?dod, 0, 4)) as ?deathyear)
                }
                BIND(IF(BOUND(?birthyear) && BOUND(?deathyear), CONCAT(?birthyear, ", ", ?deathyear), IF(BOUND(?birthyear), ?birthyear, IF(BOUND(?deathyear), ?deathyear, ""))) AS ?lifedates)
              }'
            template = '{{> live-dates-list}} '>           
            <template id='live-dates-list'>
              <div>{{#each bindings}}{{lifedates.value}}{{/each}}</div>
            </template>
          </semantic-query> 
        </template>
        
      </semantic-table> 
    </semantic-search-result>

    <div class="pull-right" style="display: flex; margin-top: 12px;">  
      <semantic-search-result>
        <mp-sparql-download id='csv-result' query="SELECT ?subject ?name WHERE {  }"
                            header="text/csv"
                            filename="performing-arts-ch-search-result.csv"
                            >
          <button class="btn btn-secondary">[[i18n "DownloadCSV" bundle="performing-arts-ch"]]</button>
        </mp-sparql-download>
      </semantic-search-result>
    </div>

  </div>
</semantic-search-result-holder>
