<bs-col sm="4">

    <!-- official name -->
    <semantic-query 
        query='SELECT ?typelabel ?value
        WHERE {
            ?? crm:P131_is_identified_by ?app .
            ?app a crm:E82_Actor_Appellation ; 
            crm:P2_has_type spav:yanuj ;
            rdf:value ?value .
        } LIMIT 1'
    template='<p><strong>{{#each bindings}}{{value.value}}{{/each}}</strong></p>'>
    </semantic-query>

    <!-- alternative names -->
    <semantic-query 
        query='SELECT distinct ?appellation ?type ?typesort
        WHERE {
            VALUES (?type ?typesort) { (spav:yamqk 1) (spav:yavtx 2) }
            ?? crm:P131_is_identified_by ?appellation .
            ?appellation a crm:E82_Actor_Appellation ; 
            crm:P2_has_type ?type .
            { ?appellation crm:P2_has_type spav:yamqk . }
            UNION
            { ?appellation crm:P2_has_type spav:yavtx . }
        } ORDER BY ?typesort'
        template='<p>{{#each bindings}}{{#if @first}}<mp-label iri="{{appellation.value}}"></mp-label> (<mp-label iri="{{type.value}}"></mp-label>){{else}}<br><mp-label iri="{{appellation.value}}"></mp-label> (<mp-label iri="{{type.value}}"></mp-label>){{/if}}{{/each}}</p>'>
    </semantic-query>

    <!-- place -->
    <semantic-query 
        query="SELECT ?place
        WHERE {
            ?? crm:P74_has_current_or_former_residence ?p .
            ?p crm:P89_falls_within ?place .
        }"
        template='<p>{{#each bindings}}{{#if @first}}<semantic-link iri="{{place.value}}">{{label.value}}</semantic-link>{{else}}, <semantic-link iri="{{place.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p>'>
    </semantic-query>

    <!-- dates -->
    <semantic-query 
        query='SELECT ?dates
        WHERE {
            OPTIONAL {
                ?? crm:P95i_was_formed_by ?formation .
                ?formation a crm:E66_Formation ;
                    crm:P4_has_time-span ?formationtime .
                ?formationtime rdfs:label ?formationlabel .
            }
            OPTIONAL {
                ?? crm:P99i_was_dissolved_by ?dissolution .
                ?dissolution a crm:E68_Dissolution ;
                    crm:P4_has_time-span ?dissolutiontime .
                ?dissolutiontime rdfs:label ?dissolutionlabel .
            }
            BIND(CONCAT(COALESCE(?formationlabel, "X"), "-", COALESCE(?dissolutionlabel, "X")) AS ?predates)
            BIND(REPLACE(REPLACE(?predates, "X-X", ""), "X", "") AS ?dates)
        }'
        template='{{#each bindings}}<p>{{dates.value}}</p>{{/each}}'>
    </semantic-query>

    <mp-field-visualization
        subject='[[this]]'
        fields='[[fieldDefinitions
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_successor_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_successor_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_predecessor_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_predecessor_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website"
        ]]'
        template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
        [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
        >
    </mp-field-visualization> 

</bs-col>

<bs-col sm="4">

    <!-- venues -->
    <semantic-query 
        query='SELECT DISTINCT ?venue WHERE {
                    ?? crm:P14i_performed ?activity .
                    ?activity a crm:E7_Activity ;
                        crm:P2_has_type spav:mujfv ;
                        crm:P16_used_specific_object ?venue .
                  } LIMIT 1'
        template='<h5>Venues</h5>'>
    </semantic-query>
    <semantic-tree
         query='SELECT DISTINCT ?node ?parent ?class WHERE {
            ?? crm:P14i_performed ?activity .
            ?activity a crm:E7_Activity ;
                crm:P2_has_type spav:mujfv ;
                crm:P16_used_specific_object ?parent .
            ?parent crm:P46_is_composed_of* ?node .
            FILTER(ISIRI(?node))
            ?node rdfs:label ?label .
            BIND(IF(CONTAINS(STR($node), "/u/"), "unidentified", "identified") AS ?class)
          } ORDER BY ?label'
          tuple-template='<semantic-link class="{{data.class.value}}" uri="{{data.node.value}}"></semantic-link>'> 
    </semantic-tree>

    <mp-field-visualization
        subject='[[this]]'
        fields='[[fieldDefinitions
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_current_or_former_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_current_or_former_member"
        http://www.metaphacts.com/fieldDefinition/E40_Legal_Body_has_current_or_former_member="http://www.metaphacts.com/fieldDefinition/E40_Legal_Body_has_current_or_former_member"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_association_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_association_member"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note"
        ]]'
        template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
        [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
    >
    </mp-field-visualization> 

    <!-- record sets -->
    <h5>Record sets</h5>
    <semantic-tree
         query='SELECT DISTINCT ?node ?parent ?label ?description WHERE {
            ?? rdau:P60806 ?record .
            ?record ric:is_member_of* ?node .
            FILTER(ISIRI(?node))
            FILTER(CONTAINS(STR(?node),"/r/"))
            OPTIONAL { ?node ric:is_member_of ?parent. FILTER(ISIRI(?parent)) }
            ?node dc:title ?label .
            OPTIONAL {
                ?node dc:description ?description .
            }
          }'
          tuple-template='<span><semantic-link uri="{{data.node.value}}"></semantic-link><br>{{data.description.value}}</span>'> 
    </semantic-tree>

</bs-col>

<bs-col sm="4">
    [[> sapa:ExternalResources]]
</bs-col>