<tbody>
  {{#each fields as |field|}}
    {{#if field.values}}
      <tr>
        <td>
          <semantic-link repository='assets' iri='{{field.id}}'>{{field.label}}</semantic-link>
        </td>
        <td>
            <ul class="list-unstyled">
              {{#each field.values as |value|}}
                <li>
                  [[!-- show include: [[> sapaModule:FieldValueVisualization]] --]]
                  {{> sapaModule:FieldValueVisualization field=field value=value }}
                </li>
              {{/each}}
            </ul>
        </td>
      </tr>
    {{/if}}
  {{/each}}
</tbody>
