<div class='page__header-navtabs'>
    <div class='page__header-thumbnail'>
        <mp-resource-thumbnail no-image-uri='[[defaultImage]]' iri='[[this]]'></mp-resource-thumbnail>
    </div>
    <div class='page__header-body'>
        <div class="page__header-draggable-title">
            <mp-draggable iri='[[this]]'>
                <h2 data-flex-layout='row center-left'>
                    <span class="page__header-gripper"></span>
                    [[> sapaModule:RecordLabel ]]
                </h2>
            </mp-draggable>
        </div>

        <p>
            <!-- type -->
            <semantic-query 
                query="SELECT ?type
                WHERE {
                    ?? a ?class . 
                    FILTER(CONTAINS(STR(?class), 'crm'))
                    OPTIONAL { ?? crm:P2_has_type ?crmtype . }
                    BIND(IF(BOUND(?crmtype), ?crmtype, ?class) AS ?type)
                }"
                template="<span>{{#each bindings}}{{#if @first}}<mp-label iri='{{type.value}}'></mp-label>{{else}}, <mp-label iri='{{type.value}}'></mp-label>{{/if}}{{/each}}</span>">
            </semantic-query>

            <!-- TODO: integrate into previous query -->
            <!-- description -->
            <semantic-query 
                query='SELECT ?description WHERE { ?? rdfs:comment ?description } LIMIT 1' 
                template='<span>{{#each bindings}}, {{description.value}}{{/each}}</span>'>
            </semantic-query>
        </p>

        <p style="font-size: 12px;">
            <b>URI</b>: <i>[[this]]</i>
        </p>

    </div>
</div>