  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/o/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='recordsets'
      fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
        identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
        copy="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationDerived"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
            <semantic-form-hidden-input for='rdf_type' default-value='[[resolvePrefix "rico:Instantiation"]]'></semantic-form-hidden-input>
        </div>
        <bs-row>
            <bs-col sm='4'>
                <semantic-form-text-input for="identifier"></semantic-form-text-input>
            </bs-col>
            <bs-col sm='8'>
                <semantic-form-autocomplete-input for="copy">
                    <semantic-form new-subject-template="http://data.performing-arts.ch/o/{{UUID}}" fields='[[fieldDefinitions
                        copy_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
                        copy_identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/InstantiationIdentifier"
                    ]]'>
                    <div style="display: none;">
                        <semantic-form-hidden-input for='copy_rdf_type' default-value='[[resolvePrefix "rico:Instantiation"]]'></semantic-form-hidden-input>
                    </div>
                    <semantic-form-text-input for="copy_identifier"></semantic-form-text-input>
                    <button name="submit" class="btn btn-secondary">[[i18n "FormCreateInstantiation" bundle="performing-arts-ch"]]</button>
                    </semantic-form>        
                </semantic-form-autocomplete-input>
            </bs-col>
        </bs-row>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-secondary">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-secondary">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>