<!-- instantiations -->
<semantic-query 
    query="SELECT ?original_instantiation  WHERE {
        ?? rico:isDerivedFromInstantiation ?original_instantiation .
    }"
    template='{{> instantiation-properties }}'>
    <template id='instantiation-properties'>
        <hr/><h5>[[i18n "field_original_instantiation" bundle="sapa-fields"]]</h5>
        {{#each bindings}}
            <semantic-link iri="{{original_instantiation.value}}"></semantic-link>
            <hr />
        {{/each}}
    </template>
</semantic-query>