<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page rs-page">
    <!-- [[#>rsp:ClipboardSidebar]] -->
    <div class='page__body' style="padding-top:6em;">

      <bs-tabs id="tabs" unmount-on-exit=true>
        <bs-tab event-key="1" title="Search all …">
          [[> sapa:GenericSearch]]
        </bs-tab>
        <bs-tab event-key="2" title="Productions">
          [[> sapa:ProductionSearch]]
        </bs-tab>
        <bs-tab event-key="3" title="Persons">
          [[> sapa:PersonSearch]]
        </bs-tab>
        <bs-tab event-key="4" title="Groups">
          [[> sapa:GroupSearch]]
        </bs-tab>
        <bs-tab event-key="5" title="Venues">
          [[> sapa:VenueSearch]]
        </bs-tab>
        <bs-tab event-key="6" title="Places">
          [[> sapa:PlaceSearch]]
        </bs-tab>
      </bs-tabs>
   
  </div>
  <!-- [[/rsp:ClipboardSidebar]] -->
</div>