[[> sapaModule:FieldDefinitions]]

  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/w/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='sparql' 
      form-id='recording'
      fields='[
        [[> RDFtype]],
        [[> RDFSLabel]],
        [[> RecordingProduction]],
        [[> RecordingTitle]]
      ]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
          <semantic-form-hidden-input for="RDFtype" default-value='[[resolvePrefix "frbroo:F26_Recording"]]'></semantic-form-hidden-input>
        </div>
        <bs-row><bs-col sm='12'><div class="form-section">[[i18n "FormSectionIdentification" bundle="performing-arts-ch"]]</div></bs-col></bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="RDFSLabel" languages='["en", "de", "fr", "it"]' require-language="true"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-composite-input for="RecordingTitle"
              new-subject-template="/title/{{UUID}}"
              fields='[
                [[> RecordingTitleRDFType]],
                [[> RecordingTitleType]],
                [[> RecordingTitleValue]]
              ]'
            >
              <semantic-form-hidden-input for="RecordingTitleRDFType" default-value='[[resolvePrefix "crm:E35_Title"]]'></semantic-form-hidden-input>
              <semantic-form-text-input for="RecordingTitleValue" languages='["en", "de", "fr", "it"]' require-language="true"></semantic-form-text-input>
              <semantic-form-select-input for="RecordingTitleType"></semantic-form-select-input>
            </semantic-form-composite-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-autocomplete-input for="RecordingProduction"></semantic-form-autocomplete-input>
          </bs-col>
        </bs-row>
        <hr>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name='submit' class='btn btn-secondary'>[[i18n 'FormSubmit' bundle='performing-arts-ch']]</button>
        <button name='reset' class='btn btn-secondary'>[[i18n 'FormReset' bundle='performing-arts-ch']]</button>
      </bs-panel>
    </semantic-form>
  </div>