<ol class="page-breadcrumb">
  <li>
      <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
      About
  </li>
</ol>

<div class="page rs-page">
  <div class='page__body'>
    <h3 style="margin-top: 2em;">[[i18n "AboutHeadline" bundle="performing-arts-ch"]]</h3>
    <bs-row>
      <bs-col sm="6">
        [[i18n "AboutText" bundle="performing-arts-ch" escapeHTML=false]]
        <h4 style="margin-top: 2em;">[[i18n "AboutData" bundle="performing-arts-ch"]]</h4>
        [[i18n "AboutDataLicense" bundle="performing-arts-ch" escapeHTML=false]]
        <bs-tabs id='data-tabs' default-active-key='1' unmount-on-exit=false style="margin-top: 1.2em;">
          <bs-tab event-key='1' title='[[i18n "AboutDataPersonsTab" bundle="performing-arts-ch"]]'>
            [[i18n "AboutDataPersonsText" bundle="performing-arts-ch" escapeHTML=false]]
          </bs-tab>
          <bs-tab event-key='2' title='[[i18n "AboutDataGroupsTab" bundle="performing-arts-ch"]]'>
            [[i18n "AboutDataGroupsText" bundle="performing-arts-ch" escapeHTML=false]]
          </bs-tab>
          <bs-tab event-key='3' title='[[i18n "AboutDataVenuesTab" bundle="performing-arts-ch"]]'>
            [[i18n "AboutDataVenuesText" bundle="performing-arts-ch" escapeHTML=false]]
          </bs-tab>
          <bs-tab event-key='4' title='[[i18n "AboutDataProductionsTab" bundle="performing-arts-ch"]]'>
            [[i18n "AboutDataProductionsText" bundle="performing-arts-ch" escapeHTML=false]]
            <semantic-query 
              query='SELECT ?group ?group_label WHERE {
                ?group <http://ontology.performing-arts.ch/is_part_of_repertories> true ;
                  rdfs:label ?group_label .
              } ORDER BY ASC(?group_label)' 
              template='<ul>{{#each bindings}}<li><semantic-link iri="{{group.value}}">{{group_label.value}}</semantic-link></li>{{/each}}</ul>'>
            </semantic-query>
          </bs-tab>
        </bs-tabs>
      </bs-col>
      <bs-col sm="6">
        <bs-row>
          <bs-col sm="6" style="text-align: center;">
            <div>
              <span style="font-size: 84px;"><i class="fas fa-user"></i></span>
            </div>
            <semantic-query query='SELECT (COUNT(?person) AS ?count) WHERE { ?person a crm:E21_Person . FILTER(CONTAINS(STR(?person), "/a/")) }' template='<div>{{#each bindings}}{{count.value}} [[i18n "AboutCountPersons" bundle="performing-arts-ch"]]{{/each}}</div>'></semantic-query>
          </bs-col>
          <bs-col sm="6" style="text-align: center;">
            <div>
              <span style="font-size: 84px;"><i class="fas fa-users"></i></span>
            </div>
            <semantic-query query='SELECT (COUNT(?group) AS ?count) WHERE { ?group rdf:type/rdfs:subClassOf* crm:E74_Group . FILTER(CONTAINS(STR(?group), "/a/")) }' template='<div>{{#each bindings}}{{count.value}} [[i18n "AboutCountGroups" bundle="performing-arts-ch"]]{{/each}}</div>'></semantic-query>
          </bs-col>
        </bs-row>
        <bs-row style="margin-top: 4em;">
          <bs-col sm="6" style="text-align: center;">
            <diV>
              <span style="font-size: 84px;"><i class="fas fa-university"></i></span>
            </diV>
            <semantic-query query='SELECT (COUNT(?venue) AS ?count) WHERE { ?venue a crm:E22_Man-Made_Object ; crm:P2_has_type spav:dwmkn . FILTER(CONTAINS(STR(?venue), "/o/")) }' template='<div>{{#each bindings}}{{count.value}} [[i18n "AboutCountVenues" bundle="performing-arts-ch"]]{{/each}}</div>'></semantic-query>
          </bs-col>
          <bs-col sm="6" style="text-align: center;">
            <div>
              <span style="font-size: 84px;"><i class="fas fa-theater-masks"></i></span>
            </div>
            <semantic-query query='SELECT (COUNT(?production) AS ?count) WHERE { ?production a frbroo:F25_Performance_Plan . FILTER(CONTAINS(STR(?production), "/w/")) }' template='<div>{{#each bindings}}{{count.value}}{{/each}} [[i18n "AboutCountProductions" bundle="performing-arts-ch"]]</div>'></semantic-query>
          </bs-col>
        </bs-row>
      </bs-col>
    </bs-row>
  </div>
</div>
