<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
  <div class='page__body' style="padding-top:6em;">

    <style>
      .domainCards {
        margin: 0 -10px;
      }

      .domainCardItem {
        display: flex;
        padding: 20px 10px;
      }

      .domainCard {
        width: 100%;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
      }

      .domainCard--selected {
        border: 1px solid black;
      }

      .domainCardThumbnail {
        line-height: 50px;
        height: 50px;
        width: 50px;
        text-align: center;
      }

      .domainCardThumbnail img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
      }

      .domainItems {
        margin: 10px 0;
      }

      .domainItemWrap {
        display: inline-block;
        margin-right: 10px;
      }

      .domainItem {
        color: #333;
        padding: 4px 6px;
      }

      .domainItem:hover {
        color: #333;
      }

      .domainItem--selected {
        border-bottom: 1px solid #ccc;
        font-weight: bold;
      }

      .domainItemThumbnail {
        line-height: 24px;
        margin-right: 5px;
        height: 24px;
        width: 24px;
        text-align: center;
      }

      .domainItemThumbnail img {
        padding: 4px;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
      }

      .domainRemove {
        color: #333;
        margin: 0 5px;
      }

      .clearSearch {
        color: #333;
      }

      div.facet {
        width: 16em;
      }

      img.facet__relation__content__category-image {
        display: none;
      }
    </style>

    <semantic-search 
      id='mainSearch'
      categories='{
        "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>": [{
          "kind": "resource",
          "queryPattern": "{$subject ?__relation__ ?__value__ .}"
        }]
      }'
      relations='{
        "<http://search.performing-arts.ch/genre>": [{
          "kind": "resource",
          "queryPattern": "{
            ?work frbroo:R12_is_realised_in ?subject ;
              crm:P2_has_type ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/premieretype>": [{
          "kind": "resource",
          "queryPattern": "{
            ?__value__ skos:inScheme spav:hl .
            ?performance frbroo:R25_performed ?subject ;
              crm:P9_consists_of ?premiere .
            ?premiere a frbroo:F31_Performance ;
              crm:P2_has_type ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/producer>": [{
          "kind": "resource",
          "queryPattern": "{
            ?expressioncreation frbroo:R17_created ?subject ;
              crm:P9_consists_of ?production . 
            ?production crm:P2_has_type spav:muwgo ;
              crm:P14_carried_out_by ?__value__ .
            FILTER(CONTAINS(STR(?__value__), \"/a/\"))
          }"
        }],
        "<http://search.performing-arts.ch/productionvenue>": [{
          "kind": "resource",
          "queryPattern": "{
            ?performance frbroo:R25_performed ?subject ;
              crm:P8_took_place_on_or_within ?__value__ .
            FILTER(CONTAINS(STR(?__value__), \"/o/\"))
          }"
        }],
        "<http://search.performing-arts.ch/productionplace>": [{
          "kind": "resource",
          "queryPattern": "{
            ?performance frbroo:R25_performed ?subject ;
              crm:P8_took_place_on_or_within ?venue .
            ?venue crm:P156_occupies ?ground .
            ?ground crm:P89_falls_within ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/stagedirection>": [{
          "kind": "resource",
          "queryPattern": "{
            ?expressioncreation frbroo:R17_created ?subject ;
              crm:P9_consists_of ?activity .
            ?activity crm:P2_has_type spav:mutnt ;
              crm:P14_carried_out_by ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/premieredate>": [{
          "kind": "numeric-range",
          "queryPattern": "{
            ?performance frbroo:R25_performed ?subject ;
              crm:P9_consists_of ?premiere .
            ?premiere a frbroo:F31_Performance ;
              crm:P4_has_time-span ?timespan .
            ?timespan crm:P82a_begin_of_the_begin ?date .
            BIND(YEAR(?date) AS ?literal)
            FILTER(?literal >= ?__numericRangeBeginValue__) .
            FILTER(?literal <= ?__numericRangeEndValue__) .
          }"
        }],
        "<http://search.performing-arts.ch/grouptype>": [{
          "kind": "resource",
          "queryPattern": "{
            ?subject crm:P2_has_type ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/groupplace>": [{
          "kind": "resource",
          "queryPattern": "{
            ?subject crm:P74_has_current_or_former_residence ?ground .
            ?ground crm:P89_falls_within ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/venueplace>": [{
          "kind": "resource",
          "queryPattern": "{
            ?subject crm:P156_occupies ?p .
            ?p crm:P89_falls_within ?__value__ .
          }"
        }],
        "<http://search.performing-arts.ch/withincanton>": [{
          "kind": "resource",
          "queryPattern": "{
            $subject <http://www.cidoc-crm.org/cidoc-crm/P89_falls_within>+ ?__value__ .
            ?__value__ owl:sameAs ?external .
            FILTER(CONTAINS(STR(?external), \"http://classifications.data.admin.ch/canton/\"))
          }"
        }],
        "<http://search.performing-arts.ch/withincountry>": [{
          "kind": "resource",
          "queryPattern": "{
            $subject <http://www.cidoc-crm.org/cidoc-crm/P89_falls_within>+ ?__value__ .
            MINUS { ?__value__ <http://www.cidoc-crm.org/cidoc-crm/P89_falls_within> ?otherplace .}
          }"
        }]
      }'
      search-profile='{
        "categories": [
          {
            "iri": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "label": "[[i18n "SearchProductions" bundle="performing-arts-ch"]]",
            "thumbnail": "../assets/icons/solid/theater-masks.svg"
          },
          {
            "iri": "<http://www.cidoc-crm.org/cidoc-crm/E21_Person>",
            "label": "[[i18n "SearchPersons" bundle="performing-arts-ch"]]",
            "thumbnail": "../assets/icons/solid/user.svg"
          },
          {
            "iri": "<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
            "label": "[[i18n "SearchGroups" bundle="performing-arts-ch"]]",
            "thumbnail": "../assets/icons/solid/users.svg"
          },
          {
            "iri": "<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "label": "[[i18n "SearchVenues" bundle="performing-arts-ch"]]",
            "thumbnail": "../assets/icons/solid/landmark.svg"
          },
          {
            "iri": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "label": "[[i18n "SearchPlaces" bundle="performing-arts-ch"]]",
            "thumbnail": "../assets/icons/solid/map-marker-alt.svg"
          },
          {
            "iri": "<http://www.w3.org/2004/02/skos/core#Concept>",
            "label": "Concepts",
            "thumbnail": "../assets/icons/solid/comment-lines.svg"
          },
          {
            "iri": "<http://www.w3.org/2001/XMLSchema#Decimal>",
            "label": "Numbers"
          },
          {
            "iri": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
            "label": "Actors",
            "thumbnail": "../assets/icons/solid/user.svg"
          }
        ],
        "relations": [
          {
            "iri": "<http://search.performing-arts.ch/genre>",
            "label": "[[i18n "FilterGenre" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
          },
          {
            "iri": "<http://search.performing-arts.ch/premieretype>",
            "label": "[[i18n "FilterPremiere" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
          },
          {
            "iri": "<http://search.performing-arts.ch/producer>",
            "label": "[[i18n "FilterProducer" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri": "<http://search.performing-arts.ch/productionvenue>",
            "label": "[[i18n "FilterVenue" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>"
          },
          {
            "iri": "<http://search.performing-arts.ch/productionplace>",
            "label": "[[i18n "FilterPlace" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          },
          {
            "iri": "<http://search.performing-arts.ch/stagedirection>",
            "label": "[[i18n "FilterStageDirection" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
          },
          {
            "iri": "<http://search.performing-arts.ch/premieredate>",
            "label": "[[i18n "FilterYear" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
            "hasRange": "<http://www.w3.org/2001/XMLSchema#Decimal>"
          },
          {
            "iri": "<http://search.performing-arts.ch/grouptype>",
            "label": "[[i18n "FilterType" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
            "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
          },
          {
            "iri": "<http://search.performing-arts.ch/groupplace>",
            "label": "[[i18n "FilterPlace" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E74_Group>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          },
          {
            "iri": "<http://search.performing-arts.ch/venueplace>",
            "label": "[[i18n "FilterPlace" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E22_Man-Made_Object>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          },
          {
            "iri": "<http://search.performing-arts.ch/withincanton>",
            "label": "[[i18n "FilterCanton" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          },
          {
            "iri": "<http://search.performing-arts.ch/withincountry>",
            "label": "[[i18n "FilterCountry" bundle="performing-arts-ch"]]",
            "hasDomain": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
            "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>"
          }
        ]
      }'
      limit='1000'
    >

      <semantic-search-query-keyword-type 
        id='keywordTypeQuery'
        query='SELECT ?subject WHERE {
          ?subject rdf:type/rdfs:subClassOf* ?__domain__ .
          FILTER(?__domain__ IN (frbroo:F25_Performance_Plan, crm:E21_Person, crm:E74_Group, crm:E40_Legal_Body, crm:E22_Man-Made_Object, crm:E53_Place))
          FILTER(REGEX(STR(?subject), "/[acopw]/"))
          OPTIONAL { ?subject crm:P2_has_type ?crmtype . }
          FILTER(?__domain__ != crm:E22_Man-Made_Object || ?crmtype = spav:dwmkn )
          FILTER(?__tokenPattern__)
        }'
        count-query='
          SELECT (COUNT(DISTINCT ?subject) AS ?count) WHERE {
            ?subject rdf:type/rdfs:subClassOf* ?__domain__ .
            FILTER(?__domain__ IN (frbroo:F25_Performance_Plan, crm:E21_Person, crm:E74_Group, crm:E40_Legal_Body, crm:E22_Man-Made_Object, crm:E53_Place))
            FILTER(REGEX(STR(?subject), "/[acopw]/"))
            OPTIONAL { ?subject crm:P2_has_type ?crmtype . }
            FILTER(?__domain__ != crm:E22_Man-Made_Object || ?crmtype = spav:dwmkn )
            FILTER(?__tokenPattern__)
          }'
        count-query-mode='queryPerCategory'
        token-pattern='
          {
            ?subject rdfs:label ?label .
          } UNION {
            ?subject crm:P131_is_identified_by [ rdf:value ?label ] .
          }
          SERVICE <http://www.bigdata.com/rdf/search#search> {
            ?label bds:search ?__token__ ;
            bds:minRelevance "0.1" ;
            bds:relevance ?score ; 
            bds:matchAllTerms "true" .
          }'
        template='{{> template}}'
      >
    
        <template id='template'>
          <div>
            {{#if selectedDomain}}
            <div class='domainItems'>
              {{#each domains}}
                <span class='domainItemWrap'>
                  <span data-flex-layout='row center-left'>
                    <mp-event-trigger
                      type='KeywordTypeQuery.SelectDomain'
                      targets='["{{../componentId}}"]'
                      data='{"domainIri": "{{iri}}"}'>
                      <a
                        data-flex-layout='row center-left'
                        class='domainItem {{#if selected}}domainItem--selected{{/if}}'
                      >
                        <span class='domainItemThumbnail'>
                          {{#if thumbnail}}
                            <img src='{{thumbnail}}' alt='{{label}}' />
                          {{else}}
                            <i class='fa fa-edit'></i>
                          {{/if}}
                        </span>
                        {{label}}
                        {{#if ../loadingCounts}}
                          (⏳)
                        {{else}}
                          ({{count}})
                        {{/if}}
                      </a>
                    </mp-event-trigger>
                    {{#if selected}}
                      <mp-event-trigger
                        type='KeywordTypeQuery.ClearDomain'
                        targets='["{{../componentId}}"]'
                      >
                        <a class='domainRemove'><i class='fa fa-times'></i></a>
                      </mp-event-trigger>
                    {{/if}}
                </span>
                </span>
              {{/each}}
              <mp-event-trigger
                type='KeywordTypeQuery.ClearSearch'
                targets='["{{componentId}}"]'
              >
                <a class='pull-right clearSearch'><i class='fa fa-trash'></i> Clear</a>
              </mp-event-trigger>
            </div>
            {{else}}
            <div class='domainCards'>
              <div data-flex-layout='rows stretch-stretch'>
                {{#each domains}}
                {{#ifCond count "||" ../loadingCounts}}
                <div data-flex-self='size-1of5 md-half sm-full' class='domainCardItem'>
                  <mp-event-trigger
                    type='KeywordTypeQuery.SelectDomain'
                    targets='["{{../componentId}}"]'
                    data='{"domainIri": "{{iri}}"}'>
                    <button type=button class='btn btn-default domainCard {{#if selected}}domainCard--selected{{/if}}'>
                      <div class='domainCardThumbnail'>
                        {{#if thumbnail}}
                        <img src='{{thumbnail}}' alt='{{label}}' /> 
                        {{else}}
                        <i class='fa fa-edit fa-lg'></i>
                        {{/if}}
                      </div>
                      <h4>{{label}}</h4>
                      {{#if count}}<div>{{count}}</div>{{/if}}
                      {{#if ../loadingCounts}}<div>⏳</div>{{/if}}
                    </button>
                  </mp-event-trigger>
                </div>
                {{/ifCond}}
                {{/each}}
              </div>
            </div>
            {{/if}}
          </div>
        </template>

      </semantic-search-query-keyword-type>
      
      <div data-flex-layout="row stretch-stretch">
    
        <div data-flex-self="size-1of3" style="flex: 0 0 0; margin-top: 1em;">
          <semantic-search-facet></semantic-search-facet>
        </div>

      [[> sapaModule:SearchProductionsResults]]

      [[> sapaModule:SearchPersonsResults]]

      [[> sapaModule:SearchGroupsResults]]

      [[> sapaModule:SearchVenuesResults]]

      [[> sapaModule:SearchPlacesResults]]

      </div>

    </semantic-search>
  </div>
</div>