<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
  <div class='page__body'>
    <h2>Test PDF</h2>
    <p>Viewer: <a href="https://github.com/alekswebnet/pdfjs-viewer-element/tree/master?tab=readme-ov-file">GitHub</a></p>
    <pdfjs-viewer-element 
      src="https://cloud.sapa.swiss/s/Bpoo56qtRyjtWdA/download/SAPA_Jahresbericht_2022_FR-1.pdf" 
      viewer-path="/assets/pdfjs-4.2.67-dist"
      >
    ></pdfjs-viewer-element>
  </div>
</div>