<!-- access conditions -->
<semantic-query 
    query='SELECT ?label ?value WHERE {
        VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingConditionsAccess>) }
        ?? rico:conditionsOfAccess ?value . }'
    template='<div>
        {{#ifCond bindings.length ">" 0}}
            <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
        {{/ifCond}}
        <div>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>
    </div>'>
</semantic-query>

<!-- terms of protection -->
<semantic-query 
    query='SELECT ?label ?value WHERE {
        VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingTermsProtection>) }
        ?? spao:hasTermsOfProtection ?value . }'
    template='<div><h5>Terms of protection</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
</semantic-query>

<!-- permission -->
<semantic-query 
    query='SELECT ?label ?value WHERE {
        VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingPermission>) }
        ?? spao:hasPermission ?value . }'
    template='<div>
        {{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
        <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
</semantic-query>

<!-- physical usability -->
<semantic-query 
    query='SELECT ?label ?value WHERE {
        VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingPhysicalUsability>) }
        ?? spao:hasPhysicalUsability ?value . }'
    template='<div>
        {{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
        <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
</semantic-query>

<!-- accessibility -->
<semantic-query 
    query='SELECT ?label ?value WHERE {
        VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingAccessability>) }
        ?? spao:hasAccessibility ?value . }'
    template='<div>
        {{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
        <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
</semantic-query>
