  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/t/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='venues'
      fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
        cidoc_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/CIDOCtype"
        official_title="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueOfficialTitle"
        alternative_title="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueAltTitle"
        acronym="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueAcronym"
        location="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueLocation"
        begin="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueBegin"
        end="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueEnd"
        website="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website"
        sameAs="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SameAs"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
            <semantic-form-hidden-input for='rdf_type' default-value='[[resolvePrefix "crm:E22_Man-Made_Object"]]'></semantic-form-hidden-input>
            <semantic-form-hidden-input for='cidoc_type' default-value='http://vocab.performing-arts.ch/dwmkn'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="official_title" languages='["en","de","fr","it"]'></semantic-form-text-input>
        <semantic-form-text-input for="alternative_title" languages='["en","de","fr","it"]'></semantic-form-text-input>
        <semantic-form-text-input for="acronym" languages='["en","de","fr","it"]'></semantic-form-text-input>
        <semantic-form-tree-picker-input for="location" ></semantic-form-tree-picker-input>
        <semantic-form-text-input for="begin"></semantic-form-text-input>
        <semantic-form-text-input for="end"></semantic-form-text-input>
        <semantic-form-text-input for="website"></semantic-form-text-input>
        <semantic-form-text-input for="sameAs"></semantic-form-text-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button
          name="submit"
          class="btn btn-default"
        >Save</button>
        <button
          name="reset"
          class="btn btn-default"
        >Reset</button>
      </bs-panel>
    </semantic-form>
  </div>
