<semantic-search 
  limit=500 
  relations='{
    "<http://ontology.performing-arts.ch/season>": [{
      "kind": "resource",
      "queryPattern": "{
        ?expressioncreation frbroo:R17_created ?subject ;
          crm:P10_falls_within ?__value__  .
        FILTER(CONTAINS(STR(?__value__ ), \"/s/\"))
      }"
    }],
    "<http://ontology.performing-arts.ch/genre>": [{
      "kind": "resource",
      "queryPattern": "{
        ?work frbroo:R12_is_realised_in ?subject ;
          crm:P2_has_type ?__value__ .
      }"
    }],
    "<http://ontology.performing-arts.ch/stagedirection>": [{
      "kind": "resource",
      "queryPattern": "{
        ?expressioncreation frbroo:R17_created ?subject ;
          crm:P9_consists_of ?activity .
        ?activity crm:P2_has_type spav:mutnt ;
          crm:P14_carried_out_by ?__value__ .
        FILTER(CONTAINS(STR(?__value__ ), \"/a/\"))
      }"
    }],
    "<http://ontology.performing-arts.ch/producer>": [{
      "kind": "resource",
      "queryPattern": "{
        ?expressioncreation frbroo:R17_created ?subject ;
          crm:P9_consists_of ?production .
        ?production crm:P2_has_type spav:muwgo ;
          crm:P14_carried_out_by ?__value__ .
        FILTER(CONTAINS(STR(?__value__ ), \"/a/\"))
      }"
    }]
  }'
  search-profile='{
    "categories": [
      {
        "iri": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
        "label": "Actor"
      },
      {
        "iri": "<http://www.cidoc-crm.org/cidoc-crm/E4_Period>",
        "label": "Period"
      },
      {
        "iri": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
        "label": "Production"
      },
      {
        "iri": "<http://www.w3.org/2004/02/skos/core#Concept>",
        "label": "Concept"
      }
      ],
    "relations": [
      {
        "iri": "<http://ontology.performing-arts.ch/season>",
        "label": "Season",
        "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
        "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E4_Period>"
      },
      {
        "iri": "<http://ontology.performing-arts.ch/genre>",
        "label": "Genre",
        "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
        "hasRange": "<http://www.w3.org/2004/02/skos/core#Concept>"
      },
      {
        "iri": "<http://ontology.performing-arts.ch/producer>",
        "label": "Producer",
        "hasDomain": "<http://iflastandards.info/ns/fr/frbr/frbroo/F25_Performance_Plan>",
        "hasRange": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
      }
    ]
  }'
>

<semantic-search-query-constant domain='<[[resolvePrefix "frbroo:F25_Performance_Plan"]]>'
    query='SELECT ?plan
    WHERE {
        ?genericperformance crm:P8_took_place_on_or_within ?? ;
          a frbroo:F31_Performance ;
          frbroo:R25_performed ?plan .
        ?expressioncreation frbroo:R17_created ?plan .
        OPTIONAL {
          ?expressioncreation crm:P10_falls_within ?season .
          FILTER(CONTAINS(STR(?season), "/s/"))
        }
    } ORDER BY ASC(?season)'

'></semantic-search-query-constant>

<div data-flex-layout="row stretch-stretch">

<div data-flex-self="size-1of3" style="flex: 0 0 0;">
  <semantic-search-facet
    open-by-default=false
  ></semantic-search-facet>
</div>

<semantic-search-result-holder>
  
  <div data-flex-self="md-full">
    <semantic-search-result>
      <mp-sparql-result-counts id='search-result-count' query="SELECT DISTINCT ?plan {}" template='{{>template}}'>
        <template id='template'>
          {{#if hasLimit}}
          <bs-alert bs-style="warning" class="search-results__alert pull-left">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
            <span class="num-results">Showing {{numberOfResults}} search results </span> of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong>
          </bs-alert>
          {{else}}
          <bs-alert bs-style="warning" class="search-results__alert pull-left">
            <span class="num-results" class="search-results__alert"><strong>{{numberOfResults}} search results.</strong></span>
          </bs-alert>
          {{/if}}
        </template>
      </mp-sparql-result-counts>
    </semantic-search-result>

        <semantic-search-result>
          <semantic-table 
            query='SELECT distinct ?plan ?season ?titlelabel ?stagedirection WHERE { }' 
            id='search-result'
            column-configuration='[
              {"displayName": "Season", "variableName": "season"}, 
              {"displayName": "Title", "cellTemplate":"<semantic-link title=\"{{titlelabel.value}}\" iri=\"{{plan.value}}\"></semantic-link>"}, 
              {"displayName": "Genre", "cellTemplate":"{{>genre}}"},
              {"displayName": "Producer", "cellTemplate":"{{>producer}}"}
            ]'
            number-of-displayed-rows=20
            options='{"showFilter": false}'>
            
            <template id='genre'> 
              <semantic-query 
                query='SELECT DISTINCT ?genre WHERE {      
                  ?work frbroo:R12_is_realised_in <{{plan.value}}> ;
                    crm:P2_has_type ?genre . 
                  } '
                template = '{{>genre-list}} '>           
                <template id='genre-list'> 
                  <div>{{#each bindings}}{{#if @first}}<mp-label iri="{{genre.value}}"></mp-label>{{else}}, <mp-label iri="{{genre.value}}"></mp-label>{{/if}}{{/each}}</div>
                </template>
              </semantic-query>   
            </template>
            
            <template id='producer'> 
              <semantic-query 
                query='SELECT DISTINCT ?producer WHERE {
                  ?expressioncreation frbroo:R17_created <{{plan.value}}> ;
                    crm:P9_consists_of ?production .
                  ?production crm:P2_has_type spav:muwgo ;
                    crm:P14_carried_out_by ?producer .
                } '
                template = '{{>producer-list}} '>           
                <template id='producer-list'> 
                  <div>{{#each bindings}}{{#if @first}}<mp-label iri="{{producer.value}}"></mp-label>{{else}}, <mp-label iri="{{producer.value}}"></mp-label>{{/if}}{{/each}}</div>
                </template>
              </semantic-query>   
            </template>

            <template id='stagedirection'> 
              <semantic-query 
                query='SELECT DISTINCT ?stagedirection WHERE {
                  ?expressioncreation crm:P9_consists_of ?production ;
                    frbroo:R17_created <{{plan.value}}> ;
                    crm:P9_consists_of ?activity .
                  ?activity crm:P2_has_type spav:mutnt ;
                    crm:P14_carried_out_by ?stagedirection .
                } '
                template = '{{>stagedirection-list}} '>           
                <template id='stagedirection-list'> 
                  <div>{{#each bindings}}{{#if @first}}<mp-label iri="{{stagedirection.value}}"></mp-label>{{else}}, <mp-label iri="{{stagedirection.value}}"></mp-label>{{/if}}{{/each}}</div>
                </template>
              </semantic-query>   
            </template>

          </semantic-table>
        </semantic-search-result>
  </div>
</semantic-search-result-holder>
</div>
</semantic-search>