  <div data-flex-layout='row top-stretch'>

    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/a/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='persons'
      fields='[[fieldDefinitions]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
            <semantic-form-hidden-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype' default-value='[[resolvePrefix "crm:E21_Person"]]'></semantic-form-hidden-input>
        </div>
        <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonCommonAppellation" languages='["en","de","fr","it"]'></semantic-form-text-input> 
        <semantic-form-checklist-input type='radio' row=true for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonCommonAppellationType"></semantic-form-checklist-input>
        <semantic-form-composite-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonMiscAppellation' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions]]'>
            <bs-col sm="8">
                <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonMiscAppellationValue" languages='["en","de","fr","it"]'></semantic-form-text-input>
            </bs-col>
            <bs-col sm="4">
                <semantic-form-checklist-input type='checkbox' for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonMiscAppellationType"></semantic-form-checklist-input>
            </bs-col>
        </semantic-form-composite-input>
        <bs-col sm="4">
          <semantic-form-checklist-input type='radio' row=true for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonGender"></semantic-form-checklist-input>
        </bs-col>
        <bs-col sm="8">
          <semantic-form-checkbox-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonSwiss"></semantic-form-checkbox-input>
        </bs-col>

        <semantic-form-composite-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonBirth' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions]]'>
          <bs-col sm="6">
            <semantic-form-datetime-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonBirthDate"></semantic-form-datetime-input>
          </bs-col>
          <bs-col sm="6">
              <semantic-form-tree-picker-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonBirthPlace'></semantic-form-tree-picker-input>
          </bs-col>
        </semantic-form-composite-input>

        <semantic-form-composite-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonDeath' new-subject-template='http://data.performing-arts.ch/x/{{UUID}}' fields='[[fieldDefinitions]]'>
          <bs-col sm="6">
            <semantic-form-datetime-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonDeathDate"></semantic-form-datetime-input>
          </bs-col>
          <bs-col sm="6">
              <semantic-form-tree-picker-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PersonDeathPlace'></semantic-form-tree-picker-input>
          </bs-col>
        </semantic-form-composite-input>

        <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFSComment"></semantic-form-text-input>
        <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SameAs"></semantic-form-text-input>
        <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Note"></semantic-form-text-input>
        <semantic-form-autocomplete-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/SubjectOf">
          <semantic-form new-subject-template="http://data.performing-arts.ch/r/{{UUID}}" fields='[[fieldDefinitions]]'>
            <div style="display: none;">
                <semantic-form-hidden-input for='http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype' default-value='[[resolvePrefix "ric:E3_Record_Set"]]'></semantic-form-hidden-input>
                <!-- TODO: automatically add correct parent? -->
            </div>
            <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetIdentifier"></semantic-form-text-input>
            <semantic-form-text-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetLabel"></semantic-form-text-input>
            <semantic-form-checklist-input type='radio' row=true for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetLevel"></semantic-form-checklist-input>
            <semantic-form-tree-picker-input for="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetParent" ></semantic-form-tree-picker-input>
            <button name="submit" class="btn btn-default">Create Record Set</button>
          </semantic-form>
        </semantic-form-autocomplete-input>
        <semantic-form-errors></semantic-form-errors>
        <button
          name="submit"
          class="btn btn-default"
        >Save</button>
        <button
          name="reset"
          class="btn btn-default"
        >Reset</button>
      </bs-panel>
    </semantic-form>
  </div>
