            <!-- identifier -->
            <semantic-query 
                query="SELECT ?label ?identifier  WHERE {
            VALUES (?label) { ( '[[i18n "field_identifier" bundle="sapa-fields"]]') }
        
                    ?? rico:identifier ?identifier . }"
                template='<div>{{#ifCond bindings.length ">" 0}}<h5>{{bindings.0.label.value}}</h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li>{{identifier.value}}</li>{{/each}}</ul></div>'>
            </semantic-query>

            <!-- typed identifier -->
            <semantic-query 
                query="SELECT ?identifier ?type WHERE {
                    ?? rico:hasOrHadIdentifier ?identifierUri .
                    ?identifierUri rdf:value ?identifier ;
                        crm:P2_has_type ?type . 
                    # Exclude technical identifier and specify order
                    VALUES (?type ?order) {
                        (<http://vocab.performing-arts.ch/idcon> '1'^^xsd:integer)
                        (<http://vocab.performing-arts.ch/iduni> '2'^^xsd:integer)
                        (<http://vocab.performing-arts.ch/idold> '3'^^xsd:integer)
                    }
                } ORDER BY ?order ?identifier"
                template="{{> template}}">
                <template id="template">
                    <div>
                        <h5>[[i18n "field_typed_identifier" bundle="sapa-fields"]]</h5>
                        <ul class="list-unstyled">
                            {{#each bindings}}
                                <li>{{identifier.value}} (<mp-label iri="{{type.value}}"></mp-label>)</li>
                            {{/each}}
                    </div>
                </template>
            </semantic-query>
            
            <!-- legacy identifier -->
            <semantic-query 
                query="SELECT ?label ?identifier  WHERE {
            VALUES (?label) { ( '[[i18n "field_legacy_identifier" bundle="sapa-fields"]]') }
        
                    ?? spao:legacyIdentifier ?identifier . }"
                template='<div>{{#ifCond bindings.length ">" 0}}<h5>{{bindings.0.label.value}}</h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li>{{identifier.value}}</li>{{/each}}</ul></div>'>
            </semantic-query>

            [[#if (hasPermission "forms:ldp:*")]] 
            <!-- ScopeID -->
            <semantic-query 
                query='SELECT ?label ?scope_url ?scope_id  WHERE {
            VALUES (?label) { ( "[[i18n "field_scope_id" bundle="sapa-fields"]]") }
        
                    ?? owl:sameAs ?scope.
                    FILTER(CONTAINS(STR(?scope), "http://catalogue.collectiondeladanse.ch")) .
                    BIND(STRAFTER(STR(?scope), "?ID=") AS ?scope_id)
                    BIND(CONCAT("https://scope.tanzarchiv.ch/tanzarchiv/detail.aspx-ID=", ?scope_id, ".html") AS ?scope_url)
                }'
                template='<div>
                    {{#ifCond bindings.length ">" 0}}<h5>{{bindings.0.label.value}}</h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}
                        <li><a href="{{scope_url.value}}" target="_blank">{{scope_id.value}}</a></li>
                    {{/each}}</ul>    
                    </div>'>
            </semantic-query>
            [[/if]]
