[[#*inline "chosen-function"]][[#if function]][[function]][[else]]{{function}}[[/if]][[/inline]]

<semantic-query 
    query='SELECT ?function ?actor ?class ?index ?activitylabel ?activitycomment ?bool WHERE {
        [[#if function]]
            BIND(?? as ?subject)
        [[else]]
            BIND(<{{resource}}> AS ?subject)
        [[/if]]
        {
            ?expressioncreation frbroo:R17_created ?subject ;
                crm:P9_consists_of ?activity .
        } UNION {
            ?subject frbroo:R14_incorporates ?reference .
            ?expressioncreation frbroo:R17_created ?reference ;
                crm:P9_consists_of ?activity .
        } UNION {
            ?genericperformance frbroo:R25_performed ?subject ;
            crm:P9_consists_of ?activity . 
        } UNION {
            ?subject crm:P9_consists_of ?activity .
        }
        ?activity crm:P2_has_type ?function ;
            crm:P14_carried_out_by ?actor .
        FILTER(?function = [[> chosen-function]])
        OPTIONAL { ?activity olo:index ?index . }
        OPTIONAL { ?activity rdfs:label ?activitylabel . }
        OPTIONAL { ?activity rdfs:comment ?activitycomment . }
        BIND(IF(!CONTAINS(STR($actor), "/u/"), "true","") AS ?bool)
        } ORDER BY ASC(?index)'
    template='<div>
        {{#ifCond bindings.length ">" 0}}<h5><mp-label iri="{{bindings.0.function.value}}"></mp-label></h5>{{/ifCond}}
        <ul class="list-unstyled">
        {{#each bindings}}
        {{#if bool.value}} 
        <li><semantic-link iri="{{actor.value}}"></semantic-link>{{#if activitylabel}} ({{activitylabel.value}}){{/if}}{{#if activitycomment}} [{{activitycomment.value}}]{{/if}}</li>
        {{else}}
        <li><mp-label iri="{{actor.value}}"></mp-label>{{#if activitylabel}} ({{activitylabel.value}}){{/if}}{{#if activitycomment}} [{{activitycomment.value}}]{{/if}}</li>
        {{/if}}
        {{/each}}
        </ul></div>'>
</semantic-query>

