<bs-col sm="4">

    <!-- official name -->
    <semantic-query 
        query='SELECT ?typelabel ?value
        WHERE {
            ?? crm:P1_is_identified_by ?app .
            ?app a crm:E41_Appellation ; 
            crm:P2_has_type spav:yanuj ;
            rdf:value ?value .
        } LIMIT 1'
    template='<div><h3>{{#each bindings}}{{value.value}}{{/each}}</h3></div>'>
    </semantic-query>

    <!-- alternative names -->
    <semantic-query 
        query='SELECT distinct ?value ?type ?typesort
        WHERE {
            VALUES (?type ?typesort) { (spav:yamqk 1) (spav:yavtx 2) }
            ?? crm:P1_is_identified_by ?appellation .
            ?appellation a crm:E41_Appellation ; 
            crm:P2_has_type ?type ;
            rdf:value ?value .
            { ?appellation crm:P2_has_type spav:yamqk . }
            UNION
            { ?appellation crm:P2_has_type spav:yavtx . }
        } ORDER BY ?typesort'
        template='<div>({{#each bindings}}{{#if @first}}{{value.value}}{{else}}, {{value.value}}{{/if}}{{/each}})</div>'>
    </semantic-query>

    <hr/>

    <!-- agent type -->
    <!-- TODO: use selected language -->
    <semantic-query 
        query='SELECT ?type ?label
        WHERE {
            ?? crm:P2_has_type ?type .
            ?type skos:prefLabel ?label .
            FILTER(LANG(?label)="en")
        }'
        template='<p>{{#each bindings}}{{#if @first}}{{label.value}}{{else}}, {{label.value}}{{/if}}{{/each}}</p>'>
    </semantic-query>

    <!-- place -->
    <!-- TODO: use selected language -->
    <semantic-query 
        query='SELECT ?place ?label
        WHERE {
            ?? crm:P74_has_current_or_former_residence ?p .
            ?p crm:P89_falls_within ?place .
            ?place rdfs:label ?label .
            FILTER(LANG(?label)="en")
        }'
        template='<p>{{#each bindings}}{{#if @first}}<semantic-link uri="{{place.value}}">{{label.value}}</semantic-link>{{else}}, <semantic-link uri="{{place.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p>'>
    </semantic-query>

    <!-- dates -->
    <semantic-query 
        query='SELECT ?dates
        WHERE {
            OPTIONAL {
                ?? crm:P95i_was_formed_by ?formation .
                ?formation a crm:E66_Formation ;
                crm:P4_has_time-span ?formationtime .
                ?formationtime rdfs:label ?formationlabel .
            }
            OPTIONAL {
                ?? crm:P99i_was_dissolved_by ?dissolution .
                ?dissolution a crm:E68_Dissolution ;
                crm:P4_has_time-span ?dissolutiontime .
                ?dissolutiontime rdfs:label ?dissolutionlabel .
            }
            BIND(CONCAT(COALESCE(?formationlabel, ""), "-", COALESCE(?dissolutionlabel, "")) as ?dates)
        }'
        template='{{#each bindings}}<p>{{dates.value}}</p>{{/each}}'>
    </semantic-query>
    <!-- TODO: filter for no dates -->

    <mp-field-visualization
        subject='[[this]]'
        fields='[[fieldDefinitions
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_successor_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_successor_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_predecessor_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_predecessor_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Website"
        ]]'
        template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
        [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
        >
    </mp-field-visualization> 

</bs-col>

<bs-col sm="4">
    <mp-field-visualization
        subject='[[this]]'
        fields='[[fieldDefinitions
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E21_Person_is_current_or_former_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E21_Person_is_current_or_former_member"
       http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_current_or_former_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_current_or_former_member"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_manages_venue="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_manages_venue"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_Entity_is_association_member="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_Entity_is_association_member"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Subject_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Subject_of"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_is_referred_to_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_is_referred_to_by"
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note"
        ]]'
        template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
        [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
    >
    </mp-field-visualization> 
</bs-col>

<bs-col sm="4">
    <mp-field-visualization
        subject='[[this]]'
        fields='[[fieldDefinitions
        http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_sameAs"
        ]]'
        template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
        [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
    >
    </mp-field-visualization> 
</bs-col>
