  <div data-flex-layout='row top-stretch'>
    <semantic-form 
     [[#if create]]
        new-subject-template='http://data.performing-arts.ch/r/{{UUID}}'
        post-action="redirect"
      [[else]]
        subject='[[this]]'
        post-action="reload"
     [[/if]]
      
      browser-persistence=true
      persistence='ldp' 
      form-id='recordsets'
      fields='[[fieldDefinitions
        rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
        identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
        label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingName"
        parent="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceParent"
        provenance="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceProvenance"
        source="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSource"
        documentary_form="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDocumentaryForm"
        description="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDescription"
        language="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceLanguage"
        part="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordPart"
        instantiation="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordInstantiation"
        subject="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSubject"
        date="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDate"
        extent="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceExtent"
        comment="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFSComment"
      ]]'>
      <bs-panel>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <div style="display: none;">
            <semantic-form-hidden-input for='rdf_type' default-value='[[resolvePrefix "rico:Record"]]'></semantic-form-hidden-input>
        </div>
        <bs-row>
          <bs-col sm='2'>
              <semantic-form-text-input for="identifier"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='5'>
            <semantic-form-text-input for="label"></semantic-form-text-input>        
          </bs-col>
          <bs-col sm='5'>
            <semantic-form-tree-picker-input for="parent" >
              <semantic-form new-subject-template="http://data.performing-arts.ch/r/{{UUID}}" fields='[[fieldDefinitions
                  parent_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
                  parent_identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
                  parent_label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingName"
                  parent_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetType"
                ]]'>
                <div style="display: none;">
                    <semantic-form-hidden-input for='parent_rdf_type' default-value='[[resolvePrefix "rico:RecordSet"]]'></semantic-form-hidden-input>
                </div>
                <semantic-form-text-input for="parent_identifier"></semantic-form-text-input>
                <semantic-form-text-input for="parent_label"></semantic-form-text-input>
                <semantic-form-checklist-input type='radio' row=true for="parent_type"></semantic-form-checklist-input>
                <button name="submit" class="btn btn-default">[[i18n "FormCreateRecordSet" bundle="performing-arts-ch"]]</button>
              </semantic-form>    
            </semantic-form-tree-picker-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-autocomplete-input for="provenance"></semantic-form-autocomplete-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-autocomplete-input for="source"></semantic-form-autocomplete-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-text-input for="date"></semantic-form-text-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-text-input for="extent"></semantic-form-text-input>
          </bs-col>
        </bs-row>
        <hr>
        <bs-row>
          <bs-col sm='8'>
            <semantic-form-text-input for="description" multiline=true></semantic-form-text-input>
          </bs-col>
          <bs-col sm='4'>
            <semantic-form-autocomplete-input for="subject"></semantic-form-autocomplete-input>
          </bs-col>
        </bs-row>
        <bs-row>
          <bs-col sm='6'>
            <semantic-form-tree-picker-input for="documentary_form"></semantic-form-tree-picker-input>
          </bs-col>
          <bs-col sm='6'>
            <semantic-form-tree-picker-input for="language"></semantic-form-tree-picker-input>
          </bs-col>
        </bs-row>

        <semantic-form-composite-input for='part' new-subject-template='http://data.performing-arts.ch/r/{{UUID}}' fields='[[fieldDefinitions
            part_rdf_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFtype"
            part_identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
            part_label="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingName"
            part_subject="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSubject"
          ]]'>
          <div style="display: none;">
            <semantic-form-hidden-input for='part_rdf_type' default-value='[[resolvePrefix "rico:RecordPart"]]'></semantic-form-hidden-input>
          </div>
          <bs-row>
            <bs-col sm='4'>
              <semantic-form-text-input for="part_identifier"></semantic-form-text-input>
            </bs-col>
            <bs-col sm='4'>
              <semantic-form-text-input for="part_label"></semantic-form-text-input>
            </bs-col>
            <bs-col sm='4'>
              <semantic-form-autocomplete-input for="part_subject"></semantic-form-autocomplete-input>
            </bs-col>
          </bs-row>
        </semantic-form-composite-input>

        <semantic-form-autocomplete-input for="instantiation"></semantic-form-autocomplete-input>
        <hr>
        <semantic-form-text-input for="comment" multiline=true></semantic-form-text-input>
        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name="submit" class="btn btn-default">[[i18n "FormSubmit" bundle="performing-arts-ch"]]</button>
        <button name="reset" class="btn btn-default">[[i18n "FormReset" bundle="performing-arts-ch"]]</button>
      </bs-panel>
    </semantic-form>
  </div>