<div class="page rs-page">
    <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
        <bs-tab event-key='about' title='[[i18n "TabSummary" bundle="performing-arts-ch"]]'>
            <bs-row>
                <bs-col sm="4">

                    <semantic-query 
                        query="SELECT ?identifier WHERE { { ?? rico:identifier ?identifier } UNION  { ?? premis:hasIdentifier [ premis:hasIdentifierValue ?identifier ] } }"
                        template='<div>{{#each bindings}}<p><strong>{{identifier.value}}</strong></p>{{/each}}</div>'
                        >
                    </semantic-query>

                    <!-- legacy identifiers -->
                    <semantic-query 
                        query="SELECT ?label ?identifier WHERE {
                            VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingLegacyIdentifier>) }
                            ?? spao:legacyIdentifier ?identifier .
                        } ORDER BY ASC(?identifier)"
                        template='<div>
                            {{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                            <ul class="list-unstyled">{{#each bindings}}
                                <li>{{identifier.value}}</li>
                            {{/each}}</ul>    
                            </div>'
                        >
                    </semantic-query>

                    <!-- archival status -->
                    <semantic-query 
                        query="SELECT ?archival_status WHERE { ?? <http://temp.performing-arts.ch/archivalStatus> ?archival_status . }"
                        template='<div><h5>Archival status</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{archival_status.value}}"></mp-label></li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- carrier type / medium -->
                    <semantic-query 
                        query="SELECT ?carrier_type WHERE {
                            {
                                ?? rico:hasCarrierType ?carrier_type .
                            } UNION {
                                ?file premis:isIncludedIn ?? ; 
                                    rico:hasCarrierType ?carrier_type . 
                            }
                        }"
                        template='<div><h5>Carrier type</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{carrier_type.value}}"></mp-label></li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- composition level -->
                    <semantic-query 
                        query="SELECT ?composition_level WHERE {
                            ?file premis:isIncludedIn ?? ;
                                premis:compositionLevel ?composition_level . 
                        }"
                        template='<div><h5>Composition level</h5><ul class="list-unstyled">{{#each bindings}}<li>{{composition_level.value}}</li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- file name -->
                    <semantic-query 
                        query="SELECT ?file_name WHERE {
                            ?file premis:isIncludedIn ?? ;
                                premis:originalName ?file_name .    
                        }"
                        template='<div><h5>File name</h5><ul class="list-unstyled">{{#each bindings}}<li>{{file_name.value}}</li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- file format -->
                    <semantic-query 
                        query="SELECT ?format WHERE {
                            ?file premis:isIncludedIn ?? ;
                                ebucore:hasFormat ?format .    
                        }"
                        template='<div><h5>Format</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{format.value}}"></mp-label></li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- duration -->
                    <semantic-query 
                        query="SELECT ?duration WHERE {
                            {
                                ?? ebucore:duration ?duration . 
                            } UNION {
                                ?file premis:isIncludedIn ?? ;
                                    ebucore:duration ?duration . 
                            }
                        }"
                        template='<div><h5>Duration</h5><ul class="list-unstyled">{{#each bindings}}<li>{{duration.value}}</li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- condition -->
                    <!-- <semantic-query 
                        query="SELECT ?condition WHERE { ?? <http://temp.performing-arts.ch/condition> ?condition . }"
                        template='<div><h5>Condition</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{condition.value}}"></mp-label></li>{{/each}}</ul></div>'>
                    </semantic-query> -->

                    <!-- ebucore standard -->
                    <!-- <semantic-query 
                        query="SELECT ?standard WHERE { ?? ebucore:hasStandard ?standard . }"
                        template='<div><h5>Standard</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{standard.value}}"></mp-label></li>{{/each}}</ul></div>'>
                    </semantic-query> -->

                    <!-- color -->
                    <!-- <semantic-query 
                        query="SELECT ?color WHERE { ?? rdau:P60558 ?color . }"
                        template='<div><h5>Color</h5><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{color.value}}"></mp-label></li>{{/each}}</ul></div>'>
                    </semantic-query> -->

                    <!-- comment -->
                    <!-- <semantic-query 
                        query="SELECT ?comment WHERE { ?? rdf:comment ?comment . }"
                        template='<div><h5>Comment</h5><ul class="list-unstyled">{{#each bindings}}<li>{{comment.value}}</li>{{/each}}</ul></div>'>
                    </semantic-query> -->

                </bs-col>
                <bs-col sm="4">

                    <!-- file size -->
                    <semantic-query 
                        query="SELECT ?file_size WHERE { 
                            ?file premis:isIncludedIn ?? ;
                                a premis:File ;
                                premis:size ?bytes .
                            BIND(CONCAT(STR(FLOOR(?bytes / (1000 * 1000 * 1000) *100) / 100), ' GB') AS ?file_size)
                        }"
                        template='<div><h5>File size</h5><ul class="list-unstyled">{{#each bindings}}<li>{{file_size.value}}</li>{{/each}}</ul></div>'>
                    </semantic-query>

                    <!-- video -->
                    <semantic-query 
                        query="SELECT ?order ?label (GROUP_CONCAT(?value; SEPARATOR=', ') AS ?values) WHERE {
                            VALUES ( ?order ?label ?property ) {
                                ( 1 'Aspect ratio' ebucore:aspectRatio )
                                ( 2 'Width' ebucore:width )
                                ( 3 'Height' ebucore:height )
                                ( 4 'Scanning format' ebucore:scanningFormat )
                                ( 5 'Frame rate' ebucore:frameRate )
                            }
                            ?file premis:isIncludedIn ?? ;
                                a premis:File ;
                                ?property ?value .
                        } GROUP BY ?order ?label
                        ORDER BY ?order"
                        template='<div>{{#each bindings}}<h5>{{label.value}}</h5><p>{{values.value}}</p>{{/each}}</div>'>
                    </semantic-query>

                    <!-- audio -->
                    <semantic-query 
                        query="SELECT ?order ?label (GROUP_CONCAT(?value; SEPARATOR=', ') AS ?values) WHERE {
                            VALUES ( ?order ?label ?property ) {
                                ( 1 'Sampling rate' ebucore:samplingRate )
                            }
                            ?file premis:isIncludedIn ?? ;
                                a premis:File ;
                                ?property ?value .
                        } GROUP BY ?order ?label
                        ORDER BY ?order"
                        template='<div>{{#each bindings}}<h5>{{label.value}}</h5><p>{{values.value}}</p>{{/each}}</div>'>
                    </semantic-query>

                </bs-col>
                <bs-col sm="4">

                    <!-- record resource -->
                    <semantic-query 
                        query="SELECT ?record_resource ?label WHERE {
                            ?record_resource rico:hasInstatiation ?? ;
                                rico:name ?name .
                            OPTIONAL { ?record_resource rico:identifier ?identifier . }
                            BIND(IF(BOUND(?identifier), CONCAT(?identifier, ': ', ?name), ?name ) AS ?label)
                        }"
                        template='<div><h5>Record</h5><ul class="list-unstyled">
                            {{#each bindings}}<li><semantic-link iri="{{record_resource.value}}">{{label.value}}</semantic-link></li>{{/each}}
                        </ul></div>'>
                    </semantic-query>    

                </bs-col>
            </bs-row>

            <bs-row>

                <semantic-tree
                    query='SELECT DISTINCT ?node ?parent WHERE {
                        { ?node rico:hasInstantiation ?? }
                        UNION
                        { ?part rico:isConstituentOf ?? . ?node rico:hasInstantiation ?part . }
                        UNION
                        { ?? <http://temp.performing-arts.ch/hasCopy> ?node }
                        UNION
                        { ?node <http://temp.performing-arts.ch/hasCopy> ?? } 
                        { 
                            ?node rico:hasInstantiation ?parent . 
                            MINUS {
                                ?x <http://temp.performing-arts.ch/hasCopy> ?node . 
                                ?x rico:hasInstantiation ?parent .
                            }
                        }
                        UNION 
                        { ?parent <http://temp.performing-arts.ch/hasCopy> ?node . }

                    }'
                    provider='d3-dendrogram'
                    >
                </semantic-tree>
            </bs-row>
            
        </bs-tab>

        [[> sapaModule:AdminTabs]]

    </bs-tabs>  
</div>
