<div class="page">
  <bs-tabs id='record-tabs' class='page__body-navtabs' default-active-key='Summary' unmount-on-exit=true>

    <bs-tab event-key='Summary' title='[[i18n "TabSummary" bundle="performing-arts-ch"]]'>

      <bs-col sm="4">

        <!-- titles -->
        <semantic-query 
          query='SELECT ?title_value ?title_type ?order WHERE {
            ?? crm:P102_has_title [
              a crm:E35_Title ;
              crm:P2_has_type ?title_type ;
              rdf:value ?title_value 
            ] .
            VALUES (?title_type ?order) {
              (spav:gotlb 1)
              (spav:goctm 2)
              (spav:goctj 3)
              (spav:gogja 4)
              (spav:gowgn 5)
            }
          } ORDER BY ASC(?order)'
          template='<p>{{#each bindings}}{{#if @first}}<strong>{{title_value.value}}</strong>{{else}}<br>{{title_value.value}}{{/if}}{{/each}}</p>'>
        </semantic-query>

        <!-- duration -->
        <semantic-query 
          query='SELECT ?duration WHERE { ?? schema:duration ?duration . }'
          template='<div>{{#ifCond bindings.length ">" 0}}<h5>Duration</h5>{{/ifCond}}
              {{#each bindings}}{{#if @first}}{{duration.value}}{{else}}<br />{{duration.value}}{{/if}}{{/each}}</div>'>
        </semantic-query>

        <!-- language -->
        <semantic-query 
          query='SELECT ?language WHERE { ?work frbroo:R12_is_realised_in ?? ; schema:inLanguage ?language . }'
          template='<p>{{#each bindings}}{{#if @first}}<mp-label iri="{{language.value}}"></mp-label>{{else}}, <mp-label iri="{{language.value}}"></mp-label>{{/if}}{{/each}}</p>'>
        </semantic-query>

        <!-- documents -->
        <!-- TODO: prefer plan over performance! -->
        <semantic-query 
          query='SELECT ?source WHERE { 
            OPTIONAL {
              ?? frbroo:R14_incorporates ?plan .
              ?plan a frbroo:F25_Performance_Plan .  
            }
            OPTIONAL {
              ?? crm:P70_documents ?performance .
            }
            BIND(IF(BOUND(?plan), ?plan, ?performance) AS ?source)
          }'
          template='<div>{{#ifCond bindings.length ">" 0}}<h5>Documents</h5>{{/ifCond}}
            {{#each bindings}}{{#if @first}}<semantic-link iri="{{source.value}}"></semantic-link>{{else}}, <semantic-link iri="{{source.value}}"></semantic-link>{{/if}}{{/each}}</div>'>
        </semantic-query>

        <!-- description -->
        <semantic-query
          query='SELECT ?value WHERE {
            ?? crm:P67_is_referred_to_by ?linguistic.
            ?linguistic crm:P2_has_type spav:eoept ;
              rdf:value ?value .
          }'
          template='<div><h5>Description</h5>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>'>
        </semantic-query>
        
        <!-- note on context -->
        <semantic-query
          query='SELECT ?value WHERE {
            ?? crm:P67_is_referred_to_by ?linguistic.
            ?linguistic crm:P2_has_type spav:eonct ;
              rdf:value ?value .
          }'
          template='<div><h5>Note on context</h5>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>'>
        </semantic-query>
        
        <!-- note on stage work -->
        <semantic-query
          query='SELECT ?value WHERE {
            ?? crm:P67_is_referred_to_by ?linguistic.
            ?linguistic crm:P2_has_type spav:eonsw ;
              rdf:value ?value .
          }'
          template='<div><h5>Note on stage work</h5>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>'>
        </semantic-query>
        
        <!-- note on music -->
        <semantic-query
          query='SELECT ?value WHERE {
            ?? crm:P67_is_referred_to_by ?linguistic.
            ?linguistic crm:P2_has_type spav:eonms ;
              rdf:value ?value .
          }'
          template='<div><h5>Note on music</h5>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>'>
        </semantic-query>

        <!-- genre2 -->
        <semantic-query
          query='SELECT ?genre WHERE { ?? <http://temp.performing-arts.ch/genre2> ?genre . }'
          template='<div><h5>Genre</h5>
            <ul class="list-unstyled">{{#each bindings}}<li>{{genre.value}}</li>{{/each}}</ul>
          </div>'>
        </semantic-query>

      </bs-col>
      <bs-col sm="4">
      
        <!-- vimeo -->
        <semantic-query 
          query="SELECT ?vimeo_id WHERE 
          { 
              ?record rico:hasSubject ?? ;
                rico:hasInstantiation ?vimeo_url .
              FILTER(CONTAINS(STR(?vimeo_url), 'http://vimeo.com'))
              ?vimeo_url rico:hasCarrierType spav:ctonl .
              BIND(STRAFTER(STR(?vimeo_url), 'vimeo.com/') AS ?vimeo_id)
          }"
          template='<div style="width:100%; valign: top; padding-right:20px;">
                  {{#each bindings}}
                  <iframe src="https://player.vimeo.com/video/{{vimeo_id.value}}" frameborder="0" style="width:100%; height:400px; " webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  {{/each}}
          </div>'>
        </semantic-query>


        <!-- creation functions - direction -->
        [[> sapaModule:ShowPerformances function="spav:mucbq"]]
        
        <!-- creation functions - stage direction -->
        [[> sapaModule:ShowPerformances function="spav:mutnt"]]
        
        <!-- creation functions - assistant stage direction -->
        [[> sapaModule:ShowPerformances function="spav:mugkn"]]
        
        <!-- creation functions - film direction -->
        [[> sapaModule:ShowPerformances function="spav:muctj"]]
        
        <!-- creation functions - dramaturgy -->
        [[> sapaModule:ShowPerformances function="spav:musim"]]
        
        <!-- creation functions - choreography -->
        [[> sapaModule:ShowPerformances function="spav:mubbv"]]
        
        <!-- creation functions - conductor -->
        [[> sapaModule:ShowPerformances function="spav:muqfg"]]
        
        <!-- creation functions - choral conductor -->
        [[> sapaModule:ShowPerformances function="spav:mufcc"]]

        <!-- creation functions - stage design -->
        [[> sapaModule:ShowPerformances function="spav:mulga"]]

        <!-- creation functions - light -->
        [[> sapaModule:ShowPerformances function="spav:murni"]]

        <!-- creation functions - costume design -->
        [[> sapaModule:ShowPerformances function="spav:muecs"]]

        <!-- creation functions - video -->
        [[> sapaModule:ShowPerformances function="spav:muqju"]]

        <!-- creation functions - camera -->
        [[> sapaModule:ShowPerformances function="spav:mujig"]]

        <!-- creation functions - projection -->
        [[> sapaModule:ShowPerformances function="spav:mufwk"]]

        <!-- creation functions - sound -->
        [[> sapaModule:ShowPerformances function="spav:muxzh"]]
        
        <!-- reference functions - authorship -->
        [[> sapaModule:ShowPerformances2 function="spav:muiuk"]]

        <!-- reference functions - libretto -->
        [[> sapaModule:ShowPerformances2 function="spav:mujmh"]]

        <!-- reference functions - lyrics -->
        [[> sapaModule:ShowPerformances2 function="spav:muvhj"]]
        
        <!-- reference functions - adaption -->
        [[> sapaModule:ShowPerformances2 function="spav:mudcw"]]
        
        <!-- reference functions - translation -->
        [[> sapaModule:ShowPerformances2 function="spav:muwyo"]]
        
        <!-- reference functions - added text -->
        [[> sapaModule:ShowPerformances2 function="spav:mupvk"]]
        
        <!-- reference functions - added lyrics -->
        [[> sapaModule:ShowPerformances2 function="spav:muzua"]]
        
        <!-- reference functions - screenplay -->
        [[> sapaModule:ShowPerformances2 function="spav:mupot"]]
        
        <!-- reference functions - composition -->
        [[> sapaModule:ShowPerformances2 function="spav:mufbo"]]
        
        <!-- performance functions - acting -->
        [[> sapaModule:ShowPerformances3 function="spav:munib"]]
        
        <!-- performance functions - dance -->
        [[> sapaModule:ShowPerformances3 function="spav:mulcp"]]
        
        <!-- performance functions - performance -->
        [[> sapaModule:ShowPerformances3 function="spav:muawx"]]
      
        <!-- performance functions - pantomine -->
        [[> sapaModule:ShowPerformances3 function="spav:mujhq"]]

        <!-- performance functions - puppet show -->
        [[> sapaModule:ShowPerformances3 function="spav:muhkf"]]
        
        <!-- performance functions - music performance -->
        [[> sapaModule:ShowPerformances3 function="spav:muiim"]]
        
        <!-- performance functions - singing -->
        [[> sapaModule:ShowPerformances3 function="spav:muygg"]]

        <!-- performance functions - intrumental performance -->
        [[> sapaModule:ShowPerformances3 function="spav:mupah"]]
          
        <!-- performance functions - oeil extérieure -->
        [[> sapaModule:ShowPerformances3 function="spav:mudat"]]

        <!-- performance functions - narration -->
        [[> sapaModule:ShowPerformances3 function="spav:muacs"]]

        <!-- performance functions - host -->
        [[> sapaModule:ShowPerformances3 function="spav:mupfz"]]

        <!-- performance functions - moderation -->
        [[> sapaModule:ShowPerformances3 function="spav:mumnc"]]
        
        <!-- performance functions - contribution -->
        [[> sapaModule:ShowPerformances3 function="spav:munuj"]]

      </bs-col>
      <bs-col sm="4">

        <!-- record sets -->
        <semantic-tree
          query='SELECT DISTINCT ?node ?parent WHERE {
            {
              ?record rico:hasSubject ?? ;
                a rico:RecordSet .
            } UNION {
              ?record rico:hasSubject ?? ;
                a rico:Record .
            } UNION {
              ?recordpart rico:hasSubject ?? ;
                a rico:RecordPart ;
                rico:isConstituentOf ?record .
            }
            ?record rico:includedIn* ?node .
            FILTER(ISIRI(?node))
            FILTER(CONTAINS(STR(?node), "/r/"))
            OPTIONAL { ?node rico:includedIn ?parent. FILTER(ISIRI(?parent)) }
          }'
          tuple-template='<span><semantic-link iri="{{data.node.value}}"></semantic-link></span>'> 
        </semantic-tree>

        <!-- see also -->
        <semantic-query
            query='SELECT DISTINCT ?reference WHERE { ?? <http://temp.performing-arts.ch/seeAlso> ?reference . }'
            template='<div><h5>See also</h5>
                <ul class="list-unstyled">{{#each bindings}}
                    <li><semantic-link iri="{{reference.value}}"></semantic-link></li>
                {{/each}}</ul></div>'>
        </semantic-query>

      </bs-col>
    </bs-tab>
  
      [[> sapaModule:AdminTabs]]
            
  </bs-tabs>  
</div>