<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    [[> sapaModule:RecordLabel ]]
  </li>
</ol>

<div class="page">

    [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/actors.svg"]]

    <bs-tabs id='record-tabs' class='page__body-navtabs' default-active-key='internal-data' unmount-on-exit=true>
        <bs-tab event-key='internal-data' title='About'>
            [[> sapaModule:ActorFields ]]
        </bs-tab>
        [[> sapaModule:GroupEditingTab]]
    </bs-tabs>  
</div>