<div class="page rs-page">
  <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
    <bs-tab event-key='about' title='[[i18n "TabSummary" bundle="performing-arts-ch"]]'>

        <bs-row>

        <bs-col sm="4">

            <!-- IDENTIFICATION -->

            <!-- name -->
            <semantic-query 
                query='SELECT ?name WHERE { ?? rico:name ?name . }'
                template='<div>{{#each bindings}}<p><strong>{{name.value}}</strong></p>{{/each}}</div>'>
            </semantic-query>

            [[> sapaModule:RecordResourceIdentifier]]

            [[> sapaModule:RecordResourceDate]]

            [[> sapaModule:RecordResourceExtent]]

            <!-- PROVENANCE -->

            [[> sapaModule:RecordResourceProvenance]]

        </bs-col>

        <bs-col sm="4">

            [[> sapaModule:RecordResourceImages]]

            <!-- CONTENT -->

            <!-- content description -->
            <semantic-query 
                query="SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDescription>) }
                    ?? rico:descriptiveNote ?value . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>
                </div>'>
            </semantic-query>

            [[> sapaModule:RecordParts]]

            <!-- creator -->
            <semantic-query 
            query="SELECT ?label ?value WHERE {
                VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceCreator>) }
                ?? rico:createdBy ?value .
            }"
            template='<div>
                {{#ifCond bindings.length ">" 0}}
                    <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                {{/ifCond}}
                <ul class="list-unstyled">{{#each bindings}}
                    <li><semantic-link iri="{{value.value}}"></semantic-link></li>
                {{/each}}</ul></div>'>
            </semantic-query>

            <!-- subjects -->
            <semantic-query 
                query='SELECT ?label ?subject ?unidentified WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSubject>) }
                    ?? rico:hasSubject ?subject .
                    BIND(IF(!CONTAINS(STR(?subject), "/u/"), "true","") AS ?unidentified)
                }'
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">
                    {{#each bindings}}
                        {{#if unidentified.value}} 
                            <li><mp-label iri="{{subject.value}}"></mp-label></li>
                        {{else}}
                            <li><semantic-link iri="{{subject.value}}"></semantic-link></li>
                        {{/if}}
                    {{/each}}
                    </ul>
                </div>'>
            </semantic-query>

            <!-- places -->
            <semantic-query 
            query="SELECT ?label ?place ?identifier
            WHERE {
                VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourcePlace>) }
                {
                    ?? rico:isAssociatedWithPlace ?place .
                } UNION {
                    ?part rico:isConstituentOf ?? ;
                        rico:isAssociatedWithPlace ?place .
                    OPTIONAL {
                        ?part rico:identifier ?id .
                        BIND(CONCAT(' (', STR(?id), ')') AS ?identifier)
                    }
                }
            } ORDER BY ASC(?identifier)"
            template='<div>
                {{#ifCond bindings.length ">" 0}}
                    <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                {{/ifCond}}
                <ul class="list-unstyled">{{#each bindings}}
                    <li><semantic-link iri="{{place.value}}"></semantic-link> {{identifier.value}}</li>
                {{/each}}</ul></div>'>
            </semantic-query>

            <!-- language -->
            <semantic-query 
                query="SELECT ?label ?language WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceLanguage>) }
                    ?? rico:language ?language . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{language.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- type of photographic print -->
            <semantic-query 
                query="SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourcePhotoType>) }
                    ?? rico:hasRecordResourceState ?value .
                    ?value skos:inScheme spav:st .
                }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- annotation on recto -->
            <semantic-query 
                query="SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordAnnotationRecto>) }
                    ?? spao:hasAnnotationRecto ?value . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>
                </div>'>
            </semantic-query>

            <!-- annotation on verso -->
            <semantic-query 
                query="SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordAnnotationVerso>) }
                    ?? spao:hasAnnotationVerso ?value . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{value.value}}</p>{{/each}}</div>
                </div>'>
            </semantic-query>

            <!-- INSTANTIATIONS -->

            [[> sapaModule:RecordInstantiations]]

            <!-- ASSESSMENT -->

            <!-- documentary form -->
            <semantic-query 
                query="SELECT ?label ?documentary_form WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDocumentaryForm>) }
                    ?? rico:hasDocumentaryFormType ?documentary_form . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{documentary_form.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- comment -->
            <semantic-query 
                query="SELECT ?label ?comment WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFSComment>) }
                    ?? rdfs:comment ?comment . }"
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{comment.value}}</p>{{/each}}</div></div>'>
            </semantic-query>

            <!-- ACCESS -->

            [[> sapaModule:RecordResourceAccess]]

            <!-- copyright -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceCopyrightNotice>) }
                    ?? schema:copyrightNotice ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div>{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- copyright declaration -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceCopyrightDeclaration>) }
                    ?? spao:hasCopyrightDeclaration ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div><mp-label iri="{{value.value}}"></mp-label></div>{{/each}}</div>'>
            </semantic-query>

            <!-- use rights -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceConditionsUse>) }
                    ?? rico:conditionsOfUse ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div>{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- use rights still -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceUsageRightsStill>) }
                    ?? spao:hasUsageRightsStill ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
            </semantic-query>

            <!-- use rights streaming -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceUsageRightsStreaming>) }
                    ?? spao:hasUsageRightsStreaming ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
            </semantic-query>

            <!-- credit -->
            <semantic-query 
                query='SELECT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceCredit>) }
                    ?? spao:hasCredit ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div>{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

        </bs-col>

        <bs-col sm="4">

            <!-- ALLIED MATERIALS -->

            <!-- location -->
            <semantic-query 
                query="SELECT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceLocation>) }
                    ?? rico:hasLocation ?value . }"
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><semantic-link iri="{{value.value}}"></semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>

            <!-- packing -->
            <semantic-query 
                query="SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourcePacking>) }
                    ?? spao:hasPacking ?value . }"
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul></div>'>
            </semantic-query>

            <!-- doublets -->
            <semantic-query 
                query='SELECT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDoublets>) }
                    ?? spao:hasDoublets ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div>{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <semantic-query 
                query='SELECT ?label WHERE { BIND (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceHierarchy> AS ?label) . }'
                template='<h5>{{#each bindings}}<semantic-context repository="assets"><mp-label iri="{{label.value}}"></mp-label></semantic-context>{{/each}}</h5>'>
            </semantic-query>
            <semantic-tree
                 query='SELECT DISTINCT ?node ?parent ?name ?index ?identifier ?level WHERE {
                    { ?? rico:includedIn* ?node }
                    UNION
                    { ?node rico:includedIn ?? } 
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node), "/r/"))
                    OPTIONAL {
                        ?node rico:includedIn ?parent.
                        FILTER(ISIRI(?parent))
                    }
                    ?node rico:name ?name .
                    OPTIONAL { ?node rico:identifier ?identifier }
                    BIND(IF(BOUND(?identifier), CONCAT(?identifier, ": ", ?name), ?name) AS ?label)
                    OPTIONAL { ?node rico:hasRecordSetType ?rslevel . }
                    BIND(IF(BOUND(?rslevel), ?rslevel, spav:rsitm) AS ?level)
                    OPTIONAL { ?node olo:index ?index }
                  } ORDER BY ASC(?index) ASC(?label)
                  LIMIT 200'
               collapsed="true"
               keys-opened='[[this]]'
               parent-binding-name="parent"
               node-binding-name="node"
               tuple-template='{{> node}}'>
                <template id='node'>
                    <span>{{#if identifier}}{{identifier.value}}: {{/if}}<semantic-link uri="{{node.value}}">{{name.value}}</semantic-link>{{#if level}} (<mp-label iri="{{level.value}}""></mp-label>){{/if}}</span>
                </template>
            </semantic-tree>

            <!-- related material -->
            <semantic-query 
                query='SELECT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceRelated>) }
                    ?? spao:isRelatedTo ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div>{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- see also -->
            <semantic-query
                query='SELECT DISTINCT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingSeeAlso>) }
                    {
                        ?? spao:seeAlso ?value .
                        MINUS { ?value a rico:RecordPart . } 
                    } UNION { 
                        ?? spao:seeAlso ?r .
                        ?r a rico:RecordPart ;
                            rico:isConstituentOf ?value .
                    }
                }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><semantic-link iri="{{value.value}}"></semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>

            <!-- notes -->
            <semantic-query 
                query='SELECT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingNote>) }
                    ?? spao:hasNote ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div style="margin-top: 0.8em; white-space: pre-line;">{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            [[#if (hasPermission "forms:ldp:*")]] 
            <!-- internal notes -->
            <semantic-query 
                query='SELECT ?label ?value WHERE { 
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingNoteInternal>) }
                    ?? spao:hasNoteInternal ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div style="margin-top: 0.8em; white-space: pre-line;">{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- responsible employee -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceResponsible>) }
                    ?? spao:hasResponsibleEmployee ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li>{{value.value}}</li>{{/each}}</ul></div>'>
            </semantic-query>
            [[/if]]

            <!-- processing convention -->
            <semantic-query 
                query='SELECT ?label ?value WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceProcessingConvention>) }
                    ?? spao:hasProcessingConvention ?value . }'
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    {{#each bindings}}<div>{{value.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- processing date -->
            <semantic-query 
                query="SELECT ?label ?single_date ?single_qualifier ?single_certainty ?beginning_date ?beginning_qualifier ?beginning_certainty ?end_date ?end_qualifier ?end_certainty
                WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceProcessingDate>) }
                    ?? spao:hasProcessingDate ?date .
                    {
                        {
                            ?date rico:normalizedDateValue ?normalized_date .
                        } UNION {
                            ?date rico:expressedDate ?expressed_date .
                        }
                        BIND(IF(BOUND(?expressed_date), ?expressed_date, ?normalized_date) AS ?single_date)
                        OPTIONAL { ?date rico:dateQualifier ?single_qualifier . }
                        OPTIONAL { ?date rico:certainty ?single_certainty . }
                    } UNION {
                        ?date a rico:DateRange .
                        OPTIONAL {
                            ?date rico:hasBeginningDate ?b .
                            ?b rico:normalizedDateValue ?beginning_date .
                            OPTIONAL { ?b rico:dateQualifier ?beginning_qualifier . }
                            OPTIONAL { ?b rico:certainty ?beginning_certainty . }
                        }
                        OPTIONAL {
                            ?date rico:hasEndDate ?e .
                            ?e rico:normalizedDateValue ?end_date .
                            OPTIONAL { ?e rico:dateQualifier ?end_qualifier . }
                            OPTIONAL { ?e rico:certainty ?end_certainty . }
                        }
                    }
                }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}
                        <li>
                            {{#if single_date.value}}
                                {{#if single_qualifier.value}}<mp-label iri="{{single_qualifier.value}}"></mp-label> {{/if}}
                                {{single_date.value}}
                                {{#if single_certainty.value}}<span> (<mp-label iri="{{single_certainty.value}}"></mp-label>)</span>{{/if}}
                            {{else}}
                                {{#if beginning_date.value}}
                                    {{#if beginning_qualifier.value}}<mp-label iri="{{beginning_qualifier.value}}"></mp-label> {{/if}}
                                    {{beginning_date.value}}
                                    {{#if beginning_certainty.value}}<span> (<mp-label iri="{{beginning_certainty.value}}"></mp-label>)</span>{{/if}}
                                {{/if}}
                                <span> - </span>
                                {{#if end_date.value}}
                                    {{#if end_qualifier.value}}<mp-label iri="{{end_qualifier.value}}"></mp-label> {{/if}}
                                    {{end_date.value}}
                                    {{#if end_certainty.value}}<span> (<mp-label iri="{{end_certainty.value}}"></mp-label>)</span>{{/if}}
                                {{/if}}
                            {{/if}}
                        </li>
                    {{/each}}</ul></div>'
                >
            </semantic-query>

            [[#if (hasPermission "forms:ldp:*")]] 
            <semantic-query 
            query='SELECT ?user ?datetime WHERE {
              GRAPH ?g {
                ?? rdfs:label ?label .
                Platform:formContainer <http://www.w3.org/ns/ldp#contains> ?container .
                ?container prov:generatedAtTime ?dt ;
                           prov:wasAttributedTo ?user_uri .
                BIND(STRAFTER(STR(?user_uri), "/user/") as ?user)
                BIND(CONCAT(STR(DAY(?dt)), ".", STR(MONTH(?dt)), ".", STR(YEAR(?dt))) AS ?datetime)
              }
            } LIMIT 1'
            template='<div><small>{{#each bindings}}{{user.value}}, {{datetime.value}}{{/each}}</small></div>'>
            </semantic-query>
            [[/if]]

        </bs-col>

        </bs-row>

</bs-tab>

[[#if (hasPermission "forms:ldp:*")]] 
<bs-tab event-key='record editing' title='[[i18n "TabEdit" bundle="performing-arts-ch"]]'>
[[> sapaModule:RecordForm]]
</bs-tab>
[[/if]]

[[> sapaModule:AdminTabs]]

</bs-tabs>  
</div>
