<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    [[> sapaModule:RecordLabel ]]
  </li>
</ol>
<div class="page">
    [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/things.svg"]]
    <bs-tabs id='record-tabs' class='page__body-navtabs' default-active-key='Summary' unmount-on-exit=true>
      <bs-tab event-key='Summary' title='Summary'>

        <bs-col sm="4">
            <!-- titles -->
            <semantic-query 
                query='SELECT ?titlevalue ?titletype ?order
                WHERE {
                    ?? crm:P1_is_identified_by ?appellation .
                    ?appellation a crm:E41_Appellation ;
                        crm:P2_has_type ?titletype ;
                        rdf:value ?titlevalue .
                    VALUES (?titletype ?order) {
                        (spav:gotlb 1)
                        (spav:goctm 2)
                        (spav:goctj 3)
                        (spav:gogja 4)
                        (spav:gowgn 5)
                    }
                } ORDER BY ASC(?order)'
            template='<p>{{#each bindings}}
                {{#if @first}}<strong>{{titlevalue.value}}</strong>{{else}}<br>{{titlevalue.value}}{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- genre -->
            <semantic-query 
                query='SELECT ?genre
                WHERE {
                    ?work frbr:R12_is_realised_in ?? ;
                        crm:P2_has_type ?genre .
                }'
            template='<p>{{#each bindings}}{{#if @first}}<mp-label iri="{{genre.value}}"></mp-label>{{else}}, <mp-label iri="{{genre.value}}"></mp-label>{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- theater & season -->
            <semantic-query 
                query='SELECT ?producer ?class ?season
                WHERE {
                    ?expressioncreation frbr:R17_created ?? ;
                        crm:P9_consists_of ?production .
                    ?production crm:P2_has_type spav:muwgo ;
                        crm:P14_carried_out_by ?producer .
                    OPTIONAL {
                        ?expressioncreation crm:P10_falls_within ?season .
                        FILTER(CONTAINS(STR(?season), "/s/"))
                    }
                    BIND(IF(CONTAINS(STR($producer), "/u/"), "unidentified", "identified") AS ?class)
                }'
            template='<p>{{#each bindings}}{{#if @first}}<semantic-link class="{{class.value}}" uri="{{producer.value}}"></semantic-link>{{else}}, <semantic-link class="{{class.value}}" uri="{{producer.value}}"></semantic-link>{{/if}}{{#if @last}}{{#if season}}, <semantic-link uri="{{season.value}}"></semantic-link>{{/if}}{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- premiere -->
            <semantic-query 
                query='SELECT ?premiere ?premieretype ?timespan
                WHERE {
                    ?performance frbr:R25_performed ?? ;
                        crm:P9_consists_of ?premiere .
                    ?premiere crm:P2_has_type ?premieretype .
                    ?premieretype skos:inScheme spav:hl .
                    OPTIONAL {
                        ?premiere crm:P4_has_time-span ?timespan .
                    }
                }'
            template='<p>{{#each bindings}}{{#if @first}}<mp-label iri="{{premieretype.value}}"></mp-label>{{else}}, <mp-label iri="{{premieretype.value}}"></mp-label>{{/if}}{{/each}}{{#each bindings}}, <mp-label iri="{{timespan.value}}"></mp-label>{{/each}}</p>'>
            </semantic-query>

            <!-- venue -->
            <semantic-query 
                query='SELECT ?venue ?class
                WHERE {
                    ?performance frbr:R25_performed ?? ;
                        crm:P8_took_place_on_or_within ?venue .
                    BIND(IF(CONTAINS(STR($venue), "/u/"), "unidentified", "identified") AS ?class)
                }'
            template='<p>{{#each bindings}}{{#if @first}}<semantic-link class="{{class.value}}" uri="{{venue.value}}"></semantic-link>{{else}}, <semantic-link class="{{class.value}}" uri="{{venue.value}}"></semantic-link>{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- creation functions -->
            <semantic-query 
                query='SELECT ?order ?function ?actor ?class ?activitylabel WHERE {
                      VALUES (?function ?order) {
                        (spav:mutnt 1) # stage direction
                        (spav:mugkn 2) # assistant stage direction
                        (spav:musim 3) # dramaturgy
                        (spav:mubbv 4) # choreography
                        (spav:muqfg 5) # conductor
                        (spav:mufcc 6) # choral conductor
                        (spav:mulga 7) # stage design
                        (spav:murni 8) # light
                        (spav:muecs 9) # costume design
                        (spav:muqju 10) # video
                        (spav:mufwk 11) # projection
                        (spav:muxzh 12) # sound
                      }
                      ?expressioncreation frbr:R17_created ?? ;
                        crm:P9_consists_of ?activity .
                      ?activity crm:P2_has_type ?function ;
                        crm:P14_carried_out_by ?actor .
                        OPTIONAL {
                            ?activity rdfs:label ?activitylabel .
                        }
                        BIND(IF(CONTAINS(STR($actor), "/u/"), "unidentified", "identified") AS ?class)
                      } ORDER BY ASC(?order)'
            template='<div>{{#each bindings}}<p>{{#if activitylabel}}{{activitylabel.value}} (<mp-label iri="{{function.value}}"></mp-label>){{else}}<mp-label iri="{{function.value}}"></mp-label>{{/if}}
                <br/><semantic-link class="{{class.value}}" uri="{{actor.value}}"></semantic-link></p>{{/each}}</div>'>
            </semantic-query>
        </bs-col>
        <bs-col sm="4">

            <!-- performance functions -->
            <semantic-query 
                query='SELECT ?order ?function ?actor ?class ?activitylabel WHERE {
                      VALUES (?function ?order) {
                        (spav:munib 1) # acting
                        (spav:mulcp 2) # dance
                        (spav:muawx 3) # performance
                        (spav:mujhq 4) # pantomine
                        (spav:muhkf 5) # puppet show
                        (spav:muiim 6) # music performance
                        (spav:muygg 7) # singing
                        (spav:mupah 8) # intrumental performance
                        (spav:mudat 9) # oeil extérieur
                        (spav:muacs 10) # narration
                        (spav:mupfz 11) # host
                        (spav:mumnc 12) # moderation
                        (spav:munuj 13) # contribution
                      }
                      ?genericperformance frbr:R25_performed ?? ;
                        crm:P9_consists_of ?activity .
                      ?activity crm:P2_has_type ?function ;
                        crm:P14_carried_out_by ?actor .
                        OPTIONAL {
                            ?activity rdfs:label ?activitylabel .
                        }
                        BIND(IF(CONTAINS(STR($actor), "/u/"), "unidentified", "identified") AS ?class)
                      } ORDER BY ASC(?order)'
            template='<div>{{#each bindings}}<p>{{#if activitylabel}}{{activitylabel.value}} (<mp-label iri="{{function.value}}"></mp-label>){{else}}<mp-label iri="{{function.value}}"></mp-label>{{/if}}
                <br/><semantic-link class="{{class.value}}" uri="{{actor.value}}"></semantic-link></p>{{/each}}</div>'>
            </semantic-query>

        </bs-col>
        <bs-col sm="4">

            <!-- reference functions -->
            <semantic-query 
                query='SELECT ?order ?function ?actor ?class ?activitylabel WHERE {
                      VALUES (?function ?order) {
                        (spav:mujmh 1) # libretto
                        (spav:mufbo 2) # composition
                      }
                      ?? frbr:R14_incorporates ?reference .
                      ?expressioncreation frbr:R17_created ?reference ;
                        crm:P9_consists_of ?activity .
                      ?activity crm:P2_has_type ?function ;
                        crm:P14_carried_out_by ?actor .
                        OPTIONAL {
                            ?activity rdfs:label ?activitylabel .
                        }
                        BIND(IF(CONTAINS(STR($actor), "/u/"), "unidentified", "identified") AS ?class)
                      } ORDER BY ASC(?order)'
            template='<div>{{#each bindings}}<p>{{#if activitylabel}}{{activitylabel.value}} (<mp-label iri="{{function.value}}"></mp-label>){{else}}<mp-label iri="{{function.value}}"></mp-label>{{/if}}
                <br/><semantic-link class="{{class.value}}" uri="{{actor.value}}"></semantic-link></p>{{/each}}</div>'>
            </semantic-query>

        </bs-col>
      </bs-tab>
      
         [[#if (hasPermission "forms:ldp:*")]] 
<bs-tab event-key='Edit' title='Edit'>
        [[> sapaModule:PerformancePlanForm]]
  </bs-tab>
[[/if]]      
      
      
    </bs-tabs>  
</div>