<div class="page rs-page">
  <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
    <bs-tab event-key='about' title='[[i18n "TabSummary" bundle="performing-arts-ch"]]'>

        <bs-col sm="4">

            <semantic-query 
                query='SELECT ?name WHERE { ?? rico:name ?name . } LIMIT 1'
                template='<p><strong>{{#each bindings}}{{name.value}}{{/each}}</strong></p>'>
            </semantic-query>

            <mp-field-visualization
                subject='[[this]]'
                fields='[[fieldDefinitions
                    identifier="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/ThingIdentifier"
                    type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetType"
                    documetary_form="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDocumentaryForm"
                    content_description="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDescription"
                    language="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceLanguage"
                    extent="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceExtent"
                    provenance="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceProvenance"
                    source="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSource"
                    acquisition="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceAcquisition"
                    history="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceHistory"
                    comment="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFSComment"
                ]]'
                template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
                [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
            >
            </mp-field-visualization> 

            [[> sapaModule:RecordResourceDate]]

        </bs-col>

        <bs-col sm="4">

            <!-- subjects -->
            <semantic-query 
                query="SELECT ?label ?subject
                WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetSubject>) }
                    ?? rico:hasSubject ?subject .
                }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <ul class="list-unstyled">
                    {{#each bindings}}
                        <li><semantic-link iri="{{subject.value}}"></semantic-link></li>
                    {{/each}}
                    </ul>
                </div>'>
            </semantic-query>

        </bs-col>

        <bs-col sm="4">

            <h5>Record hierarchy</h5>
            <semantic-tree
                 query='SELECT DISTINCT ?node ?parent ?label WHERE {
                    { ?? rico:includedIn* ?node }
                    UNION
                    { ?node rico:includedIn* ?? } 
                    OPTIONAL {
                        ?node rico:includedIn ?parent.
                        FILTER(ISIRI(?parent))
                    }
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node), "/r/"))
                    ?node rico:name ?label .
                  } ORDER BY ?label
                  LIMIT 50'
               collapsed="false"
               keys-opened='[[this]]'
               parentBindingName="parent"
               nodeBindingName="node"> 
            </semantic-tree>

        </bs-col>

</bs-tab>

[[#if (hasPermission "forms:ldp:*")]] 
<bs-tab event-key='record editing' title='[[i18n "TabEdit" bundle="performing-arts-ch"]]'>
[[> sapaModule:RecordSetForm]]
</bs-tab>
[[/if]]

[[> sapaModule:AdminTabs]]

</bs-tabs>  
</div>
