<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    [[> sapaModule:RecordLabel ]]
  </li>
</ol>

<div class="page rs-page">
    [[#>rsp:ClipboardSidebar]]
    [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/actors.svg"]]
    <bs-tabs id='record-tabs' class='page__body-navtabs' default-active-key='Summary' unmount-on-exit=true>
      <bs-tab event-key='Summary' title='Summary'>
        <bs-col sm="4">
            <!-- common name -->
            <semantic-query 
                query='SELECT ?appellation 
                WHERE {
                    ?? crm:P131_is_identified_by ?appellation .
                    ?appellation a crm:E82_Actor_Appellation ; 
                        crm:P2_has_type spav:yatcx .
                } LIMIT 1'
            template='<p><strong>{{#each bindings}}<mp-label iri="{{appellation.value}}"></mp-label>{{/each}}</strong></p>'>
            </semantic-query>

            <!-- alternative names -->
            <semantic-query 
                query='SELECT ?appellation ?type ?typesort
                WHERE {
                    VALUES (?type ?typesort) { (spav:yapvc 1) (spav:yadpx 2) (spav:yallb 3) (spav:yaajh 4) (spav:yavtx 5) }
                    ?? crm:P131_is_identified_by ?appellation .
                    ?appellation a crm:E82_Actor_Appellation ; 
                        crm:P2_has_type ?type .
                    FILTER ( ?type in (spav:yadpx, spav:yallb, spav:yapvc, spav:yaajh, spav:yavtx) )
                } ORDER BY ?typesort'
                template='<p>{{#each bindings}}{{#if @first}}<mp-label iri="{{appellation.value}}"></mp-label> (<mp-label iri="{{type.value}}"></mp-label>){{else}}<br>
                    <mp-label iri="{{appellation.value}}"></mp-label> (<mp-label iri="{{type.value}}"></mp-label>){{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- comment -->
            <semantic-query 
                query='SELECT ?comment WHERE { ?? rdfs:comment ?comment. }'
                template='<p>{{#each bindings}}{{#if @first}}{{comment.value}}{{else}}, {{comment.value}}{{/if}}{{/each}}</p>'>
            </semantic-query>

            <p>
            <!-- gender -->
            <semantic-query 
                query='SELECT ?gendericon WHERE {
                    ?? crm:P107i_is_current_or_former_member_of ?group .
                    FILTER (CONTAINS(STR(?group), "/g/gender/"))
                    VALUES (?group ?gendericon) { 
                        (<http://data.performing-arts.ch/g/gender/f> "♀") 
                        (<http://data.performing-arts.ch/g/gender/m> "♂") 
                        (<http://data.performing-arts.ch/g/gender/d> "⚥") 
                    }
                }'
                template='<span>{{#each bindings}}<span style="padding-right:0.6em;">{{gendericon.value}}</span>{{/each}}</span>'>
            </semantic-query>

            <!-- nationality -->
            <semantic-query 
                query='SELECT ?nationality WHERE {
                    BIND(EXISTS {?? crm:P107i_is_current_or_former_member_of <http://data.performing-arts.ch/g/nation/ch>} AS ?swiss)
                    BIND(IF(?swiss = "true"^^xsd:boolean, "CH", "") AS ?nationality)
                }'
                template='<span>{{#each bindings}}<span style="padding-right:0.1em;" title="{{nationality.value}}">{{nationality.value}}</span>{{/each}}</span>'>
            </semantic-query>
            </p>

            <!-- date and place of birth -->
            <semantic-query 
                query='SELECT ?birthdate ?birthplace WHERE {
                    ?? crm:P98i_was_born ?birth .
                    ?birth crm:P7_took_place_at ?birthplace ;
                        crm:P4_has_time-span ?timespan .
                    ?timespan crm:P82a_begin_of_the_begin ?dob .
                    BIND(CONCAT(STR(DAY(?dob)), ". ", STR(MONTH(?dob)), ". ", STR(YEAR(?dob))) as ?birthdate)
                } LIMIT 1'
                template='<div>{{#each bindings}}{{#if birthdate}}{{#if birthplace}}* {{/if}}{{/if}}<span style="padding-right:0.1em;" title="{{birthdate.value}}">{{birthdate.value}}</span>{{#if birthdate}}{{#if birthplace}}, {{/if}}{{/if}}
                <semantic-link iri="{{birthplace.value}}">{{birthplace.value}}</semantic-link>{{/each}}</div>'>
            </semantic-query>

            <!-- date and place of death -->
            <semantic-query 
                query='SELECT ?deathdate ?deathplace WHERE {
                    ?? crm:P100i_died_in ?death .
                    ?death crm:P7_took_place_at ?deathplace ;
                        crm:P4_has_time-span ?timespan .
                    ?timespan crm:P82a_begin_of_the_begin ?dod .
                    BIND(CONCAT(STR(DAY(?dod)), ". ", STR(MONTH(?dod)), ". ", STR(YEAR(?dod))) as ?deathdate)
                } LIMIT 1'
                template='<div>{{#each bindings}}{{#if deathdate}}{{#if deathplace}}† {{/if}}{{/if}}<span style="padding-right:0.1em;" title="{{deathdate.value}}">{{deathdate.value}}</span>{{#if deathdate}}{{#if deathplace}}, {{/if}}{{/if}}
                <semantic-link iri="{{deathplace.value}}">{{deathplace.value}}</semantic-link>{{/each}}</div>'>
            </semantic-query>

    </bs-col>
        <bs-col sm="4">

            <!-- groups -->
            <semantic-query 
                query='SELECT ?value ?label WHERE {
                    ?value crm:P107_has_current_or_former_member ?? ;
                        rdfs:label ?label .
                }'
                template='<div><h5>Groups</h5>
    <ul class="list-unstyled">{{#each bindings}}<li><semantic-link iri="{{value.value}}">{{label.value}}</semantic-link></li>
      {{/each}}
    </ul></div>'>
            </semantic-query>

        <mp-field-visualization
            subject='[[this]]'
            fields='[[fieldDefinitions
            note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/Note"
            ]]'
            template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
            [[!-- show in include [[> sapaModule:FieldBasedVisualizationList ]] --]]
        >
        </mp-field-visualization> 

        <!-- record sets -->
        <h5>Record sets</h5>
        <semantic-tree
             query='SELECT DISTINCT ?node ?parent ?label ?description WHERE {
                ?? rdau:P60806 ?record .
                ?record ric:is_member_of* ?node .
                FILTER(ISIRI(?node))
                FILTER(CONTAINS(STR(?node),"/r/"))
                OPTIONAL { ?node ric:is_member_of ?parent. FILTER(ISIRI(?parent)) }
                ?node dc:title ?label .
                OPTIONAL {
                    ?node dc:description ?description .
                }
              }'
              tuple-template='<span><semantic-link uri="{{data.node.value}}"></semantic-link><br>{{data.description.value}}</span>'> 
        </semantic-tree>

        </bs-col>
        <bs-col sm="4">
            [[> sapa:ExternalResources]]
        </bs-col>
      </bs-tab>
    <bs-tab event-key='productions' title='Productions'>
    
        <semantic-table 
          query='SELECT ?season ?plan ?genre ?function
            WHERE {
                ?personactivity crm:P14_carried_out_by ?? ;
                    crm:P2_has_type ?function .
                {
                    # reference work
                    ?referencecreation crm:P9_consists_of ?personactivity ;
                        frbr:R17_created ?reference .
                    ?plan frbr:R14_incorporates ?reference .
                    ?expressioncreation frbr:R17_created ?plan .
                } UNION {
                    # expression creation
                    ?expressioncreation crm:P9_consists_of ?personactivity ;
                        frbr:R17_created ?plan .
                } UNION {
                    # performance
                    ?genericperformance crm:P9_consists_of ?personactivity ;
                        frbr:R25_performed ?plan .
                    ?expressioncreation frbr:R17_created ?plan .
                }
                ?plan a frbr:F25_Performance_Plan .
                OPTIONAL {
                    ?expressioncreation a frbr:F28_Expression_Creation ;
                        crm:P10_falls_within ?season .
                    FILTER(CONTAINS(STR(?season), "/s/"))
                }
                OPTIONAL {
                    ?work frbr:R12_is_realised_in ?plan ;
                        crm:P2_has_type ?genre .
                }
            } ORDER BY ASC(?season)'
          column-configuration='[
            {"variableName": "season", "displayName": "Season"}, 
            {"variableName": "plan", "displayName": "Production"}, 
            {"variableName": "genre", "displayName": "Genre"}, 
            {"variableName": "function", "displayName": "Function"}
          ]'
          number-of-displayed-rows=20
          options='{"showFilter": false}'
        ></semantic-table>


    </bs-tab>
    [[#if (hasPermission "forms:ldp:*")]] 
    <bs-tab event-key='person editing' title='Edit'>
    [[> sapaModule:PersonForm]]
    </bs-tab>
    [[/if]]
    </bs-tabs>
    [[/rsp:ClipboardSidebar]]
</div>