<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
        [[> sapaModule:RecordLabel ]]
    </li>
</ol>

<div class="page">

  [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/things.svg"]] 
  
  <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
    <bs-tab event-key='about' title='About'>

        <bs-col sm="4">
            <h5>Record hierarchy</h5>
            <semantic-tree
                 query='SELECT DISTINCT ?node ?parent WHERE {
                    { 
                      { ?? prov:hadMember* ?node }
                      UNION
                      { ?node prov:hadMember* ?? } 
                    }
                    OPTIONAL { ?parent prov:hadMember ?node. FILTER(ISIRI(?parent)) }
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node),"/r/"))
                    ?node rdfs:label ?label .
                  }
                  ORDER BY ?label'
               collapsed="true"
               keys-opened='[[this]]'
               parentBindingName="parent"
               nodeBindingName="node"> 
            </semantic-tree>
        </bs-col>

        <bs-col sm="4">
            <!-- subjects -->
            <semantic-query 
                query="SELECT DISTINCT ?subject
                WHERE {
                    ?subject rdau:P60806 ?? .
                }"
                template='<div><h5>Subjects</h5><ul class="list-unstyled">{{#each bindings}}<li><semantic-link iri="{{subject.value}}"></semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>
        </bs-col>

        <bs-col sm="4">
            <!-- comment -->
            <semantic-query 
                query='SELECT ?comment WHERE {
                    ?? rdfs:comment ?comment .
                }'
                template='<div><h5>Comments</h5>{{#each bindings}}{{#if @first}}{{comment.value}}{{else}}, {{comment.value}}{{/if}}{{/each}}</div>'>
            </semantic-query>
        </bs-col>

</bs-tab>

[[#if (hasPermission "forms:ldp:*")]] 
<bs-tab event-key='record editing' title='Edit'>
[[> sapaModule:PlaceForm]]
</bs-tab>
[[/if]]

</bs-tabs>  
</div>
