<div class="page rs-page">
  <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
    <bs-tab event-key='about' title='[[i18n "TabSummary" bundle="performing-arts-ch"]]'>

        <bs-row>

        <bs-col sm="4">

            <!-- IDENTIFICATION -->

            <!-- name -->
            <semantic-query 
                query='SELECT ?name WHERE { ?? rico:name ?name . }'
                template='<div>{{#each bindings}}<p><strong>{{name.value}}</strong></p>{{/each}}</div>'>
            </semantic-query>

            <!-- level -->
            <semantic-query 
                query="SELECT ?level WHERE { ?? rico:hasRecordSetType ?level . }"
                template='<div><ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{level.value}}"></mp-label></li>{{/each}}</ul></div>'>
            </semantic-query>

            [[> sapaModule:RecordResourceIdentifier]]

            [[> sapaModule:RecordResourceDate]]

            <!-- extent -->
            <semantic-query 
                query="SELECT ?label ?extent WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceExtent>) }
                    ?? rico:recordResourceExtent ?extent . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li>{{extent.value}}</li>{{/each}}</ul>
                </div>'>
            </semantic-query>        

            <!-- amount -->
            <semantic-query 
                query='SELECT ?amount WHERE { ?? spao:recordResourceAmount ?amount . } LIMIT 1'
                template='<div><h5>Amount</h5>{{#each bindings}}<div>{{amount.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- linear meters -->
            <semantic-query 
                query='SELECT ?meters WHERE { ?? spao:recordResourceLinearMeters ?meters . } LIMIT 1'
                template='<div><h5>Linear Meters</h5>{{#each bindings}}<div>{{meters.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- weight -->
            <semantic-query 
                query='SELECT ?weight WHERE { ?? spao:recordResourceWeight ?weight . }'
                template='<div><h5>Weight</h5>{{#each bindings}}<div>{{weight.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- PROVENANCE -->

            [[> sapaModule:RecordResourceProvenance]]

        </bs-col>

        <bs-col sm="4">

            <!-- CONTENT -->

            <!-- content description -->
            <semantic-query 
                query="SELECT ?label ?content_description WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDescription>) }
                    ?? rico:descriptiveNote ?content_description . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{content_description.value}}</p>{{/each}}</div>
                </div>'>
            </semantic-query>        

            <!-- creator -->
            <semantic-query 
            query="SELECT ?label ?creator WHERE {
                VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceCreator>) }
                ?? rico:createdBy ?creator .
            }"
            template='<div>
                {{#ifCond bindings.length ">" 0}}
                    <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                {{/ifCond}}
                <ul class="list-unstyled">{{#each bindings}}
                    <li><semantic-link iri="{{creator.value}}"></semantic-link></li>
                {{/each}}</ul></div>'>
            </semantic-query>

            <!-- subjects -->
            <semantic-query 
                query="SELECT ?label ?subject
                WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceSubject>) }
                    ?? rico:hasSubject ?subject .
                }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">
                    {{#each bindings}}
                        <li><semantic-link iri="{{subject.value}}"></semantic-link></li>
                    {{/each}}
                    </ul>
                </div>'>
            </semantic-query>

            <!-- places -->
            <semantic-query 
            query="SELECT ?label ?place ?identifier
            WHERE {
                VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourcePlace>) }
                {
                    ?? rico:isAssociatedWithPlace ?place .
                } UNION {
                    ?part rico:isConstituentOf ?? ;
                        rico:isAssociatedWithPlace ?place .
                    OPTIONAL {
                        ?part rico:identifier ?id .
                        BIND(CONCAT(' (', STR(?id), ')') AS ?identifier)
                    }
                }
            } ORDER BY ASC(?identifier)"
            template='<div>
                {{#ifCond bindings.length ">" 0}}
                    <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                {{/ifCond}}
                <ul class="list-unstyled">{{#each bindings}}
                    <li><semantic-link iri="{{place.value}}"></semantic-link> {{identifier.value}}</li>
                {{/each}}</ul></div>'>
            </semantic-query>

            <!-- type of photographic print -->
            <semantic-query 
                query="SELECT ?print WHERE {
                    ?? rico:hasRecordResourceState ?print .
                    ?print skos:inScheme spav:st .
                }"
                template='<div><h5>Type of print</h5>
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{print.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- ASSESSMENT -->

            <!-- cassation -->
            <semantic-query 
                query="SELECT ?label ?cassation WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordSetCassation>) }
                    ?? spao:cassation ?cassation . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{cassation.value}}</p>{{/each}}</div></div>'>
            </semantic-query>

            <!-- documentary form -->
            <semantic-query 
                query="SELECT ?label ?documentary_form WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceDocumentaryForm>) }
                    ?? rico:hasDocumentaryFormType ?documentary_form . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{documentary_form.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- comment -->
            <semantic-query 
                query="SELECT ?label ?comment WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RDFSComment>) }
                    ?? rdfs:comment ?comment . }"
                template='<div>{{#ifCond bindings.length ">" 0}}<h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>{{/ifCond}}
                    <div>{{#each bindings}}<p style="white-space: pre-line;">{{comment.value}}</p>{{/each}}</div></div>'>
            </semantic-query>        

            <!-- ACCESS -->

            [[> sapaModule:RecordResourceAccess]]

            <!-- copyright -->
            <semantic-query 
                query='SELECT ?copyright WHERE { ?? schema:copyrightNotice ?copyright . }'
                template='<div><h5>Copyright</h5>{{#each bindings}}<div>{{copyright.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- copyright declaration -->
            <semantic-query 
                query='SELECT ?value WHERE { ?? spao:hasCopyrightDeclaration ?value . }'
                template='<div><h5>Copyright declaration</h5>
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- use rights -->
            <semantic-query 
                query='SELECT ?use_rights WHERE { ?? rico:conditionsOfUse ?use_rights . }'
                template='<div><h5>Use right</h5>{{#each bindings}}<div>{{use_rights.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- use rights still -->
            <semantic-query 
                query='SELECT ?value WHERE { ?? spao:hasUsageRightsStill ?value . }'
                template='<div><h5>Use rights still</h5>
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- use rights streaming -->
            <semantic-query 
                query='SELECT ?value WHERE { ?? spao:hasUsageRightsStreaming ?value . }'
                template='<div><h5>Use rights streaming</h5>
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{value.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- credit -->
            <semantic-query 
                query='SELECT ?credit WHERE { ?? <http://temp.performing-arts.ch/hasCredit> ?credit . }'
                template='<div><h5>Credit</h5>{{#each bindings}}<div>{{credit.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- language -->
            <semantic-query 
                query="SELECT ?label ?language WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordResourceLanguage>) }
                    ?? rico:language ?language . }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}
                        <h5><semantic-context repository="assets"><mp-label iri="{{bindings.0.label.value}}"></mp-label></semantic-context></h5>
                    {{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}<li><mp-label iri="{{language.value}}"></mp-label></li>{{/each}}</ul>
                </div>'>
            </semantic-query>
            
        </bs-col>

        <bs-col sm="4">

            <!-- ALLIED MATERIALS -->

            <!-- location -->
            <semantic-query 
                query="SELECT ?location WHERE { ?? rico:hasLocation ?location . }"
                template='<div>
                    <h5>Location</h5>
                    <ul class="list-unstyled">{{#each bindings}}<li><semantic-link iri="{{location.value}}"></semantic-link></li>{{/each}}</ul>
                </div>'>
            </semantic-query>

            <!-- doubles -->
            <semantic-query 
                query='SELECT ?double WHERE { ?? <http://temp.performing-arts.ch/hasDouble> ?double . }'
                template='<div><h5>Doubles</h5>{{#each bindings}}<div>{{double.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <h5>Record hierarchy</h5>
            <semantic-tree
                 query='SELECT DISTINCT ?node ?parent ?name ?index ?identifier ?level WHERE {
                    { ?? rico:includedIn* ?node }
                    UNION
                    { ?node rico:includedIn ?? } 
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node), "/r/"))
                    OPTIONAL {
                        ?node rico:includedIn ?parent.
                        FILTER(ISIRI(?parent))
                    }
                    ?node rico:name ?name .
                    OPTIONAL { ?node rico:identifier ?identifier }
                    BIND(IF(BOUND(?identifier), CONCAT(?identifier, ": ", ?name), ?name) AS ?label)
                    OPTIONAL { ?node rico:hasRecordSetType ?rslevel . }
                    BIND(IF(BOUND(?rslevel), ?rslevel, spav:rsitm) AS ?level)
                    OPTIONAL { ?node olo:index ?index }
                  } ORDER BY ASC(?index) ASC(?label)
                  LIMIT 200'
               collapsed="true"
               keys-opened='[[this]]'
               parent-binding-name="parent"
               node-binding-name="node"
               tuple-template='{{> node}}'>
                <template id='node'>
                    <span>{{#if identifier}}{{identifier.value}}: {{/if}}<semantic-link uri="{{node.value}}">{{name.value}}</semantic-link>{{#if level}} (<mp-label iri="{{level.value}}""></mp-label>){{/if}}</span>
                </template>
            </semantic-tree>

            <!-- related material -->
            <semantic-query 
                query='SELECT ?related WHERE { ?? <http://temp.performing-arts.ch/isRelatedTo> ?related . }'
                template='<div><h5>Related</h5>{{#each bindings}}<div>{{related.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- notes -->
            <semantic-query 
                query='SELECT ?note WHERE { ?? spao:hasNote ?note . }'
                template='<div><h5>Note</h5>{{#each bindings}}<div style="margin-top: 0.8em; white-space: pre-line;">{{note.value}}</div>{{/each}}</div>'>
            </semantic-query>

            [[#if (hasPermission "forms:ldp:*")]] 
            <!-- internal notes -->
            <semantic-query 
                query='SELECT ?note WHERE { ?? spao:hasInternalNote ?note . }'
                template='<div><h5>Internal note</h5>{{#each bindings}}<div style="margin-top: 0.8em; white-space: pre-line;">{{note.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- responsible employee -->
            <semantic-query 
                query='SELECT ?employee WHERE { ?? spao:hasResponsibleEmployee ?employee . }'
                template='<div><h5>Responsible employee</h5><ul class="list-unstyled">{{#each bindings}}<li>{{employee.value}}</li>{{/each}}</ul></div>'>
            </semantic-query>
            [[/if]]

            <!-- processing convention -->
            <semantic-query 
                query='SELECT ?convention WHERE { ?? spao:hasProcessingConvention ?convention . }'
                template='<div><h5>Processing convention</h5>{{#each bindings}}<div>{{convention.value}}</div>{{/each}}</div>'>
            </semantic-query>

            <!-- processing date -->
            <semantic-query 
                query="SELECT ?single_date ?single_qualifier ?single_certainty ?beginning_date ?beginning_qualifier ?beginning_certainty ?end_date ?end_qualifier ?end_certainty
                WHERE {
                    ?? spao:hasProcessingDate ?date .
                    {
                        {
                            ?date rico:normalizedDateValue ?normalized_date .
                        } UNION {
                            ?date rico:expressedDate ?expressed_date .
                        }
                        BIND(IF(BOUND(?expressed_date), ?expressed_date, ?normalized_date) AS ?single_date)
                        OPTIONAL { ?date rico:dateQualifier ?single_qualifier . }
                        OPTIONAL { ?date rico:certainty ?single_certainty . }
                    } UNION {
                        ?date a rico:DateRange .
                        OPTIONAL {
                            ?date rico:hasBeginningDate ?b .
                            ?b rico:normalizedDateValue ?beginning_date .
                            OPTIONAL { ?b rico:dateQualifier ?beginning_qualifier . }
                            OPTIONAL { ?b rico:certainty ?beginning_certainty . }
                        }
                        OPTIONAL {
                            ?date rico:hasEndDate ?e .
                            ?e rico:normalizedDateValue ?end_date .
                            OPTIONAL { ?e rico:dateQualifier ?end_qualifier . }
                            OPTIONAL { ?e rico:certainty ?end_certainty . }
                        }
                    }
                }"
                template='<div>
                    {{#ifCond bindings.length ">" 0}}<h5>Processing date</h5>{{/ifCond}}
                    <ul class="list-unstyled">{{#each bindings}}
                        <li>
                            {{#if single_date.value}}
                                {{#if single_qualifier.value}}<mp-label iri="{{single_qualifier.value}}"></mp-label> {{/if}}
                                {{single_date.value}}
                                {{#if single_certainty.value}}<span> (<mp-label iri="{{single_certainty.value}}"></mp-label>)</span>{{/if}}
                            {{else}}
                                {{#if beginning_date.value}}
                                    {{#if beginning_qualifier.value}}<mp-label iri="{{beginning_qualifier.value}}"></mp-label> {{/if}}
                                    {{beginning_date.value}}
                                    {{#if beginning_certainty.value}}<span> (<mp-label iri="{{beginning_certainty.value}}"></mp-label>)</span>{{/if}}
                                {{/if}}
                                <span> - </span>
                                {{#if end_date.value}}
                                    {{#if end_qualifier.value}}<mp-label iri="{{end_qualifier.value}}"></mp-label> {{/if}}
                                    {{end_date.value}}
                                    {{#if end_certainty.value}}<span> (<mp-label iri="{{end_certainty.value}}"></mp-label>)</span>{{/if}}
                                {{/if}}
                            {{/if}}
                        </li>
                    {{/each}}</ul></div>'
                >
            </semantic-query>
            
            [[#if (hasPermission "forms:ldp:*")]] 
            <semantic-query 
            query='SELECT ?user ?datetime WHERE {
              GRAPH ?g {
                ?? rdfs:label ?label .
                Platform:formContainer <http://www.w3.org/ns/ldp#contains> ?container .
                ?container prov:generatedAtTime ?dt ;
                           prov:wasAttributedTo ?user_uri .
                BIND(STRAFTER(STR(?user_uri), "/user/") as ?user)
                BIND(CONCAT(STR(DAY(?dt)), ".", STR(MONTH(?dt)), ".", STR(YEAR(?dt))) AS ?datetime)
              }
            } LIMIT 1'
            template='<div><small>{{#each bindings}}{{user.value}}, {{datetime.value}}{{/each}}</small></div>'>
            </semantic-query>
            [[/if]]

        </bs-col>

    </bs-row>

    </bs-tab>

    [[#if (hasPermission "forms:ldp:*")]] 
    <bs-tab event-key='record editing' title='[[i18n "TabEdit" bundle="performing-arts-ch"]]'>
    [[> sapaModule:RecordSetForm]]
    </bs-tab>
    [[/if]]

[[> sapaModule:AdminTabs]]

</bs-tabs>  
</div>
