<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
        [[> sapaModule:RecordLabel ]]
    </li>
</ol>

<div class="page">
  [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/places.svg"]] 
  
  <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
    <bs-tab event-key='about' title='About'>

        <bs-col sm="4">
            <h5>Place hierarchy</h5>
            <semantic-tree
                 query='SELECT DISTINCT ?node ?parent WHERE {
                    { 
                      { ?? crm:P89_falls_within* ?node }
                      UNION
                      { ?node crm:P89_falls_within* ?? } 
                    }
                    OPTIONAL { ?node crm:P89_falls_within ?parent. FILTER(ISIRI(?parent)) }
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node),"/p/"))
                    ?node rdfs:label ?label .
                  } ORDER BY ?label'
               collapsed="true"
               keys-opened='[[this]]'
               parentBindingName="parent"
               nodeBindingName="node"> 
            </semantic-tree>
        </bs-col>

        <bs-col sm="4">
            [[> sapaModule:ExternalResources]]
        </bs-col>

        <bs-col sm="4">
            [[> sapa:WikiPlaceMap]]
        </bs-col>

</bs-tab>
<bs-tab event-key="2" title="Groups, Venues, Persons">

    <bs-row>
        <bs-col sm="4">
            <semantic-query 
                query='SELECT DISTINCT ?fieldlabel ?group WHERE {
                    VALUES (?fieldlabel) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PlaceGroups>) }
                    ?groupsite crm:P89_falls_within ?? .
                    ?group crm:P74_has_current_or_former_residence ?groupsite ;
                        rdfs:label ?label .
                } ORDER BY lcase(?label)'
                template='<div>{{#each bindings}}{{#if @first}}<h5><semantic-context repository="assets"><mp-label iri="{{fieldlabel.value}}"></mp-label></semantic-context></h5><ul class="list-unstyled">{{/if}}<li><semantic-link iri="{{group.value}}">{{label.value}}</semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>
        </bs-col>
        <bs-col sm="4">
            <semantic-query 
                query='SELECT DISTINCT ?fieldlabel ?venue WHERE {
                    VALUES (?fieldlabel) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/GroupVenue>) }
                    ?venuesite crm:P89_falls_within ?? .
                    ?venue crm:P156_occupies ?venuesite ;
                        crm:P2_has_type spav:dwmkn ;
                        rdfs:label ?label .
                } ORDER BY lcase(?label)'
                template='<div>{{#each bindings}}{{#if @first}}<h5><semantic-context repository="assets"><mp-label iri="{{fieldlabel.value}}"></mp-label></semantic-context></h5><ul class="list-unstyled">{{/if}}<li><semantic-link iri="{{venue.value}}">{{venue.label}}</semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>
        </bs-col>
        <bs-col sm="4">
            <semantic-query 
                query='SELECT DISTINCT ?person ?fieldlabel (GROUP_CONCAT(DISTINCT ?eventstr; SEPARATOR=", ") AS ?lifedates)
                WHERE {
                    VALUES (?fieldlabel) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/PlacePersons>) }
                    ?event crm:P7_took_place_at ?? .
                    {
                        ?event a crm:E67_Birth .
                        ?person crm:P98i_was_born ?event .
                        ?person rico:birthDate [ rico:normalizedDateValue ?dob ] .
                        BIND(CONCAT("* ", SUBSTR(?dob, 0, 4)) as ?eventstr)
                    }
                    UNION 
                    {
                        ?event a crm:E69_Death .
                        ?person crm:P100i_died_in ?event .
                        ?person rico:deathDate [ rico:normalizedDateValue ?dob ] .
                        BIND(CONCAT("† ", SUBSTR(?dob, 0, 4)) as ?eventstr)                            
                    }
                } GROUP BY ?person ?fieldlabel
                ORDER BY ASC(?personlabel)'
                template='<div>{{#each bindings}}
                    {{#if @first}}<h5><semantic-context repository="assets"><mp-label iri="{{fieldlabel.value}}"></mp-label></semantic-context></h5><ul class="list-unstyled">{{/if}}
                        <li><semantic-link iri="{{person.value}}">{{person.value}}</semantic-link>
                        {{#if lifedates}} ({{lifedates.value}}){{/if}}</li>
                    {{/each}}</ul></div>'>
            </semantic-query>
        </bs-col>
    </bs-row>

</bs-tab>

[[#if (hasPermission "forms:ldp:*")]] 
<bs-tab event-key='place editing' title='Edit'>
[[> sapaModule:PlaceForm]]
</bs-tab>
[[/if]]

</bs-tabs>  
</div>
