<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
        [[> sapaModule:RecordLabel ]]
    </li>
</ol>

<div class="page">

    [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/actors.svg"]]

    <bs-tabs id='record-tabs' class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
        <bs-tab event-key='about' title='About'>
            [[> sapaModule:GroupSummary]]
        </bs-tab>

      
       [[#if (ask 'ASK {{ ?activity <http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by> ?? . ?activity a <http://www.cidoc-crm.org/cidoc-crm/E7_Activity>}}')]]

        <bs-tab event-key='productions' title='Productions'>
             
            [[> sapaModule:GroupProductions]]
       
        </bs-tab>

      

        [[/if]]

        [[#if (hasPermission "forms:ldp:*")]] 
        <bs-tab event-key='group' title='Edit'>
            [[> sapaModule:GroupForm]]
        </bs-tab>
        [[/if]]

    </bs-tabs>
</div>