<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
        [[> sapaModule:RecordLabel ]]
    </li>
</ol>

<div class="page">
    <!-- [[#>rsp:ClipboardSidebar]] -->
    [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/things.svg"]]
  
    <bs-tabs id='record-tabs' class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
        <bs-tab event-key='about' title='About'>

        <bs-col sm="4">

            <!-- official name -->
            <semantic-query 
                query='SELECT ?officialtitle ?addendum
                WHERE {
                    ?? crm:P102_has_title ?title .
                    ?title a crm:E35_Title ; 
                        crm:P2_has_type spav:yanuj ;
                        rdf:value ?officialtitle .
                    OPTIONAL {
                        ?? crm:P131_is_identified_by [
                            a crm:E41_Appellation ; 
                            crm:P2_has_type spav:yaztb ;
                            rdf:value ?addvalue
                        ]
                        BIND(CONCAT("&lt;", ?addvalue, "&gt;") AS ?addendum)
                    }
                } LIMIT 1'
            template='<p>{{#each bindings}}<strong>{{officialtitle.value}}</strong>{{#if addendum}} {{addendum.value}}{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- alternative names -->
            <semantic-query 
                query='SELECT DISTINCT ?title ?type ?typesort
                WHERE {
                    VALUES (?type ?typesort) { (spav:yasis 1) (spav:yamqk 2) (spav:yavtx 3) }
                    ?? crm:P102_has_title ?title .
                    ?title a crm:E35_Title ; 
                        crm:P2_has_type ?type ;
                        rdf:value ?value .
                    FILTER(?type IN (spav:yasis, spav:yamqk, spav:yavtx))
                } ORDER BY ?typesort'
                template='<p>{{#each bindings}}{{#if @first}}<mp-label iri="{{title.value}}"></mp-label> (<mp-label iri="{{type.value}}"></mp-label>)
                    {{else}}<br><mp-label iri="{{title.value}}"></mp-label> (<mp-label iri="{{type.value}}"></mp-label>){{/if}}{{/each}}</p>'
                >
            </semantic-query>

            <!-- byline -->
            <semantic-query 
                query="SELECT ?byline
                WHERE {
                    ?? crm:P131_is_identified_by ?byline .
                    ?byline a crm:E41_Appellation ;
                    crm:P2_has_type spav:yauzw .
                } LIMIT 1"
                template='<p>{{#each bindings}}<mp-label iri="{{byline.value}}"></mp-label>{{/each}}</p>'>
            </semantic-query>

            <!-- description -->
            <semantic-query 
                query="SELECT ?description
                WHERE {
                    ?? crm:P3_has_note ?description.
                    ?description crm:P2_has_type spav:eoept .
                } LIMIT 1"
                template='<p>{{#each bindings}}<mp-label iri="{{description.value}}"></mp-label>{{/each}}</p>'>
            </semantic-query>

            <!-- place -->
            <semantic-query 
                query="SELECT ?place
                WHERE {
                    ?? crm:P156_occupies ?p .
                    ?p crm:P89_falls_within ?place .
                }"
                template='<p>{{#each bindings}}{{#if @first}}<semantic-link iri="{{place.value}}">{{label.value}}</semantic-link>{{else}}, <semantic-link iri="{{place.value}}">{{label.value}}</semantic-link>{{/if}}{{/each}}</p>'>
            </semantic-query>

            <!-- dates -->
            <semantic-query 
                query='SELECT ?dates
                WHERE {
                    OPTIONAL {
                        ?? rico:hasBeginningDate [ rico:normalizedDateValue ?beginning ]
                    }
                    OPTIONAL {
                        ?? rico:hasEndDate [ rico:normalizedDateValue ?end ]
                    }
                    BIND(CONCAT(COALESCE(?beginning, "X"), "-", COALESCE(?end, "X")) AS ?predates)
                    BIND(REPLACE(REPLACE(?predates, "X-X", ""), "X", "") AS ?dates)
                }'
                template='{{#each bindings}}<p>{{dates.value}}</p>{{/each}}'>
            </semantic-query>

            <!-- managed by / part of / contains -->
            <mp-field-visualization
                subject='[[this]]'
                fields='[[fieldDefinitions
                    contains="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueContains"
                    management="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueManagement"
                    part_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueIsPartOf"
                ]]'
                template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
                >
            </mp-field-visualization> 

            <semantic-chart type='donut' types='["pie", "donut"]'
            query='SELECT ?producer (COUNT(?plan) AS ?plancount)
            WHERE {
                ?genericperformance crm:P8_took_place_on_or_within ?? ;
                    a frbroo:F31_Performance ;
                frbroo:R25_performed ?plan .
                ?expressioncreation frbroo:R17_created ?plan ;
                    crm:P9_consists_of ?production .
                ?production crm:P2_has_type spav:muwgo ;
                    crm:P14_carried_out_by ?producer .
                FILTER(CONTAINS(STR(?producer), "/a/"))
            } GROUP BY ?producer
            ORDER BY DESC(?plancount)'
            sets='[{"dataSetName": "Productions", "category": "producer", "value": "plancount"}]'
            styles='[{
              "provider": "chartjs",
              "style": {
                  "data": {
                      "datasets": [
                          { 
                          "borderColor": "rgb(255, 255, 255, 1)",
                          "borderWidth": "2"
                          }
                      ]
                  },
                  "options": {
                      "layout": {
                          "padding": {
                              "top": "0"
                          }
                      },
                      "legend": {
                          "position": "none"
                      }
                  }
              }
             }]'
          ></semantic-chart>

          <semantic-query 
            query='SELECT ?label ?producer (COUNT(?plan) AS ?plancount)
            WHERE {
                VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/VenueProducers>) }
                ?genericperformance crm:P8_took_place_on_or_within ?? ;
                    a frbroo:F31_Performance ;
                frbroo:R25_performed ?plan .
                ?expressioncreation frbroo:R17_created ?plan ;
                    crm:P9_consists_of ?production .
                ?production crm:P2_has_type spav:muwgo ;
                    crm:P14_carried_out_by ?producer .
                FILTER(CONTAINS(STR(?producer), "/a/"))
            } GROUP BY ?label ?producer
            ORDER BY DESC(?plancount)' 
            template='{{> producer-list}}'>
            <template id='producer-list'>
                <div style="margin: 1em 0em;">
                    {{#each bindings}}
                    {{#if @first}}<h5><semantic-context repository="assets"><mp-label iri="{{label.value}}"></mp-label></semantic-context></h5><semantic-link iri="{{producer.value}}"></semantic-link> ({{plancount.value}}){{else}}, <semantic-link iri="{{producer.value}}"></semantic-link> ({{plancount.value}}){{/if}}
                    {{/each}}
                </div>
            </template>
        </semantic-query>

        </bs-col>

        <bs-col sm="4">
            <mp-field-visualization
                subject='[[this]]'
                fields='[[fieldDefinitions
                    note_public="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/NotePublic"
                ]]'
                template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
            >
            </mp-field-visualization> 

            [[#if (hasPermission "forms:ldp:*")]]
            <mp-field-visualization
                subject='[[this]]'
                fields='[[fieldDefinitions
                    note_internal="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/NoteInternal"
                ]]'
                template='{{> sapaModule:FieldBasedVisualizationList subject="[[this]]"}}' 
            >
            </mp-field-visualization> 
            [[/if]]
        
            <!-- record sets -->
            <semantic-query 
                query='SELECT ?label WHERE {
                    VALUES (?label) { (<http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/RecordsBern>) }
                    ?record rico:hasSubject ?? .
                } LIMIT 1'
                template='<h5>{{#each bindings}}<semantic-context repository="assets"><mp-label iri="{{label.value}}"></mp-label></semantic-context>{{/each}}</h5>'>
            </semantic-query>

            [[#if (hasPermission "forms:ldp:*")]]
            <semantic-tree
                query='SELECT DISTINCT ?node ?parent WHERE {
                    ?record rico:hasSubject ?? ;
                        rico:includedIn* ?node .
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node), "/r/"))
                    OPTIONAL { ?node rico:includedIn ?parent. FILTER(ISIRI(?parent)) }
                }'
                tuple-template='<span><semantic-link iri="{{data.node.value}}"></semantic-link></span>'> 
            </semantic-tree>
            [[else]]
            <semantic-query 
                query='SELECT ?docform ?extent ?desciptivenote WHERE {
                    ?record rico:hasSubject ?? ;
                        rico:hasDocumentaryFormType ?docform .
                    OPTIONAL { ?record rico:recordResourceExtent ?extent .}
                    OPTIONAL { ?record rico:descriptiveNote ?desciptivenote . }
                }'
                template='<div>{{#each bindings}}{{#if @first}}<mp-label iri="{{docform.value}}"></mp-label>{{else}}, <mp-label iri="{{docform.value}}"></mp-label>{{/if}}{{#if @last}}{{#if desciptivenote}}, {{desciptivenote.value}}{{/if}}{{#if extent}} ({{extent.value}}){{/if}}{{else}}{{/if}}{{/each}}</div>'>
            </semantic-query>
            [[/if]]


        </bs-col>

        <bs-col sm="4">
            [[> sapaModule:ExternalResources]]
        </bs-col>

    </bs-tab>
    <bs-tab event-key='productions' title='Productions'>

        [[> sapaModule:VenueProductions]]

    </bs-tab>

    [[#if (hasPermission "forms:ldp:*")]] 
    <bs-tab event-key='place editing' title='Edit'>
    [[> sapaModule:VenueForm]]
    </bs-tab>
    [[/if]]

  </bs-tabs>  
  <!-- [[/rsp:ClipboardSidebar]] -->
</div>