<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
        [[> sapaModule:RecordLabel ]]
    </li>
</ol>

<div class="page">

  [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/places.svg"]] 
  
  <bs-tabs class='page__body-navtabs' default-active-key='about' unmount-on-exit=true>
    <bs-tab event-key='about' title='About'>

        <bs-col sm="4">
            <h5>Place Hierarchy</h5>
            <semantic-tree
                 query='SELECT DISTINCT ?node ?parent WHERE {
                    { 
                      { ?? crm:P89_falls_within* ?node }
                      UNION
                      { ?node crm:P89_falls_within* ?? } 
                      ?referrer crm:P89_falls_within ?node .
                    }
                    OPTIONAL { ?node crm:P89_falls_within ?parent. FILTER(ISIRI(?parent)) }
                    FILTER(ISIRI(?node))
                    FILTER(CONTAINS(STR(?node),"/p/"))
                    ?node rdfs:label ?label .
                  } ORDER BY ?label
               '
               collapsed="true"
               keys-opened='[[this]]'
               parentBindingName="parent"
               nodeBindingName="node"> 
            </semantic-tree>
        </bs-col>

        <bs-col sm="4">
            <semantic-query 
            query='SELECT ?value ?label WHERE {
                ?? owl:sameAs ?value
                BIND (replace(str(?value), ".*\\/", "") as ?localname)
                BIND (strbefore(str(?value), ?localname) as ?prefix)

                VALUES (?prefix ?source)
                {
                  ("http://www.wikidata.org/entity/" "Wikidata")
                  ("https://www.wikidata.org/wiki/" "Wikidata")
                  ("http://geonames.org/" "Geonames")
                  ("http://viaf.org/viaf/" "VIAF")
                  ("http://d-nb.info/gnd/" "GND")
                  ("http://classifications.data.admin.ch/municipality/" "Swiss Municipality")
                  ("http://classifications.data.admin.ch/canton/" "Swiss Municipality")
                }
                BIND (CONCAT(?source," [",?localname,"]") as ?label)
            }'
            template='<div><h5>External Databases</h5>
            <ul>{{#each bindings}}<li><a target="_blank" href="{{value.value}}"> {{label.value}} </a></li>
              {{/each}}
            </ul></div>'>
            </semantic-query>
        </bs-col>

        <bs-col sm="4">
            [[> sapa:WikiPlaceMap]]
        </bs-col>

</bs-tab>
<bs-tab event-key="2" title="Groups and Venues">

    <bs-row>
        <bs-col sm="4">
            <semantic-query 
                query='SELECT ?value ?label WHERE {
                  ?site crm:P89_falls_within ?? .
                  ?value crm:P74_has_current_or_former_residence ?site ;
                    rdfs:label ?label .
                } ORDER BY lcase(?label)'
                template='<div><h5>Groups</h5><ul>{{#each bindings}}<li><semantic-link uri="{{value.value}}">{{label.value}}</semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>
        </bs-col>

        <bs-col sm="4">
            <semantic-query 
                query='SELECT ?value ?label WHERE {
                  ?site crm:P89_falls_within ?? .
                  ?value crm:P156_occupies ?site ;
                    crm:P2_has_type spav:dwmkn ;
                    rdfs:label ?label .
                } ORDER BY lcase(?label)'
                template='<div><h5>Venues</h5><ul>{{#each bindings}}<li><semantic-link uri="{{value.value}}">{{label.value}}</semantic-link></li>{{/each}}</ul></div>'>
            </semantic-query>
        </bs-col>

        <bs-col sm="4">
            
        </bs-col>
    </bs-row>

</bs-tab>

[[> sapaModule:PlaceEditingTab]]

</bs-tabs>  
</div>
