<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    [[> sapaModule:RecordLabel ]]
  </li>
</ol>

<div class="page">

  [[> sapaModule:RecordNavTabHeader defaultImage="../images/fcs/things.svg"]]
  
  <bs-tabs id='record-tabs' class='page__body-navtabs--borderless' default-active-key='summary' unmount-on-exit=true>
    <bs-tab event-key='summary' title='Summary'>
      <div data-flex-layout='row top-stretch'>
        [[#if (ask "ASK { ?? crm:P65_shows_visual_item ?item . }")]]
        <div data-flex-self='size-xsmall'>
          [[!--  IIIF configuration here --]] IIIF t.b.d.
        </div>
        [[else]]
        <div data-flex-self='size-xsmall' style="color:#e8e6e6;font-weight:700;" class="text-center">
          <i class="fa fa-file-image-o" style="font-size:70px;" aria-hidden="true"></i><br><br>
          No document preview available.
        </div>
        [[/if]]
        <div class='table-responsive'>
          <table class='table'>
            <thead role='header'>
              <tr>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <mp-field-visualization
            subject='[[this]]'
            fields='[[fieldDefinitions
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_type="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_type"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_contact_point="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_has_contact_point"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E18_Physical_Thing_is_composed_of="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E18_Physical_Thing_is_composed_of"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E19_Physical_Object_has_current_permanent_location="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E19_Physical_Object_has_current_permanent_location"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_current_or_former_member_of_group="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E39_Actor_is_current_or_former_member_of_group"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by_timespan="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_formed_by_timespan"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_dissolved_by_timespan="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E74_Group_was_dissolved_by_timespan"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E18_Physical_Thing_occupies_locartion="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E18_Physical_Thing_occupies_locartion"
              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E1_CRM_Entity_has_note"

              http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E22_Man-Made_Object_Venue_managed_by="http://performing-arts.ch/ldp-assets/fieldDefinitionContainer/E22_Man-Made_Object_Venue_managed_by"
            ]]'

            template='{{> sapaModule:FieldBasedVisualization subject="[[this]]"}}' [[!-- [[>sapaModule:FieldBasedVisualization]] --]] 
            ></mp-field-visualization>
          </table>
        </div>
      </div>
    </bs-tab>
  </bs-tabs>  
</div>
